[2019-10-17 13:49] rickhanlonii commented on #1338
Wow, thanks everyone!

All of the docs have been claimed and there are only 13 left in progress!!

[2019-10-18 09:58] rickhanlonii commented on #1338
Just a few left now! If you need anything to wrap your version up just let me know! You can message here or if you feel more comfortable you can DM me on [twitter](https://twitter.com/rickhanlonii) 🛸

[2019-10-18 22:45] adrielklein commented on #1329
yes the example is wrong and confusing. thanks for pointing this out @blakek

[2019-10-19 03:52] dibosh commented on #1338
Opened the PR(https://github.com/facebook/react-native-website/pull/1412/files) for `0.43`

[2019-10-19 07:41] bolah2009 commented on #1338
@rickhanlonii I think `website/versioned_docs/version-0.38` is done in #1392 :thinking:

[2019-10-19 13:35] rickhanlonii commented on #1338
Just four more to go! It would be great to wrap this up by Monday so let's set a deadline of tomorrow morning to finish the remaining four - if you can't finish by then, no worries we're all here to help and someone else can take it over ✨

[2019-10-20 22:10] mitulsavani commented on #1338
Hi Ricky,
I did not claim to work on v0.16, but I still submitted a PR (#1416). Feel free to merge it if you want to wrap this up sooner! Also, let me know if you want me to work on the other two remaining versions I can submit it in an hour.

[2019-10-20 22:12] salvariable commented on #1338
Glad to help with one more if needed

[2019-10-20 23:16] rickhanlonii commented on #1338
Thanks you!

Yeah if either of you want to do the last version (0.18) that would be great!

[2019-10-20 23:17] mitulsavani commented on #1338
I got it

[2019-10-21 00:12] rickhanlonii commented on #1338
WOW YOU ALL FINISHED THIS IN 6 DAYS 🎉

THANKS SO MUCH 💖✨

[2019-10-21 00:12] #1338 closed

[2019-10-21 00:21] rickhanlonii commented on #1338
Huge shout out to all of the people who helped out, you all make me proud to be a part of this community: @salvariable @bolah2009 @thackley @walaura @medeirosjoaquim @mats-codes @carolstran @mitulsavani @matthew-was @kirsty-simmonds @hatwell @eamoses @YutamaKotaro @yakovleva-tanya @tchayen @rickhanlonii @takutakutakujiro @sogafish @shukubota @sasurau4 @nitaking @Naturalclar @mesaugat @mateosilguer

[2019-10-23 23:08] quetzaluz opened #1427 "Navigator page: anchor tags lead to 404 pages, Edit link leads to github 404"
To reproduce:
- Visit https://facebook.github.io/react-native/docs/0.43/navigator.html
- Click any of the method links, for example onWillFocus
- You arrive at a 404 page at that route: https://facebook.github.io/react-native/docs/0.43/navigator.md#onwillfocus
<img width="904" alt="Screen Shot 2019-10-23 at 4 08 20 PM" src="https://user-images.githubusercontent.com/3665912/67440841-60957400-f5af-1

[2019-10-23 23:55] quetzaluz opened #1428 "Navigator page: push method entry named XXXX, similar errors elsewhere"
Reproduce steps:
- At https://facebook.github.io/react-native/docs/0.43/navigator.html
- `push` and `replacePreviousAndPop` have incorrect naming with XXXX (see screenshot)
<img width="1305" alt="Screen Shot 2019-10-23 at 4 54 28 PM" src="https://user-images.githubusercontent.com/3665912/67442518-f3d1a800-f5b5-11e9-9bec-fc8ca4f2c262.png">

[2019-10-25 00:32] quetzaluz commented on #1428
Also found the title for `popN` is incorrect, fixed this in the PR for this issue

[2019-10-25 16:31] quetzaluz commented on #1427
Noting that this is also occuring for https://facebook.github.io/react-native/docs/0.43/navigatorios

Affected pages also lead to github 404 pages when you click edit, ex https://github.com/facebook/react-native-website/blob/master/docs/navigatorios.md

issue seems to be when these pages do not exist in the root docs directory

[2019-10-27 09:33] haruelrovix commented on #1272
See this changes on React Native for example.

- https://github.com/facebook/react-native/blob/v0.59.10/Libraries/Components/View/ViewAccessibility.js#L43
- https://github.com/facebook/react-native/blob/v0.60.0/Libraries/Components/View/ViewAccessibility.js#L16

Based on the changes, `AccessibilityRole` **before** v0.60 should contain **11** items only, from `none` to `summary`.

But here's the LI

[2019-10-29 02:45] tomzmyslo opened #1441 "Site is scoring a 96 on accessibility"
Current Lighthouse audit only scores 96 for accessibility. Adding `lang` attribute to the `html` element should boost the score to 💯.

[2019-11-02 07:32] samslow commented on #1427
This problem occurs in more places than you think.
I've had the same problem with the flatlist.
What these problems have in common is that they are linked to '.md'

I'll fix it.

[2019-11-06 21:43] JoelMarcey commented on #1441
cc @endiliey , @yangshun as we look at Docusaurus v2. And maybe a fix to v1 as well.

[2019-11-09 10:05] natasha08n opened #1459 "onSubmitEditing prop works in multiline TextInput if blurOnSubmit passed"
According to documentation: https://facebook.github.io/react-native/docs/textinput#onsubmitediting

```onSubmitEditing is invalid if multiline={true} is specified.```

But it is incorrect because `onSubmitEditing` method is invoked if input is `multiline` and has `blurOnSubmit` prop with `true` value

Example:
[code]

RN version: 0.59.10
Tested on Android and iOS

[2019-11-09 13:09] ferrannp commented on #1315
Came here to talk about the same :D. This is the PR and the description https://github.com/facebook/react-native/commit/5ec382d.

Where in the docs would make sense to have it? https://facebook.github.io/react-native/docs/dimensions page?

[2019-11-10 00:59] njbmartin opened #1460 "Add Typescript to existing project: Do not rename index.js"
This took me way too long to realise, but renaming `index.js` to `index.ts` will cause the production build process to fail at the `bundle React` step.

[2019-11-11 16:58] jrr opened #1462 "Document how to understand and improve compile-time memory usage"
Our app's release-mode bundling recently exceeded 4GB, which fails in CI. We've addressed this by migrating to a beefier build agent, but it would be Good For The Community if moderately-sized React Native apps could be built on 4GB CI agents, like those found at [Circle](https://circleci.com/pricing/) and [Travis](https://docs.travis-ci.com/user/reference/overview/#virtualisation-environment-vs-o

[2019-11-12 16:15] jrr commented on #1340
Another major difference between `run-android` and `run-android --variant release` is:

- Whether the app is going to be signed

To add a practical use case, today I'm looking into a release-only issue, and it seems strange to me that _production-mode javascript execution_ is coupled to _production mode signed packaging_.

How can you get one without the other? I don't see this in the documentatio

[2019-11-16 19:22] iway1 opened #1470 "Non-Working Example Is Used In AppState docs"
The example used at https://facebook.github.io/react-native/docs/appstate does not work because of a misuse of the `this` keyword in a scope where it doesn't refer to the object the author thinks it refers to. Specifically, the code sets up a listener to call a function that is within a `React.Component`. Within that function, there is a line of code referencing `this.state.appState`... The proble

[2019-11-18 14:54] #1428 closed

[2019-11-19 17:44] jkeam commented on #1089
Agreed, and I don't even know what I'm looking at here with this code snippet:

<img width="860" alt="wat" src="https://user-images.githubusercontent.com/48856/69171502-162de700-0aca-11ea-9ff1-af4f3ee05128.png">

[2019-11-20 15:03] #1460 closed

[2019-11-23 21:12] rickhanlonii commented on #1272
@haruelrovix why would we delete them instead of fixing them?

[2019-11-26 17:15] isa3bel commented on #294
I'll create a pr for this!

[2019-11-26 17:22] isa3bel commented on #1459
I'll remove this line and submit a PR

[2019-11-26 17:54] isa3bel commented on #1230
will you elaborate on the issue more? I am down to try to fix this!

[2019-11-26 17:57] isa3bel commented on #333
Can you be more specific in the problem?

[2019-11-28 03:31] jmeistrich commented on #1230
Sure! The Getting Started page starts with the "Expo CLI Quickstart" section selected, so the elements under "React Native CLI Quickstart" are hidden. So it's not possible to deep link into a section of the CLI Quickstart, which we were trying to do in the doctor command of the CLI. @rachelnabors asked me to create this issue as it might be fixable when redesigning the page.

[2019-11-29 18:54] matheuschagas commented on #181
Any changes? I'll be glade to collaborate translating the docs to Portuguese

[2019-12-02 17:56] msalpietro opened #1489 "Accessibility properties: accessibilityValue property not included in 0.61.5"
Looks like the [commit for accessibilityValue](https://github.com/facebook/react-native/commit/7df3eea1a79f12c2dfff1976d0cef605a83232ec) isn't currently included in the latest release, 0.61.5, but made it into the docs.

[2019-12-03 08:59] Pczek opened #1491 "Add `since` information to APIs"
I've just found out about the `Modal` API and was quite confused that this exists. It's super hard to find out in which release this was added. Therefore I would like to propose to add information about the version in which this API was introduced to the docs.

<img width="612" alt="Screenshot 2019-12-03 at 09 55 53" src="https://user-images.githubusercontent.com/839848/70035635-856c0680-15b3-11ea

[2019-12-03 10:45] zxccvvv opened #1492 "[Android] Add an information about Release Build for fetching issue on API 28+"
Since I have an issue about releasing `apk` communicated with `http` API, and android Pie doesn't support `http` anymore, i've spend a couple hours to find a root cause about this

since `android:usesCleartextTraffic="true"` is declared in `AndroidManifest.xml` `debug` folder, and it's not declared in `AndroidManifest.xml` `main` folder, the apps cannot communicate to `http` anymore.

I think `Rea

[2019-12-09 18:27] bobber205 opened #1503 "Links on CameraRoll Documentation are Broken"
On https://facebook.github.io/react-native/docs/cameraroll.html#savetocameraroll

![image](https://user-images.githubusercontent.com/5841107/70461881-85b24900-1a6e-11ea-8cf3-af8c325bb430.png)

[2019-12-10 06:15] lgh06 opened #1504 "docs ListView ListView.DataSource link 404"
https://facebook.github.io/react-native/docs/listview
Both `ListView.DataSource` on the above introduction area and bottom Props area links 404

[2019-12-10 06:27] lgh06 commented on #1504
I found the ListView.DataSource doc at https://facebook.github.io/react-native/docs/listviewdatasource.html  , through google.

[2019-12-11 21:33] isa3bel commented on #1503
ill tackle this one!

[2019-12-11 21:48] isa3bel commented on #1503
docs/cameraroll.md is not in the repo right now, so not sure how to fix this?

[2019-12-11 21:55] bobber205 commented on #1503
When I looked into this I think it's displaying the 0.58 version

[2019-12-12 00:32] hramos opened #1509 "Enhancement: Add Platform API Doc"
The Platform module does not have a dedicated API doc (e.g. a dedicated entry under the API sub-group in the API reference). It is documented under Platform specific code at https://facebook.github.io/react-native/docs/platform-specific-code#platform-module. For discoverability and completeness, I believe this module deserves to have its own API doc at https://facebook.github.io/react-native/docs/

[2019-12-12 17:11] isa3bel commented on #1503
I was testing on the .58 version and I don't think it was, Ill create a PR anyways to get more feedback

[2019-12-12 17:37] isa3bel commented on #1503
it isn't working on .61 right now

[2019-12-13 10:44] raajnadar opened #1513 "Guides for app icon and splashscreen both android & ios"
Already mentioned here https://github.com/facebook/react-native-website/issues/917#issuecomment-491024595

But it is not added in the umbrela thread https://github.com/facebook/react-native-website/issues/929

We really need the guide how to add splash screen as well as app icon for both android and ios in react native application. I didn't find any medium post or any blog post.

[2019-12-13 21:15] isa3bel commented on #1459
this issue is resolved, how do I resolve/close the issue?

[2019-12-13 21:26] charpeni commented on #1459
@isa3bel Thanks for letting us know! I'll close it.

[2019-12-13 21:26] #1459 closed

[2019-12-18 11:56] seraco opened #1518 "DocumentSelectionState link in TextInput documentation is broken"
The link to `DocumentSelectionState` in `vendor/document/selection/DocumentSelectionState.js` is broken (see at https://facebook.github.io/react-native/docs/textinput#selectionstate).
<img width="817" alt="Screenshot 2019-12-18 at 12 36 29" src="https://user-images.githubusercontent.com/25517036/71084464-9f057480-2195-11ea-8948-7844ea92cb83.png">

[2019-12-23 02:11] luism3861 commented on #1513
try to find in medium posts , create splash screen it;s very easy in RN.

[2019-12-23 03:20] raajnadar commented on #1513
I tried searching before creating this issue, I found few articles but they are either old, platform specific or they use library.

If you know any good article please share here. I want very simple splash no animation the splash should be visible until data is loaded from db.

[2019-12-23 15:26] luism3861 commented on #1513
i found this article you should read this !!
good luck
https://whatdidilearn.info/2019/01/13/how-to-implement-a-splash-screen-in-react-native.html

[2019-12-26 15:55] rickhanlonii opened #1523 "Add documentation for DevSettingsModule"
In https://github.com/facebook/react-native/pull/25848 we added a new method to DevSettings `addMenuItem` which allows users to add additional dev menu options to their app.

This module was previously undocumented because it was mostly only used internally.

Now that there's a method users may use, we should document it.

[2019-12-26 16:04] rickhanlonii opened #1524 "Update Facebook Logo"
## Overview

The Facebook logo on the showcase page should be updated to the new logo.

## Screen

<img width="1792" alt="Screen Shot 2019-12-26 at 11 01 55 AM" src="https://user-images.githubusercontent.com/2440089/71482218-6d149380-27cf-11ea-9f01-eeaea1eecf9b.png">

[2019-12-27 01:47] mohamedsgap commented on #1523
Can I write a doc for it ?

[2019-12-27 02:23] rickhanlonii commented on #1523
Yeah that would be awesome!

[2019-12-27 06:08] mohamedsgap commented on #1523
it sounds good, I gonna work on it and I'll make my PR asap!

[2019-12-27 08:32] #1504 closed

[2019-12-27 08:36] #1329 closed

[2019-12-27 08:38] cpojer commented on #1358
Fixed in https://github.com/facebook/react-native-website/pull/1506

[2019-12-27 08:38] #1358 closed

[2019-12-27 15:43] hossamnasser938 opened #1529 "FlatList More complex, multi-select example"
The example provided in the FlatList article is supposed to rerender the FlatList only when passing extraData prop. However, the FlatList rerenders on IOS and Android whether extraData prop is passed or not. The strange thing is that the example works fine on web.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/27894818/71522930-71c07100-28cf-11ea-8c09-48efb71d7bba.gif)

[2019-12-28 13:41] jitenderbadoni opened #1531 "[Native Modules] Implementing + requiresMainQueueSetup - Swift Part missing"
Below part mentioned only for objective c developer, needed for swift developer as well.

`+ (BOOL)requiresMainQueueSetup
`{`
  return YES;  // only do this if your module initialization relies on calling UIKit!
}`

[2019-12-29 04:26] #1524 closed

[2019-12-29 04:51] elharony commented on #1370
Interesting issue.

I tried to use ImageMagik to export it as png, but I got the following error: `IMDisplayDoc function [DoReadImage] reported an error. imdisplay.exe: improper image header C:\PATH\tiny_logo.png' @ error/png.c/ReadPNGImage/4294`.

Furthermore, I did my research on any tool that converts `MS Windows icon` to `PNG` and no luck, couldn't find any working tool.

Do you have any recom

[2019-12-30 08:08] mohamedsgap commented on #1523
@rickhanlonii Where should I write the doc ? in settings.md!!

[2020-01-02 03:25] HADMARINE opened #1537 "Docs: wrong option info is provided at documentation"
### Need to enter ###
<code>npx react-native init TSApp --template typescript</code>
### but written ###
<code>npx react-native init TSApp --template react-native-template-typescript</code>
<br/>
at : <a>https://facebook.github.io/react-native/docs/getting-started</a>

[2020-01-02 03:48] Naturalclar commented on #1537
Hi @HADMARINE :wave:
I believe this is not a mistake.
`--template typescript` is currently outdated.
[react-native-template-typescript](https://github.com/react-native-community/react-native-template-typescript) is more up to date :)

[2020-01-02 04:13] rickhanlonii commented on #1523
@mohamedsgap I would add it as an API reference like https://facebook.github.io/react-native/docs/clipboard

[2020-01-02 05:49] HADMARINE commented on #1537
Oh, but when i give a argument <code>--template react-native-template-typescript</code>,<br> it requests an template named **react-native-template-react-native-template-typescript**, <br>and returns error like : <code>error An unexpected error occurred: <br>"https://registry.yarnpkg.com/react-native-template-react-native-template-typescript: Not found".</code>.<br>
Then I tried to give an argument

[2020-01-02 05:53] Naturalclar commented on #1537
@HADMARINE
I see!
May I ask what version of react-native cli you are using? (either globally or in the package.json of the folder you're running `npx` on)
The behavior may have changed over time.

[2020-01-02 05:55] HADMARINE commented on #1537
I seem it runs on **0.61.5**

[2020-01-02 05:59] HADMARINE commented on #1537
oh sorry, it was **2.0.1**

[2020-01-02 06:15] Naturalclar commented on #1537
@HADMARINE
Thanks for checking! :)

Indeed, in cli version 2.0.1, it does add `react-native-template-` before the name.
https://github.com/react-native-community/cli/blob/v2.0.1/packages/cli/src/commands/init/templateName.js#L79

cli has removed that header in the latest version (**v2.10.0** or **v3.x**)
If you upgrade the cli, it should work with

[code]

[2020-01-03 12:03] HADMARINE commented on #1537
Okay, Thanks for your kindness :)

[2020-01-03 12:03] #1537 closed

[2020-01-03 20:11] baughmann commented on #1064
@frags51 A lot of it is out-of-date as well. Where did `createViewManagers` go, and what class was it even in to begin with? The world may never know.

Judging by the age of this thread I'm assuming this is a low priority, which is unfortunate for those wishing to learn write native libraries.

[2020-01-03 20:15] baughmann commented on #1064
@frags51 I'm thinking most of that page probably only works when you're creating a `ReactPackage` rather than writing native code within your project. However, that's not in the documentation on the page (unless I missed it, which is definitely possible).

[2020-01-06 01:03] luism3861 opened #1542 "text title in the first example in text component api docs, looks up header phone"
![image](https://user-images.githubusercontent.com/36824170/71788517-9f509d00-2fe8-11ea-9bbf-7a431b1de0ec.png)

[2020-01-06 01:05] #1542 closed

[2020-01-10 09:01] Ildarik commented on #1298
I think this issue isn't actual already

[2020-01-10 09:54] #1298 closed

[2020-01-13 17:20] pcowgill opened #1550 "Add a link to the Canny board in the main React Native repo's README and on the website"
Add a link to the [Canny board for feature requests](https://react-native.canny.io/) in the main React Native repo's README and on the website

[2020-01-15 16:51] novalagung opened #1554 "geolocation API is excluded, however the doc is still accessible"
The documentation page of **geolocation API** is still accessible through https://facebook.github.io/react-native/docs/geolocation. Even after in the source (`geolocation.md`) is removed months ago.

I'm not sure why the live website is not yet updated to reflect the current source. This is [causing some confusion](https://stackoverflow.com/a/56909007/1467988) for developers, since when we google

[2020-01-15 21:35] evanc commented on #1518
looks like this prop will be removed in 0.62:
https://github.com/facebook/react-native/commit/2becdfd4041f7f28138ba3a61c03e17c06dc2e50

[2020-01-16 20:51] tanapaydin opened #1555 "Missing steps to start a brand new project"
Missing steps about "pod install" command within the "ios" folder. I guess, someone should follow the exact steps in the currrent version of this documentation, and see what other steps are missing.

[2020-01-17 09:19] mohamedsgap commented on #1523
Hey @rickhanlonii just need you to review DevSettings API reference #1539 to see if i wrote it correctly or need some changes!

[2020-01-20 07:01] webbin commented on #626
Yes，we need it! Any progress？

[2020-01-22 11:42] bimix opened #1557 "Missing proper documentation for Background processes using Headless JS"
This is something that was supposed to have proper documentation from start but strange enough it doesn't. Even more strange is the fact that you cant find it elsewhere introduced by other community members.
Some need to do something about that ASAP!

[2020-01-27 12:05] Wintus opened #1562 "Update Linking (iOS) documentation with Podfile (RN v0.60+)"
Similar to #1089, the documentation says to do manual linking of RCTLinking, and now it seems to be done by Podfile. What about to refer to the updates on the Podfile template (relating to auto-linking?).

https://github.com/facebook/react-native-website/blob/067141dca4e4568074bcafb65213aaa95a4eef67/docs/linking.md#L41

ref. https://stackoverflow.com/a/59131716

I guess this is the trick:
https://

[2020-01-28 19:58] IanVS opened #1565 "Integrating with Existing Android App instructions incorrect/outdated?"
It seems like maybe a lot has changed since the documentation for [integrating in an existing android app](url) was written.  According to https://github.com/facebook/react-native/pull/12199#issuecomment-576963820, we should be using `ReactFragment`, but that's not mentioned at all in the docs.  It also uses maven, which I think has been replaced with gradle, right?  I'm just very confused and wou

[2020-01-30 01:44] baughmann opened #1569 "Docs: Native Component Documentation. What documentation?"
I'm really not sure even what to say. If asked, I could dig through my code and try to find some of the things that I've noticed. The latest is [this issue regarding `subview` frames in iOS](https://github.com/facebook/react-native/issues/15097). This is not the first time I've found myself saved by a several-year-old GitHub issue thread.

My limited knowledge on building and incorporating naive c

[2020-01-31 15:52] kelset opened #1573 "Small enhancement to the animated doc"
Basically, in the Animated doc is not super clear that you have a callback option for `start()`; the only section mentioning [it is here](https://facebook.github.io/react-native/docs/animated.html#working-with-animations) as far as I can tell.

I think it would be super helpful/clarifying to have a clearer code sample. The closest thing to it is in a reply on a GH issue of the main repo:

`this.an

[2020-02-04 03:05] keiichiwatanuki opened #1577 "Suggestion for network.md"
Hi, I had a problem that maybe not many will encounter, but, you can use http with fetch on android when you are developing, but not if you make the bundle with variant "release", It took me a little while to realize that it was because I was not using SSL, maybe add a warning on the logger or add a paragraph in the clarification for iOS that requests will also be blocked if we install the compile

[2020-02-05 12:22] rachelnabors opened #1579 "Component Docs Drive"
**🍾🎉🎈Thank you everyone! We are mission complete!🍾🎉🎈**

We have a lot of component and API docs that need updating! The good news is that updating these docs can be a fun way to become more familiar with React Native’s core code while contributing to docs that help thousands of learners around the world! If this looks intimidating, we have you covered! There’s a handy guide below that should help

[2020-02-05 13:47] amandeepmittal commented on #1579
One question, sorry for my naivety, if I am converting a class example into functional example (just converting the snack from class to function) do I keep both the snacks? Also, do I explicitly mention `<block class="functional syntax" />` in each snack?

[2020-02-05 14:30] rachelnabors commented on #1579
Yes!

It's probably best for you to copy the code block under "Convert existing example code to use function components and Hooks," then replace `// Class Example goes here` with the former, class-based example. Then replace `// Function Example goes here` with a function/Hooks example.

Please correct me if I misunderstood your question!

[2020-02-05 14:41] amandeepmittal commented on #1579
Thank you so much. I understood the point of the whole code block. I should have read the class name on the top that says `toggler`. 😅

[2020-02-05 14:51] rachelnabors commented on #1579
@amandeepmittal Did you follow steps 3 and 4, too? ;)

[2020-02-05 14:58] DaniAkash commented on #1579
@rachelnabors Just created a PR for the DatePickerIOS 🗓. I basically rewrote the existing class component into a functional component with hooks. But It clearly has a lot of props, does the Snack have to cover all the props or basic functionality is enough?

[2020-02-05 15:01] rachelnabors commented on #1579
You know, DatePickerIOS is actually in the process of being _deprecated!_ It sneaked into the table somehow (tsk tsk!). I just removed it. I'm accepting your PR regardless, but go pour your energy into another component who will be sticking around!

[2020-02-05 15:03] amandeepmittal commented on #1579
@rachelnabors do you have copy-paste version of the matrix table? Also should quote the matrix here or in the PR?

[2020-02-05 15:03] DaniAkash commented on #1579
It did well for a test subject 😜 will pick up something more vital next...

[2020-02-05 15:06] rachelnabors commented on #1579
@amandeepmittal, are you not able to edit the original post? I tried to put checkboxes in there but couldn't make them work inside tables! Thanks for bearing with me!

[2020-02-05 15:07] amandeepmittal commented on #1579
Nope. Can't edit your original post here. No worries.

[2020-02-05 15:08] rachelnabors commented on #1579
Hmm. Gonna have to think of a way for people to claim each task..

[2020-02-05 15:10] amandeepmittal commented on #1579
Can we do this in a gist and link it here? Just a suggestion 🤷‍♂️

[2020-02-05 15:21] rachelnabors commented on #1579
I added checkboxes :) Just tick one for each task you claim. I'll update them to bold checks when the PRs are merged!

[2020-02-05 15:30] jeremy-deutsch commented on #1579
I’d like to claim the `Animated` API up-to-date; how do I check off one of those boxes? Maybe it just doesn’t work since I’m on mobile

[2020-02-05 15:33] DaniAkash commented on #1579
I'd like to pick this one up too. Given the size of the API, can we share this between us?

[2020-02-05 15:58] rachelnabors commented on #1579
Why don't you both split the load? I'll put your names down for the different tasks (since the checkboxes aren't working!). How do you want to split it?

[2020-02-05 16:00] mitulsavani commented on #1579
Hi there, I would like claim for View Style Prop.

[2020-02-05 16:02] jeremy-deutsch commented on #1579
@rachelnabors I could document the API for `Animated.Value`/`Animated.ValueXY`, and leave the rest of `Animated` to @DaniAkash

[2020-02-05 16:07] rachelnabors commented on #1579
@mitulsavani You got it! Don't forget to reference this issue in your PR!

[2020-02-05 16:33] codecog commented on #1579
@rachelnabors feel free to assign `<SectionList />` to me!

[2020-02-05 17:01] alvessteve commented on #1579
@rachelnabors I'll take the <ImageBackground /> :)

[2020-02-05 17:12] dsznajder commented on #1579
@rachelnabors I'll take `TouchableHighlight` :)

[2020-02-05 17:18] ronnyiscoding commented on #1579
@rachelnabors here goes my first PR, https://github.com/facebook/react-native-website/pull/1590

[2020-02-05 17:18] Darking360 commented on #1579
@rachelnabors Can I take `Modal`? Thank you :heart:

[2020-02-05 17:25] ronnyiscoding commented on #1579
@rachelnabors I can take `Image Style Props`  ? Thanks 👍

[2020-02-05 17:26] kaioduarte commented on #1579
@rachelnabors Can I take `Switch`? Thanks!

[2020-02-05 17:27] dsznajder commented on #1579
@rachelnabors I'll take `Button` next :)

[2020-02-05 17:29] amandeepmittal commented on #1579
@rachelnabors I'll work on `View` to add snack and functional component example.

[2020-02-05 18:24] rachelnabors commented on #929
We've moved the remaining tasks into a new ticket: https://github.com/facebook/react-native-website/issues/1579 Please go there to help us finish up the component docs and thanks for all your help thus far!

[2020-02-05 18:24] #929 closed

[2020-02-05 18:50] rachelnabors commented on #1579
Thanks for volunteering, everyone! I've updated the matrix with all your commitments. For anyone who hasn't got a component or API to work on, we still have plenty left! Jump on in!

[2020-02-05 20:13] kaioduarte commented on #1579
@rachelnabors I did also a small adjustment in `Picker` component example. :grin:

[2020-02-05 20:40] DaniAkash commented on #1579
@jeremy-deutsch cool I'm up for the task ✌️

[2020-02-05 21:00] lfoliveir4 commented on #1579
@rachelnabors

Hello! I am super interested and making this contribution.
As I understand it, is it necessary to make an example with hooks and classes referring to the API?

Example: Let's go up and get the Pixel Ratio
Do I have to do the example in the snack using Classes and hooks? Right?

If not, please let me know!

I'm waiting!

[2020-02-05 21:30] DaniAkash commented on #1579
@rachelnabors Just pushed out an example for the Alert component. Clipboard, Dimensions, Keyboard & LayoutAnimations are next!

Also will be picking up the Animated API which will be quite a challenging task! 😁

[2020-02-05 22:29] DaniAkash commented on #1579
I'm unable to get the `Clipboard` working on the Expo web player. Could use some help with https://github.com/facebook/react-native-website/pull/1599

[2020-02-05 23:10] ahmdtalaat commented on #1579
Hello
FOA navigating the **table** is quite _tedious_, can you please make it a little bit easier.
I would like to work on the `Keyboard`.

[2020-02-06 00:29] DaniAkash commented on #1579
@ahmdtalaat I'll be leaving the `Keyboard` in your care 👍 Picking up `LayoutAnimations` next!

[2020-02-06 02:57] DaniAkash commented on #1579
@rachelnabors it'd be great if you can create a PR column to the Components and APIs update progress table and list the PRs raised related to the component. It'll greatly help the PRs to be peer-reviewed and tracked neatly ✏️

[2020-02-06 04:01] ghost opened #1603 "The documentation achieve of past version on the website is updated incorrectly to latest version"
For example, In this page
https://facebook.github.io/react-native/docs/0.59/integration-with-existing-apps

The following instruction is invalid for react-native v0.59 and only works for version >=0.60
[code]

[2020-02-06 04:03] ronnyiscoding commented on #1579
@rachelnabors Can I take `VirtualizedList` ?

[2020-02-06 09:43] brunokiafuka commented on #1579
@rachelnabors, I took the clipboard API.

[2020-02-06 09:45] DaniAkash commented on #1579
@brunokiafuka There's already a PR open for this API - https://github.com/facebook/react-native-website/pull/1599

[2020-02-06 09:47] brunokiafuka commented on #1579
Sorry @DaniAkash, I've missed that

[2020-02-06 09:49] DaniAkash commented on #1579
@brunokiafuka I can use your help in it 👍 it is WIP

[2020-02-06 10:15] hugobytes commented on #1579
@rachelnabors feel free to assign LayoutAnimation Snack example to me!

[2020-02-06 11:18] DaniAkash commented on #1579
@hugobytes I'm almost done with the LayoutAnimation. Will be sending a PR soon.

[2020-02-06 17:21] nnajiabraham commented on #1579
Hi @rachelnabors can I get the KeyboardAvoidingView. I will be working on _Example uses Snack_ and _Example uses function components and Hooks for that componenet_

[2020-02-06 18:22] tsawan commented on #1579
Hi @rachelnabors, I will be taking the Text and working on Example uses function components and Hooks.

[2020-02-06 20:00] nnajiabraham commented on #1579
@ronnyiscoding Are you working on the VirtualizedList precisely on `Example uses Snack and `Example uses function components and Hooks` for that component, if not can I take it from you?

[2020-02-06 20:03] ronnyiscoding commented on #1579
ok, it is fine.

[2020-02-06 20:08] nnajiabraham commented on #1579
Ok then @rachelnabors  I'll be taking VirtualizedList from @ronnyiscoding precisely on `Example uses Snack` and `Example uses function components and Hooks`

[2020-02-06 21:25] ronnyiscoding commented on #1579
@nnajiabraham I mentioned you in this PR https://github.com/facebook/react-native-website/pull/1607

[2020-02-07 03:21] DaniAkash commented on #1579
@rachelnabors Summary of my PRs
LayoutAnimation - https://github.com/facebook/react-native-website/pull/1609 [WIP]
Clipboard - https://github.com/facebook/react-native-website/pull/1599 [WIP]
DatePickerIOS - https://github.com/facebook/react-native-website/pull/1583
Dimensions - https://github.com/facebook/react-native-website/pull/1601
Alert - https://github.com/facebook/react-native-website/pull

[2020-02-07 08:06] IanKemp opened #1610 ""Getting Started" doc for React Native CLI > Windows > Android could do with some updating"
https://facebook.github.io/react-native/docs/getting-started

### Node, Python2, JDK

Why Python 2? Why JDK 8? These are ancient distributions that are on the brink of no longer being supported.

I am using Python 3.8 and JDK 13 to run my RN app and it works just fine. The only thing I had to do was update my Gradle version (in `gradle.properties`) to the latest which is JDK 13-aware.

### Android

[2020-02-07 11:10] miganga commented on #1579
@rachelnabors I would like to take on Layout Props api to update.  Thank you.

[2020-02-07 17:22] rachelnabors commented on #1579
@lfoliveir4 :

You only need to make examples with function components and Hooks. If there is ALREADY an example with class components, then use the toggler code to show both examples together :) You should only make new examples with function components/hooks

[2020-02-07 17:32] rachelnabors commented on #1579
Folks, I have updated the matrix to reflect the projects you've claimed! Phew! Time to review some of your pull requests! Thanks so much for contributing, and if you haven't contributed yet, just claim a component here!

[2020-02-07 20:20] lcelso commented on #1579
I'll take the Linking

[2020-02-07 23:17] Simek commented on #1579
I was reviewing today a few PRs related to this issue and I would like to summarize some tips according to code quality and best practices of those new examples.

There are minor things but overall this code could be used by many developers and mistakes or negligence here could be replicated further. There is no bad intent I just assume that we all want to have the best examples here 😉

Please pay

[2020-02-08 04:46] lcelso commented on #1579
@Simek

I agree with you, however I have some points in which I wanted us to reflect.

We are using SnackPlayer to generate the example together with the Expo.

Strengths:

Code editor
Demo for three versions, web / ios and android

Negative points:

Project structure using the docusaurus, leaves devs a little limited, since these are markdown files, the examples in react within it are without the

[2020-02-08 10:03] mdabrowka commented on #1579
I will work on refactoring `AccessibilityInfo` example into a function component with Hooks

[2020-02-08 13:06] Simek commented on #1579
@lcelso I agree that developing examples could be a bit more difficult due to fact that code is embedded in Markdown. Having examples in separate JS files would be nice (for example we can setup linter than etc.) but changing project architecture and converting all docs could be a challenging and daunting process. I don't even know if it's possible within Docusaurus. Also switch to Gatsby is not l

[2020-02-08 20:21] espipj commented on #1579
Hey @rachelnabors ! I'll be making some changes in the TextInput API docs 😄

[2020-02-09 02:07] DaniAkash commented on #1579
While testing out the Animated API, I had to write some transforms and realized I might as well use them as an example for the Transforms API. However, as per https://github.com/facebook/react-native/issues/27649, the skew transform isn't working on Android.
## Skew on iOS:
<img width="224" alt="Screenshot 2020-02-09 at 7 13 07 AM" src="https://user-images.githubusercontent.com/6841445/74094922-e6

[2020-02-09 16:53] ahmdtalat commented on #1579
Hello guys,
I've an issue and need you help. when I make a change to the docs. it does not render although I'm using the latest version as the documentation says `Changes to /docs will only be visible in the latest version of the documentation (master).
`.
to solve this. I have to run `yarn run version 0.62`. but is that's ok?
I mean what if I want to push changes. should I push the docs changes o

[2020-02-10 02:01] DonaldDai opened #1616 "[BUG]Doc display error"
Hi~I'm walking through your doc at [AppRegistry](https://facebook.github.io/react-native/docs/0.8/appregistry#registercomponent) and I find something which is maybe wrong. (check the image showing bellow)

the word `requie`d shoule be `required`.

![error img](https://cdn-std.droplr.net/files/acc_513938/vu0MEo)

I've checked the original doc file and It's fine. So I was thinking about it is someth

[2020-02-10 06:53] DaniAkash commented on #1579
@ahmdtalat the changes are in the master documentation.

To open master documentation:
you can directly click on the version number next to the "React Native" title icon of the page and see the list of all versions including the master documentation. You can view your changes in this section. No need to run version 0.62 command
<img width="269" alt="Screenshot 2020-02-10 at 12 20 45 PM" src="https

[2020-02-10 08:58] ezranbayantemur commented on #1272
@rachelnabors I could help about Turkish language support to docs. ReactJS has that option and it's been really useful. Do we have any plan about multi-language option for React Native too?

[2020-02-10 14:19] rachelnabors commented on #1579
I've updated the matrix with new contributors and some new protips to help folks contributing their code (thanks, @Simek!) Please check them out under "Submit your PR!" and "Code Tips"! Thanks again to everyone for contributing!

[2020-02-10 15:12] rachelnabors commented on #1272
Internationalization is high on our radar! We're currently solving for:

1) Updating the docs (so translations will be up to date, too)
2) Automating component and API docs updates (we'll need to select a translation option that works with our process)

We are definitely keeping an eye on this!

[2020-02-10 16:10] Naturalclar commented on #1272
I can help with the Japanese translation of the docs once the docs are ready 🤗

[2020-02-10 21:57] lfoliveir4 commented on #1579
How do I stop checking the lib that I'm going to do the example?

[2020-02-10 22:09] lfoliveir4 commented on #1579
@rachelnabors
I will make the contribution with the Image and FlatList component

[2020-02-11 04:16] DaniAkash commented on #1579
@rachelnabors add me to the Transforms API, I have already raised a PR https://github.com/facebook/react-native-website/pull/1613

[2020-02-11 10:57] florianmari commented on #1616
It looks find on the repo, maybe web version is on an older version, after checking history we can see the typo has been already fixed

[2020-02-11 12:13] ahmdtalat commented on #1579
Hello Guys, I added Keyboard API example using function components & hooks #1619

[2020-02-11 14:32] mohamedsgap commented on #1579
Can't find TabBarIOS in [react-native/Libraries](https://github.com/facebook/react-native/tree/9caf99162dcd1ee73c571c494ca3115540f45f69/Libraries/Components) to start update its API

[2020-02-11 19:55] lcelso commented on #1579
@Simek e @rachelnabors

I understand your point and agree that we should have a scenario where editing the javascript files is a little easier.

I was analyzing some PRs here and I miss some standards, like 2 tabs, single quotes among other points, in which I believe we can define this here as a team, what do you say?

On the points that you raised from discontinuation I really totally agree.

[2020-02-11 21:06] lcelso commented on #1579
Hi guys, can someone review this for me?

@Simek @rachelnabors
# 1626

[2020-02-12 04:40] tsawan commented on #1579
@rachelnabors I can also change "Image" and "AppState" examples to use functional components and hooks.

[2020-02-12 14:56] luism3861 commented on #1579
@rachelnabors  this is my 2 pr's #1627  #1617

[2020-02-12 14:58] luism3861 commented on #1579
@rachelnabors  #1617  #1627  !!

[2020-02-13 06:42] DaniAkash commented on #1579
I'm struggling to get the RNTester app running in my machine. Anyone else facing issue with this app?

[2020-02-13 08:02] Usamaliaquat123 commented on #1616
+1

[2020-02-13 19:06] estevaolucas commented on #1523
@rickhanlonii can we add a reference for `reload` method as well? https://github.com/facebook/react-native/pull/25848/files#diff-bd79be22516654291770eb407afd366fR33-R35

[2020-02-15 03:36] reduced-reptile opened #1630 "Missing npx in code example for release to playstore page"
![Missing NPX image](https://user-images.githubusercontent.com/57237553/74581165-488c9a80-4f7a-11ea-83fb-219b923cf229.png)

[2020-02-15 03:36] reduced-reptile commented on #1630
should be npx react-native run-android --variant=release

[2020-02-15 19:42] rachelnabors commented on #1579
Hi everyone, sorry for the absence. Got sick again!

Matrix is updated!

[2020-02-15 19:42] rachelnabors commented on #1579
@lcelso We have a discord we could use to coordinate, but then we'd have to track in two locations, which historically can be even more confusing! If you want to team up with someone, I suggest you reach out to them personally and choose the format of your choice to coordinate :) Could you expand on "do you think we can have some language context? Mainly in the context for examples."?

[2020-02-16 22:37] jamesxabregas opened #1635 "FlatList/ScrollView use of flexGrow:1 to fill view is not documented"
I recently came across an issue where I wanted my FlatList to take up the full screen, but adding `flex:1` to the style properties made it disappear.

I found the answer to this by way of a [StackOverflow post](https://stackoverflow.com/questions/52286459/how-to-make-flatlist-fill-the-height) that lead me to the [Github thread on the issue](https://github.com/facebook/react-native/issues/4099) whi

[2020-02-17 15:16] reduced-reptile commented on #1630
See @Naturalclar 's PR

[2020-02-17 15:16] #1630 closed

[2020-02-17 18:49] mitulsavani commented on #1579
Hi @rachelnabors, I see that you recently updated the metrics and tick marked `View Style Props`  referenced #1614 on it. I am not sure if that was a typo if so then, my PR is #1612 FYI.

I wonder if there is anything else that I need to finish for `View Style Props`? If not then, I can start working on other pending work

[2020-02-18 00:10] lcelso commented on #1579
@rachelnabors Hello, I believe that a faster communication channel could speed up some points, such as clearing doubts, which we can remove / discontinue.

Especially between some points of decisions and this done we can make official here.

About languages, I was seeing react.org and this is already done there.

This is a point if we have a group on Slack or anywhere else that we will have a more

[2020-02-18 06:08] amandeepmittal commented on #1579
Hi @rachelnabors, I will update the `Share` API by adding functional and hooks example since it already has the class component example.

[2020-02-18 06:20] Simek commented on #1579
@rachelnabors Could you asses the idea proposed in https://github.com/facebook/react-native-website/issues/1579#issuecomment-583735028?

[2020-02-18 13:42] DaniAkash commented on #1579
While it is a good idea to remove the options from the sidebar, I still feel removing the examples would be bit harsh for people who are already heavily using these components...

[2020-02-18 18:24] rachelnabors commented on #1579
@simek I can confirm that deprecated components will be removed from the sidebar but their legacy pages will live on quietly—there is no harm in finishing up the examples! I hope this settles things.

@amandeepmittal you're on Share, thanks!

@lcelso Will need to hear more support from other people for your idea—worry another communication channel now would slow down and split communications rathe

[2020-02-18 19:00] cepem opened #1639 "[Feature] Dark mode for website"
Hi!

I am planning on implementing a dark theme for the website. I looked over the issues and it looks like no one else is working on this.

However, I'd like to make sure. Therefore @rachelnabors what do you think?

[2020-02-19 10:28] rocboronat opened #1644 "Broken link in the "Integrating with Existing Apps" page"
The button `Getting Started guide` points nowhere.

This is the page I'm talking about: https://facebook.github.io/react-native/docs/integration-with-existing-apps

Thanks for keeping the documentation updated!

[2020-02-19 14:15] Simek commented on #1579
@rachelnabors Are there any planned changes for the [Components and APIs](https://facebook.github.io/react-native/docs/next/components-and-apis) page? Would you like to mark in some way or even remove deprecated pages listed in there?

[2020-02-19 18:04] rachelnabors commented on #1579
@Simek Smart thinking! And to think I've been looking at this page the whole week without realizing it! What a cold! Good thing you're on the ball!

We should remove the deprecated components and APIs from the page as we are removing them from the sidebar as well. Would you like to handle that one?

[2020-02-19 18:56] lcelso commented on #1579
@rachelnabors @Simek

I created a channel for quick communication and central points of doubts here.

[link to slack](https://join.slack.com/t/react-native-website/shared_invite/enQtOTU5NzkzMjA1MzE3LTEzNjBhYTdlNGVlZGEzNTEzZTlkNTliMTBjOTZlN2RiOWQ3MjMyMzjMjMj)

However I agree that here we must have the data and everything that was talked about there registered here.

What do you say?

Because I thi

[2020-02-19 19:20] luism3861 commented on #1639
sounds good

[2020-02-19 19:50] rufusraghunath opened #1648 "Docs incorrectly state that "removeClippedSubviews" defaults to "true" for ScrollView"
The [documentation](removeClippedSubviews) states that `true` is the default value for `removeClippedSubviews` in the `ScrollView` component.

The [source code](https://github.com/facebook/react-native/blob/10254a900a2332fc87063d9287da2403abbdf5c3/Libraries/Components/ScrollView/ScrollView.js#L1085) shows that (unless it's Android and sticky headers are on), we just accept whatever prop value is p

[2020-02-19 19:51] rufusraghunath commented on #1648
Happy to open a PR once I have clarity on whether the documentation or the implementation should change.

[2020-02-20 09:09] Simek commented on #1579
@rachelnabors I think that "API" link in top bar which leads to `ActivityIndicator` instead of  `Components and APIs` in `next` docs do not help either 😉

Back to the deprecation discussion - I would like to help with those changes but I'm still not 100% sure how to perform them.

In my opinion, in some point in time `0.61` docs should be regenerated to include all the work from this issue and mor

[2020-02-20 09:22] Simek commented on #1579
@lcelso I think that Slack/Teams/Discord channel will help with communication but you should remember that this is still a Facebook repo which is not officially maintained by the community.

In my opinion creating this kind of communication platform should be approved and managed by FB employees (maintainers). If your idea got a green light of course I will join along.

[2020-02-20 09:33] mitulsavani commented on #1579
I definitely agree with @Simek opinion,  @lcelso I recommend you to open an issue on core react native repo to discuss further about it.

[2020-02-20 12:19] lcelso commented on #1579
Hello guys,

I agree for this I opened the discussion here with X and she gave me this answer.

And if this suggestion is a bad point I would like to understand how we can resolve the points below:

- Long standing PRs
- Doubts of those who want to help and have a quick flow of responses
- Discussions on topics that we can make obsolete or not

[2020-02-20 12:21] lcelso commented on #1579
I would like to help with this too

[2020-02-20 15:37] rachelnabors commented on #968
Technically it could be done. You'd have to do some work in **tabs.js** to do something like:

- When user activates a tab
- Add metadata to URL

And
- When landing on a page
- Check URL for metadata
- If metadata found
- Fire appropriate show/hide functionality

[2020-02-20 22:10] cosio55 commented on #1579
Hi @rachelnabors I was looking at the missing components and I saw that TabBarIOS & TabBarIOS.item were deprecated on RN 0.5959 here's the [CHANGELOG](https://github.com/react-native-community/releases/blob/master/CHANGELOG.md#059) they don't appear on the docs for version 0.59 but they re appeared on version 60 and 61.

[2020-02-21 01:20] zatloeri opened #1650 "Gitignore template small improvement (ignore HPROF files)"
### I would suggest adding ignore rule for Android-specific Heap/CPU Profiling (HPROF) files into [gitignore template](https://github.com/facebook/react-native/blob/master/template/_gitignore)

They can get easilly generated into the project repo and if these files get commited by accident they can really mess with your git repo since **they can get really large**.

There are even some issues on s

[2020-02-22 00:08] rachelnabors commented on #1579
@cosio55 Thank you for hunting that one down! I wish we could go back and remove it from all the following versions of the docs now. I'll remove it from the matrix. Much obliged!

[2020-02-22 00:54] rachelnabors commented on #1579
I've updated the matrix and moved all the completed components and APIs to a leaderboard to recognize their contributors. Thank you everyone! There's still lots to do: those APIs need love, too!

[2020-02-22 01:54] nnajiabraham commented on #1579
Hi @rachelnabors, please can you assign me for all fields on AppRegistry, will update API and write examples 🙌🙌

[2020-02-22 10:34] kaioduarte commented on #1579
@rachelnabors I'll take `Shadow Props` and `Text Style Props` :wink:

[2020-02-22 10:50] ahmdtalat commented on #1579
@rachelnabors update my username in the matrix from (Keyboard) ahmdtalaat -> @ahmdtalat
and I need someone to review my PR #1619, thanks.

[2020-02-22 12:46] espipj commented on #1579
Appreciate the gifs lol 🦄

[2020-02-22 12:46] espipj commented on #1579
Appreciate the gifs lol 🦄 @rachelnabors

[2020-02-22 16:03] lfoliveir4 commented on #1579
@rachelnabors What do I need to do to finish my contribution with FlatList and if it is possible to update another API or Component?

[2020-02-22 18:49] 404-html opened #1655 "Broken link in "Performance" page, "Profiling" section"
Link with text: "make sure that Development Mode is OFF!" points nowhere.

https://facebook.github.io/react-native/docs/performance#profiling

![image](https://user-images.githubusercontent.com/45104241/75097561-6b3b3680-55ac-11ea-89be-38e7288bfd6b.png)

Thanks for keeping the documentation updated!

[2020-02-24 10:55] rachelnabors commented on #1579
Matrix is updated! Thanks everyone!

@lfoliveir4 just pick another one and get to it! Flatlist is in the queue. There area lot of PRs to merge. Thank you for your patience!

[2020-02-24 15:06] Simek commented on #1579
@rachelnabors Can you claryfiy how you would like to perform  changes to deprecated components mentioned in https://github.com/facebook/react-native-website/issues/1579#issuecomment-588361038? I have created an explanation why I'm not sure how to do this properly here: https://github.com/facebook/react-native-website/issues/1579#issuecomment-588812978. If my explanation is still foggy or confusing

[2020-02-24 15:49] suraneti opened #1660 "Documentation links are broken"
All links and documents format in https://reactnative.dev/versions seems broken.

[2020-02-24 15:54] developerantoniosousa opened #1661 "Documentation is broken"
Hi!

[Documentation](https://facebook.github.io/react-native/) is broken.

[2020-02-24 16:00] AJCStriker opened #1663 "Documentation does not load due to "reactnative.dev" transition"
It appears that there is an in progress attempt to migrate the documentation from facebook.github.io to reactnative.dev that has broken the documentation.

Currently documentation links are showing a 404 after being redirected to reactnative.dev.

Example - https://reactnative.dev/react-native/docs/getting-started

[2020-02-24 16:43] rachelnabors commented on #1579
@simek Changes to versioned docs have to happen in */website/versioned_docs/<version number>/*. Add the <file>.md with the content you want to edit for that version. More information on how to do that is here: https://docusaurus.io/docs/en/next/versioning

Are you on Discord or Twitter? Perhaps there or in a new issue would be the best place to coordinate, as this channel is for people updating th

[2020-02-24 17:09] Simek commented on #1579
@rachelnabors Sorry for bringing up this topic here. I have some basic knowledge about versioning in Docasurus but in my opinion the right process depends on final effect you want to archive. We can continue discussion on the Discord, since I'm not a frequent user of my Twitter. My Discord handle is `Simek#2069`.

[2020-02-24 18:50] luism3861 commented on #1661
the domain  change try with.
https://reactnative.dev/docs/getting-started

[2020-02-24 18:51] luism3861 commented on #1663
the domain change try with https://reactnative.dev/docs/getting-started

[2020-02-24 21:13] developerantoniosousa commented on #1661
@luism3861 thank you!
I had accessed before PR [1662](https://github.com/facebook/react-native-website/pull/1662) is merged

[2020-02-24 21:13] #1661 closed

[2020-02-25 11:10] #1663 closed

[2020-02-26 00:53] rachelnabors commented on #1660
Can you give us step by step instructions to reproduce? I'm able to get to versioned getting started pages personally

[2020-02-26 01:02] kakukakug commented on #1579
Hi @rachelnabors, I Want to contribute React Native!
please can you assign me for TouchableWithoutFeedback: Modify the example to use snacks.

[2020-02-26 04:20] tsawan commented on #1579
@rachelnabors I've just checked and the following component examples are already using functional components and hooks so no further action is required.

- InputAccessoryView
- RefreshControl
- SafeAreaView
- ScrollView

[2020-02-26 04:23] tsawan commented on #1579
@rachelnabors I've also checked that almost all of the remaining APIs don't need any work for "Examples uses functional components and hooks". So these can be marked as Done or NA.

[2020-02-26 06:59] suraneti commented on #1660
@rachelnabors Right now everything is ok, but two days ago all link returns 404.

Step to reproduce:
1. Go to link: https://reactnative.dev/versions.
2. Click the link on the documentation (all versions).
3. All links redirect with 404.

[2020-02-26 15:12] rachelnabors opened #1670 "List contributors to each page"
Would be great to do two things:

1) Give credit to the original author of a page—I think this is important as some of our guides have been initially entirely contributed by one person, and we should honor that

2) List the last 5 contributors like Typescript and Ionic do. See also [this PR from TypeScript](https://github.com/microsoft/TypeScript-Handbook/pull/1297/files) for inspiration.

[2020-02-26 15:19] rachelnabors commented on #1427
Thanks for the heads up!

I think I see what the issue is: these links use `<componentname>.md#<anchor>` in the link name instead of `<componentname>#<anchor>` or even `<anchor>`. The solution is to scour the docs for `.md#` and replace those with `#`. It would make a fine first time contribution. Any takers?

[2020-02-26 15:46] mdb1710 commented on #1427
I would be happy to tackle this for you.

[2020-02-26 15:52] rachelnabors commented on #1427
I'll assign it to you then. Good luck, and if you get stuck, DM me!

[2020-02-27 09:18] Simek commented on #1660
@suraneti LGTM right now, can we close this issue?

[2020-02-27 13:29] rachelnabors commented on #1579
@kakukakug You're on it!

@tsawan Thanks for checking on all those! I've removed those four components from the matrix. I'm happy to tick off the APIs—but could you be more specific than "almost all?" Who's missing yet?

[2020-02-27 14:07] ahmdtalat commented on #1579
Hello guys, I'm working on the Keyboard API, I added hooks example and snacks, but how to check if the `API is up to date`? #1619

[2020-02-27 15:51] rachelnabors commented on #1315
Actually, it should have its own reactnative.dev/docs/useWindowDimensions page. `dimensions` is a separate API!

[2020-02-27 18:51] tsawan commented on #1579
@rachelnabors following APIs don't need anything for "Examples uses functional components and hooks":  ActionSheetIOS, Easing, InteractionManager, Settings, Systrace.
I am not too sure about BackHandler API, so you may want to check this.

[2020-02-27 23:49] rachelnabors commented on #1579
@tsawan Hmm, they may have function components in their example code, but they still need big example Snacks that use them as well. So they stay up!

[2020-02-28 10:37] sonicdoe opened #1678 "Versioned links for the current version"
It’s great to be able to browse and link to documentation from React Native v0.60 all the way back to React Native v0.5. However, it’s not possible to link specifically to documentation of the current version, v0.61. Instead, the link will always point to the latest version of React Native.

In other words, it would be helpful if [`/docs/0.61/getting-started`](http://reactnative.dev/docs/0.61/gett

[2020-02-28 13:40] lfoliveir4 commented on #1579
@rachelnabors So I just have to wait for PR? Can I contribute with another API if I have it available?

[2020-02-28 13:41] codecog commented on #1579
Will get to SectionList this weekend

[2020-02-28 14:21] rachelnabors commented on #1579
@lfoliveir4 You sure can :) Don't wait on my PRs. Sometimes there's feedback, but it's rare that that should stop you from tackling a new task!

@codecog Oh thank you so much!

[2020-02-28 14:23] rachelnabors commented on #1579
*Folks!* We're hoping to cut the next branch of the docs in a few weeks. Your contributions are making this a great new edition of the React Native docs! Thank you so much for your hard individual efforts, from the tiniest example update to whole new pages!

If you have the bandwidth, taking on those APIs are going to help push us over the edge to completeness. If you've updated a component alread

[2020-02-28 15:23] rachelnabors commented on #1579
Oh snap! We are so close to finishing _all the Core Components!_

* @kakukakug, we're counting on you for `TouchableWithoutFeedback`
* @ronnyiscoding, can you check `VirtualizedList` to see if it's API is up to date?
* _We need a volunteer for `DrawerLayoutAndroid`!_ Any takers?

[2020-02-28 15:40] espipj commented on #1579
If not worked/assigned yet I could take DrawerLayoutAndroid @rachelnabors

[2020-02-28 15:44] ahmdtalat commented on #1579
@rachelnabors Hello Rachel, I've updated the keyboard API and now I think it's done, check the changes. :) #1619

[2020-02-28 16:15] rachelnabors commented on #1579
@espipj It's all yours!

Matrix is updated!

[2020-02-28 16:44] #1315 closed

[2020-02-29 21:49] lcelso commented on #1579
@rachelnabors and @Simek

How do i find you on discord?

[2020-02-29 22:54] mohamedsgap commented on #1579
Hey @rachelnabors I gonna check if the 'AppState' API is up to date or not! and I gonna update it if it needs.

[2020-03-02 13:42] rachelnabors commented on #1579
@lcelso I'm 'R "Nearest" Nabors#7453' on Discord

@mohamedsgap THANK YOU! Please report back here if it needed updating or not so I can update the matrix!

[2020-03-03 02:18] DaniAkash commented on #1579
@rachelnabors Just added examples for Animated & PanResponder. If there are any specific animations you think I need to cover, let me know 😁

[2020-03-03 17:56] #1660 closed

[2020-03-03 22:51] Simek commented on #1554
@novalagung Deprecation note has been added. Is it enough to fix this issue?

[2020-03-04 02:32] novalagung commented on #1554
@Simek yes I think it would be enough. thank you

[2020-03-04 02:32] #1554 closed

[2020-03-04 07:44] mohamedsgap commented on #1579
Hey @rachelnabors I've just checked the core code of 'AppState' and I think it's up to date but there is an event in core code called 'memoryWarning' didn't mention in the events' reference in the doc, do you need me to fill a PR for it? I'm ready ;)

[2020-03-04 17:53] rachelnabors commented on #1579
Yes please, @mohamedsgap! That would be an API in need of updating! Please PR <3

[2020-03-05 09:09] gedeagas commented on #1573
hi @kelset , are you still planing to tackle this? if not, I would love to help.

[2020-03-05 10:06] kelset commented on #1573
Hey @gedeagas - no I haven't had time yet, feel free to do a PR for it if you want :)

[2020-03-05 11:05] rachelnabors commented on #1573
It would be great if `start` was listed under Animated's methods, too! Please tag this with #1579 to get credit for completing the API docs, @gedeagas!

[2020-03-05 11:19] rachelnabors commented on #1639
We haven't had any requests for a Darkmode that I know of. Is it necessary? If you were able to help us update the component docs #1579 would be a far greater contribution! But if you submit a PR for Darkmode, I'll review it.

[2020-03-05 11:20] rachelnabors commented on #1555
Would you like to update the docs and submit a PR? We'd suuuuuper appreciate it!

[2020-03-05 11:20] rachelnabors commented on #1555
(I mean, I can only fresh-install so many times on my computer ;)

[2020-03-05 11:25] rachelnabors commented on #1531
Thanks for your PR! Love it when someone solves their own issue :)

[2020-03-05 11:25] #1531 closed

[2020-03-05 13:47] rachelnabors commented on #1579
@espipj, @codecog, @ronnyiscoding: How are your components doing? We are waiting on your three components to close out the updated components docs! We're so close! Don't stop now!

Everyone else: the matrix is up to date. We've still got some APIs in need of examples and updates! If you have the time to commit to working on one, it really helps the docs!

[2020-03-05 14:29] danilobrinu commented on #1579
@rachelnabors how I can help ?

[2020-03-05 14:36] gedeagas commented on #1573
@kelset Awesome, i will be taking this then.

@rachelnabors thank you for the information, will do.

[2020-03-05 17:19] mohamedsgap commented on #1579
Hi @rachelnabors, very excited to contribute more, so I gonna add an example uses Snack for 'Vibration' API, stay tuned for the PR ;)

[2020-03-05 17:34] Simek commented on #1579
@mohamedsgap `Vibration` API has been updated in 5fcd97d80e58cfadc81ff0bdc67b3c53fe177e61.

[2020-03-05 18:01] rachelnabors commented on #1579
@mohamedsgap Actually, the example is still in class components. If you could add a function component exampe and a class/function component toggler I can remove it from the matrix! Won't you please? I'd have less to worry about!

[2020-03-05 18:02] rachelnabors commented on #1579
@danilobrinu Good to hear your enthusiasm! Read that post up top and claim an API to update down here!

[2020-03-05 18:05] danilobrinu commented on #1579
@rachelnabors I want to take the Settings :)

[2020-03-05 18:09] Simek commented on #1579
@danilobrinu I have PR in stash for the `Settings` but there is an issue with API that need to be resolved first: facebook/react-native#28213

[2020-03-05 18:11] danilobrinu commented on #1579
@Simek ohh Ok

[2020-03-05 18:16] rachelnabors commented on #1579
I updated the matrix to show that!

[2020-03-05 18:22] mohamedsgap commented on #1579
Okay @rachelnabors I will update the entire 'Vibration' API, then I gonna create PR for it asap :)

[2020-03-05 20:46] #1655 closed

[2020-03-06 16:57] rachelnabors commented on #1579
We still have three APIs in need of owners!

* [PermissionsAndroid](https://reactnative.dev/docs/permissionsandroid) and [InteractionManager](https://reactnative.dev/docs/interactionmanager) need their examples wrapped in a Snack player

* [Systrace](https://reactnative.dev/docs/systrace) needs an example

[2020-03-06 17:06] rachelnabors commented on #1579
@espipj, @codecog, @ronnyiscoding,	@jeremy-deutsch, @DaniAkash, @nnajiabraham, @ahmdtalat, @miganga, @lcelso, @Browndini, @Simek, @kaioduarte, @mohamedsgap:

Thank you all for contributing your hours to this effort so far! I've merged all but a few PRs, and your components and APIs are the last ones we need to complete this effort!

If you have over-committed (who hasn't?) and cannot find the time

[2020-03-06 17:31] danielteshome opened #1704 "Offline version of the website's tutorial example codes not loading"
I cloned the repo and followed the necessary steps to set up the react-native-website offline.

The issue is code snippets in the tutorial doesn't load offline due too a missing JS file. Which i presume is embed.js which is loaded from the expo.io website. This will render the code snippet in to an expo snack using an iframe.

I have managed to configure Docusaurus's configuration by changing the

[2020-03-06 17:42] danilobrinu commented on #1579
@rachelnabors can you give one of those :D ? I'm open to help

[2020-03-06 17:45] gedeagas commented on #1648
@rufusraghunath just cheeked the source code for `ScrollView` and found that since https://github.com/facebook/react-native/commit/efae175a8e1b05c976cc5a1cbd492da71eb3bb12 there has not been a default value for `removeClippedSubviews` in `ScrollView`. As for the docs, from the git history of react-native-website i think we need @hramos clarification on this matter.

And in `FlatList` since this co

[2020-03-06 18:01] gedeagas commented on #1644
i think @rachelnabors pr #1535 fix this.

[2020-03-06 18:38] rachelnabors commented on #1579
Sure, @danilobrinu! I give you `InteractionManager`!

[2020-03-06 19:05] danilobrinu commented on #1579
@rachelnabors thanks :)

[2020-03-06 19:18] ahmdtalat commented on #1579
@rachelnabors  Does the Keyboard component need extra work? my PR is merged.

[2020-03-06 19:29] rachelnabors commented on #1579
@ahmdtalat You did contribute an example! But did you also check to see if the API needed updating?

[2020-03-06 19:35] danilobrinu commented on #1579
@rachelnabors I run the `yarn start` command but I don't see my changes in the page. I see the page is refreshed everytime I do some change but I don't see my changes.  How should works ?

[2020-03-06 19:36] ahmdtalat commented on #1579
my last commit was about updating the API. https://github.com/facebook/react-native-website/pull/1619/commits/27ec6e8df4d0dc0e1969d90f61d9e4ff6e37542b

[2020-03-06 20:47] mohamedsgap commented on #1579
@danilobrinu Hi Danilo, to see your changes on Docs you should, put 'next/yourComponentName' in the URL, to learn more please, take a look at contribution guides.

@ahmdtalat Hey Ahmed, Make sure that you check the core code of 'Keyboard' API component, if there any change in the core code, you need to mention it in doc as an API reference.

[2020-03-06 21:08] danilobrinu commented on #1579
@mohamedsgap thanks

[2020-03-06 21:28] ahmdtalat commented on #1579
@mohamedsgap I did if I'm not mistaken. this the new function I added to the docs:
[code]

Useful for syncing TextInput (or other keyboard accessory view) size of position changes with keyboard movements.

[2020-03-06 21:38] mohamedsgap commented on #1579
@ahmdtalat If you already mentioned it in the doc as an API reference, that’s good and tell Rachel to update the matrix, if not please update it, and if u need any help, just ping me ✌️🙂

[2020-03-07 12:34] rachelnabors commented on #1579
@danilobrinu are you looking at http://localhost:3000/react-native/docs/next/YOURPAGE ?

@ahmdtalat Then you're good to go! I'll remove it from the matrix! Thank you!

[2020-03-07 13:05] danilobrinu commented on #1579
@rachelnabors yes, is my bad (typo mistake) hehehe sorry.

[2020-03-07 19:35] mprogers opened #1706 "Is ReactNative supported? The docs suggest not"
The documentation does not match the user experience, at least on macOS. npm install -g expo-cli does not work, it requires sudo. Many WARN DEPRECATED messages popup when doing the install, which does not inspire confidence.

npm presents a series of choices not mentioned in the docs - which of the 5 or 6 choices should I pick is *not* a question that a noob, trying to pick a cross-platform techno

[2020-03-08 15:11] i-schuetz opened #1708 "Write iOS native modules documentation in Swift"
Nowadays the majority of iOS developers use Swift. It would be great if the [documentation re native modules](https://reactnative.dev/docs/native-modules-ios) would be completely in Swift instead of Objective-C.

[2020-03-09 03:56] gedeagas commented on #1579
Can i take `PermissionsAndroid` @rachelnabors

[2020-03-09 11:53] rachelnabors commented on #1579
@gedeagas Sure thing! It's a little weird to use with Expo (see also the bit on the page about using it with Expo!). Here's a sample example from @brentvatne: https://snack.expo.io/rJZTlmgrI

[2020-03-09 11:56] Naturalclar commented on #1639
currently, react-native document is powered by `docusaurus` version 1.
`docusaurus` version 2 has support for dark mode by default.
Instead of trying to add dark mode support in the current document, I think it would be better to move on to docusaurus 2, once all the component docs are updated, and once docusaurus 2 supports versioning (which iirc not yet supported in the alpha version of docusaur

[2020-03-09 12:13] rachelnabors commented on #1579
@gedeagas re: #1705, are there anymore updates that the API needs? Can I remove it from the list of work that needs doing?

[2020-03-09 17:51] danilobrinu commented on #1579
@rachelnabors can you review my PR #1712, I think is done but I prefer your feedback :)

[2020-03-09 18:48] rachelnabors commented on #1579
@danilobrinu just a few more edits! Please check your PR for more info <3

[2020-03-09 21:03] cepem commented on #1639
@Naturalclar good to know! I won't proceed with this then

[2020-03-10 06:53] gedeagas commented on #1579
@rachelnabors thank you for merging the pr, there is no more update that the Flatlist API needs.

And also about the `PermissionsAndroid`, as you say because snack use expo under the hood It's a little weird to use and I notice that while the popup for `requestCameraPermission` does come up the `title`, `message`, and `button` don't. Is that okay?

[2020-03-10 08:45] codecog commented on #1579
@gedeagas @rachelnabors please take section list from me if you would like another one.

[2020-03-10 11:28] gedeagas commented on #1579
Thanks @codecog, i think i will take over `section list` first until i have clarification about `PermissionsAndroid`.

[2020-03-10 12:24] rachelnabors commented on #1579
@gedeagas It's ok. It is better than no example :) Moving you on to `SectionList` as well

[2020-03-10 12:26] gedeagas commented on #1579
Got it thanks @rachelnabors.

[2020-03-10 16:39] gedeagas commented on #1579
@rachelnabors #1717 and #1720 should be ready for review ❤️

[2020-03-10 17:53] rachelnabors commented on #1639
Closing this issue. Let's consider this Yet Another Reason to Upgrade!

[2020-03-10 17:53] #1639 closed

[2020-03-10 19:05] sazzadsazib opened #1724 "React Native Showcase Link Broken"
Hello, I was going through react native docs, in this [Showcase](https://reactnative.dev/docs/more-resources#examples) section it has a broken link !

[2020-03-11 04:57] mohamedsgap commented on #1579
So proud to see the huge progress that all the contributors are made so far, all the components and APIs are already assigned except `systrace` API, I tried to look for the core code of it to figure out it built under the hood but I couldn't find it in the 'react-native' repo, so please if anyone has an idea how to start with `systrace`. I'll be so greatful. @rachelnabors

[2020-03-11 06:54] Naturalclar commented on #1579
@mohamedsgap
File for `systrace` api in the react-native repo seems to exist here
https://github.com/facebook/react-native/blob/master/Libraries/Performance/Systrace.js
I haven't read the code much yet for me to help out, but should be a good starting point :+1:

[2020-03-11 10:13] Naturalclar commented on #1724
@sazzadsazib nice catch! the correct link seems to be `https://reactnative.dev/showcase/`
Would you like to send a PR to fix this?

[2020-03-11 13:51] sazzadsazib commented on #1724
Alright !

[2020-03-11 16:44] #1724 closed

[2020-03-11 22:33] #1331 closed

[2020-03-11 22:42] rachelnabors commented on #1523
Looks like the docs are baked! Thank you, all!

[2020-03-11 23:02] rachelnabors commented on #1579
Wow, we're down to 7 docs left to write! If the owners haven't spoken for them by the end of tomorrow, I'll be releasing them back into the pool for more active members to pick up. Things happen! We'll carry the torch!

@mohamedsgap Shall I sign you up for `systrace`? The last kitten in the box, I'm sure it would be happy to find a home with you!

@gedeagas Does `sectionList` still need its API up

[2020-03-11 23:07] nnajiabraham commented on #1579
@rachelnabors still working on AppRegistry, just got sidetracked with other stuffs

[2020-03-11 23:58] DaniAkash commented on #1579
@rachelnabors Transforms PR is merged. The API can be marked closed...

[2020-03-12 10:03] gedeagas commented on #1648
@rufusraghunath Hi are you still planing to update the docs?

[2020-03-12 12:21] mohamedsgap commented on #1579
Okay @rachelnabors  I gonna work on `systrace`, I hope ship it asap ;)

[2020-03-12 15:47] rufusraghunath commented on #1648
@gedeagas yes, I'll send a PR today.

[2020-03-13 00:16] gedeagas commented on #1648
Thats awesome ❤️

[2020-03-13 00:21] rachelnabors commented on #1648
![omgomgomgomg](https://user-images.githubusercontent.com/236306/76578424-70f7ae00-64c0-11ea-9cb0-5bb59140cde3.gif)
Thank you for handling this!!! We love when folks PR issues!

[2020-03-13 00:21] #1648 closed

[2020-03-13 00:32] rachelnabors commented on #1579
Folks: in less than 12 hours I will be releasing any docs in the matrix whose people haven't checked in:

SectionList | @gedeagas
VirtualizedList | @ronnyiscoding
Layout Props | @miganga
Linking | @lcelso
PanResponder | @DaniAkash

There's a lot going on and we're really close. If you're still in or if you need to bow out, please just let me know!

[2020-03-13 00:54] gedeagas commented on #1579
@rachelnabors still searching the `SectionList` codebase for any changes. will update here ASAP.

[2020-03-13 10:30] DaniAkash commented on #1579
@rachelnabors  I'm working on the PanResponder API!

[2020-03-13 11:29] rachelnabors commented on #1579
The following Components and APIs need new people to work on them! Please give them a good home!

* VirtualizedList needs someone to check its API for updates
* Layout Props and Linking both need someone to add examples and check their APIs for updates

Just comment that you'd like to take them on!

[2020-03-13 12:38] danilobrinu commented on #1579
@rachelnabors can I take the `Linking` docs task ?

[2020-03-13 16:25] nnajiabraham commented on #1579
@rachelnabors Working on AppRegistry and just created a PR for the docs update. For the examples, it won't be possible to create an example using SnackPlayer since Snack uses Expo and Expo abstracts that from the User. Is there any alternative to use for creating examples or should I forget about examples in that case???

Also, can I have the VirtualizedList API update, will work on it now?

[2020-03-13 17:29] Acidfabric opened #1741 "receiving "Expected 1 arguments, but got 2." for requireNativeComponent"
I'm following Native UI Components tutorial.

code line:
[code]
 gives me an error message: `Expected 1 arguments, but got 2.`

[2020-03-13 18:14] espipj commented on #1579
Hey! I'll be taking Layout Props ⏹️ @rachelnabors

[2020-03-13 19:27] rachelnabors commented on #1579
@nnajiabraham Add some example code snippets using our usual code block notation then!

@danilobrinu You're on Linking now!

@espipj You're on Layout Props

Thank you three very much for your trouble and toil!

[2020-03-13 19:33] #1156 closed

[2020-03-13 20:47] Metroidaron commented on #1194
## This is still an issue!

### tldr; Yes the above was an issue; the guide for integrating React-Native into an existing app has been a very rough experience and taken a LOT of time; Can someone who has done this integration before verify there are no other big breakages inside the integration guide like this one?  Luckily I've been using react-native init as a reference for troubleshooting; but

[2020-03-13 22:25] nnajiabraham commented on #1579
Hi, @rachelnabors  all done with VirtualizedList API and AppRegistry example, PRs are #1742 and #1743 respectively. Let me know if anything needs changing 👍

[2020-03-14 16:02] danilobrinu commented on #1579
Hi @rachelnabors I have a question. I get an error when I call to `Linking.sendIntent` -> `s.default.sendIntent is not a function`. I see the source and is part of the current API so I don't understand why I get that error :'(, can you help me with that ??

[2020-03-15 17:50] Simek commented on #1056
@MBLHarrison It seems like issue described here is no longer valid, can you confirm that?

[2020-03-15 17:54] MBLHarrison commented on #1056
@Simek When using Expo with iOS and Android it displays as it should, however for me the web is not rendering at all. is that a separate issue though

[2020-03-15 18:08] Simek commented on #1056
@MBLHarrison It's obvious for me that this is not RN website issue. `expo` or `react-native-web` could be the culprit. But since you have reported it here i would like to investigate.

Can you tell me which OS and browser you are using?

It looks okay for me on Chrome of macOS and Win:
<img width="604" alt="Annotation 2020-03-15 190614" src="https://user-images.githubusercontent.com/719641/7670755

[2020-03-15 18:30] MBLHarrison commented on #1056
Win 10
It _doesn't_ work on Brave.
Just tested and it _does_ work on Edge and Firefox.

[2020-03-15 18:41] Simek commented on #1056
So it might be even issue specific only to the Brave browser.

I would recommend to report this bug elsewhere (presumably in `react-native-web` repo or Brave support/bug track) because React Native website maintainers have no ability to fix this in any way.

[2020-03-15 21:11] danilobrinu commented on #1579
@rachelnabors can you review this PR #1751 ?

[2020-03-16 07:15] rahulnainwal107 opened #1753 "State is not being updated in ListFooterComponent."
I am trying to update the state from ListFooterComponet but not able to do that from listfootercomponent. My flatlist code is like that
[code]
onChangeText inside listFooterComponent is not triggering. When i am putting sme code outside of flatlist it working fine.

[2020-03-16 07:16] #1753 closed

[2020-03-16 11:27] rachelnabors commented on #1579
@danilobrinu This question is better posited on your PR! Would you mind moving it there? (Also, double check you're using the most recent version of React Native!)

[2020-03-16 12:00] rachelnabors commented on #1579
I've updated the matrix! Just four left to go!

* `AppRegistry` and `Linking` are already in PR

[2020-03-16 13:13] danilobrinu commented on #1579
@rachelnabors I tested that code in Snack and I get that error.

[2020-03-16 14:34] gedeagas commented on #1579
hi @rachelnabors, after searching the codebase I only found one deprecated prop. if anyone finds any changes please let me know and I will happily update the docs

[2020-03-16 15:27] rachelnabors commented on #1579
Folks, it looks like [`Text.onlayout`](https://reactnative.dev/docs/text#ontextlayout) is still "TODO." Anyone want to patch it up?

[2020-03-16 15:59] nnajiabraham commented on #1579
@rachelnabors I could patch it up, what is needed for that??

[2020-03-16 23:21] rachelnabors commented on #1579
Literally replace "TODO" with a proper description of what `onlayout` is and does!

[2020-03-16 23:39] DaniAkash commented on #1579
@rachelnabors Signing off PanResponder API as up-to-date in https://github.com/facebook/react-native-website/pull/1691

Which means we only have two more to go!

Also the PR for Transforms is at - https://github.com/facebook/react-native-website/pull/1613

[2020-03-17 00:00] rachelnabors commented on #1579
We are one PR away from being done! Dear contributors, I must ask, what is your favorite format for swag? For me, I love stickers. I put them on my laptop. But some prefer buttons you can wear with pride. What about you?

[2020-03-17 00:58] DaniAkash commented on #1579
Gosh, I love buttons! ✨

[2020-03-17 04:43] gedeagas commented on #1579
@rachelnabors I prefer stickers ❤️, because of recent cancelation of f8 2020 I can't get sticker packs to share with my local Facebook developer circles anymore 😥. But any swag is welcome 😄.

[2020-03-17 05:06] mohamedsgap commented on #1579
@rachelnabors, I love stickers too :heart:.They enables me to show how much I admire what I put on my laptop :hugs:

[2020-03-17 17:18] Naturalclar commented on #1579
I love stickers ❤️

[2020-03-17 17:27] nnajiabraham commented on #1579
@rachelnabors I've got the PR up for the Text.onTextLayout #1757  let me know if any other thing needed 🙌
Also, discovered my info on the Docs Drive Leaderboard is missing and having some nulls 🤣 to help, here are the PRs I had if you'd want to update the LeaderBoard, Thank You 🙌 ...
#1606 #1743 #1742 #1740 #1632 #1757

Finally will love stickers or t-shirts ❤️ and if there are any other ways I co

[2020-03-17 18:28] rachelnabors commented on #1579
🍾🎉🎈Thank you everyone! We are mission complete!🍾🎉🎈

Thank you all so much for your conributions! The new docs are being cut now, meaning all your contributions will be front and center, not hiding under **/next/**!

If you could be so kind to [give me a little info about yourselves in this form,](https://docs.google.com/forms/d/1h4evpvafv5WVfupr4zohoizZ1nVtk__8U8LH1odQFSI/) I can see about sending

[2020-03-17 18:28] #1579 closed

[2020-03-17 19:23] charles-goode opened #1758 "Please add screenshots or snacks for each simple component"
As a front-end react native developer, I spend a lot of time window-shopping for components to use from various libraries. All good libraries always have screenshots from both platforms (where applicable) for a component in its documentation. This would probably take an intern like one afternoon and would make the website pop much more.

[2020-03-17 20:15] danilobrinu commented on #1579
@rachelnabors I love t-shirts and stickers ♥️.

[2020-03-18 00:20] espipj commented on #1579
Amazing effort by everyone! Thanks @rachelnabors for your patience and support with/to everyone! 🚀🦄

[2020-03-18 13:48] rachelnabors commented on #1758
You should see this in the **/docs/next/** version of the docs right now and shortly Snacks will be included in all APIs and Components in the 0.62 version of the docs. We just completed #1579 to address this. Thanks so much for sharing how important these changes are!

[2020-03-18 13:48] #1758 closed

[2020-03-18 13:54] rachelnabors commented on #1758
(But it did take significantly more than one intern an afternoon to complete this challenge—we had 29 volunteers working over two months! Awesome folks, and I want to give their efforts a shout out!)

[2020-03-18 18:00] TheSavior opened #1768 "Google search results pointing to very old versions"
I searched Google for "React Native elevation"

![Screen Shot 2020-03-18 at 10 58 24 AM](https://user-images.githubusercontent.com/249164/76991794-6ba6c300-6907-11ea-807e-79355513826d.png)

The link for this is
[code]

0.52 is a really old release and the likelihood that the docs for that are very out of date.

Is there any SEO we can do to help results default to the current version?

[2020-03-18 18:08] yangshun commented on #1768
What will be the right page here?

[2020-03-18 18:49] TheSavior commented on #1768
@rickhanlonii found this related issue from how Node solved this. https://github.com/nodejs/node-v0.x-archive/issues/941

[2020-03-18 19:17] rickhanlonii commented on #1768
My recommendation here for optimal SEO is:
- Add a /latest vanity URL (so we can set this up once and leave it run)
- Add ref="canonical" redirects to every versioned doc pointing to /latest
- Update the sitemap to remove the versioned docs, and only include /latest

If I understand indexing correctly, then with this strategy search engines will show the `/latest/<doc>` page for search terms that

[2020-03-18 20:30] TheSavior commented on #1768
Our existing unversioned links are the latest ones, do we need a `/latest` vanity? Or can the existing URL be the canonical?

[2020-03-18 22:01] hramos commented on #1650
I think it's alright to send a PR for this to the core repo. I'm going to close this, as it's not related to the website.

[2020-03-18 22:01] #1650 closed

[2020-03-19 09:38] cHaLkdusT commented on #1741
Are you looking at this reference https://reactnative.dev/docs/native-components-ios#ios-mapview-example ?

Seems like the example actually has 1 argument only

[2020-03-19 09:52] cHaLkdusT commented on #1616
This has been fix in pull request #533.

By the way, @DonaldDai  you are using v0.8 of the documentation. Please refer to the latest version [v0.61](https://reactnative.dev/docs/appregistry#registercomponent)

[2020-03-19 11:34] cHaLkdusT commented on #1603
I've checked this one, seems like all the previous versions has messed up 😕

By the way, if you are using RN v0.59 below use this Podfile:

[code]

[2020-03-19 16:33] Acidfabric commented on #1741
Can you scroll down to next example? It has 2 parameters

[2020-03-19 16:34] Acidfabric commented on #1741
![5CE80C8A-823E-4BAA-AC27-AADBED21DFF0](https://user-images.githubusercontent.com/10161006/77090753-45207f00-6a10-11ea-86b0-782e666eea09.png)

[2020-03-19 19:40] rickhanlonii commented on #1768
@TheSavior good point, the /docs URLs function as /latest, updated.

[2020-03-19 19:53] rachelnabors commented on #1768
I don't think this is the appropriate use of `canonical` given Google's guidelines. The feature is intended to point pages of duplicate content to a single "canonical" source (IIRC identical "meat" but the surrounding markup might differ—think mobile and desktop pages and reblogs).

Before we pursue `canonical` as a solution, let's get some data from other people who have used this solution. (Did

[2020-03-19 22:52] chrisbobbe commented on #33
For `docs/integration-with-existing-apps.md`, under "Configuring CocoaPods dependencies", the example Podfile in `/ios` differs by version. A side effect of not versioning that doc is that sometimes that example is incorrect;  I suspect this is a cause of #1194.

[2020-03-19 22:55] chrisbobbe commented on #1194
The auto-generated Podfile (from `react-native init`) differs by version, but it sounds like the same "Integration with Existing Apps" doc is served no matter which react-native version you've selected on the website. I learned that from reading #33, and I made a note there.

[2020-03-20 01:12] #1616 closed

[2020-03-20 01:20] chrisbobbe commented on #1603
Mm, it looks like several pages, including this one, have been selected as not being handled per-version — the most up-to-date doc shows no matter which version you've selected. I reported this confusion at https://github.com/facebook/react-native-website/issues/33#issuecomment-601453102.

[2020-03-20 01:32] chrisbobbe commented on #1603
Just to add to @cHaLkdusT's helpful comment that that example Podfile doesn't come out of the blue; that's what this doc correctly listed, for v0.59 — but then it was updated for v0.60 (see https://github.com/facebook/react-native-website/commit/483eafb494298609e2865bdfaf64e6624ff2c4fc), and v0.59 users were left with an incorrect example. 🙂

[2020-03-20 01:43] chrisbobbe commented on #1603
Actually, this confusion may be resolved in 53cd8f6f3a2fa6799f9cf70c2de80e9e58e7a0f6, which adds this helpful line:

[code]

It looks like the link to https://react-native-community.github.io/upgrade-helper/ was added with the knowledge that only the latest version of this file would be presented, for all versions. It alerts the reader to the fact that the proper Podfile might be different than th

[2020-03-20 02:22] rachelnabors commented on #1272
Closing because it's 2020. These were ambitious goals, and we were just able to bring several of them to fruit with the help of the community (see #1579 #1633 #1469—thank you, everyone!).

The effort continues! Still looking for volunteers to write Offline, Internationalization, Intro to Debugging and Animations!

[2020-03-20 02:22] #1272 closed

[2020-03-20 03:28] cHaLkdusT commented on #33
I think it's better to "version" all files because we have users who can't afford to upgrade yet. So relying on old documentation is still relevant to them.

[2020-03-20 04:29] cHaLkdusT commented on #1741
Hi @Acidfabric, this method call is valid. You ignore the TS checker for now. I will create an issue in react-native for this method signature.

[code]

[2020-03-20 04:43] lcelso commented on #1768
I believe the search is still cached, as it is still indexing the old url and redirecting to the new one.

https://facebook.github.io/react-native/docs/0.56/view-style-props.

https://webcache.googleusercontent.com/search?q=cache:iFhOA-9kJF4J:https://facebook.github.io/react-native/docs/0.56/view-style-props+&cd=1&hl=en

The third search option falls on the most current page.

In my view we have s

[2020-03-20 13:54] rachelnabors commented on #1644
Thanks for the catch, both of you!
![klk_nice-catch](https://user-images.githubusercontent.com/236306/77170016-591cbd00-6ab2-11ea-9e98-ab5ffc914f85.gif)

[2020-03-20 13:54] #1644 closed

[2020-03-20 14:11] rocboronat commented on #1644
Hey @rachelnabors, the link is still broken...

[2020-03-24 17:20] rickhanlonii commented on #1279
cc @rachelnabors, the [Building For TV Devices](https://reactnative.dev/docs/building-for-apple-tv) is out of date - starting with 0.62 users will need to begin using https://github.com/react-native-community/react-native-tvos to develop TV devices.

[2020-03-24 19:25] renato-bohler opened #1780 "Core Components links are broken"
It seems that 3bb51b0d1f3ab224c638d19265b232437fc7068a added some links to "Core Components" that aren't valid (yet?).

These are the pages pointing to a broken link on the docs:
1. Learn The Basics > [What's going on here?](https://reactnative.dev/docs/tutorial#whats-going-on-here)
2. [Components and APIs](https://reactnative.dev/docs/components-and-apis)
3. [Handling Text Input](https://reactnat

[2020-03-24 19:27] #1523 closed

[2020-03-24 19:28] rickhanlonii commented on #1523
@estevaolucas yeah feel free to submit a PR!

[2020-03-24 19:31] rickhanlonii commented on #1768
Note that the majority of pages across versions are exact duplicates because they're unchanged. I think google is able to verify duplicate content so using canonical would work even for pages that are slightly different.

There's no need to be perfect here - we could try some options and see what works. One thing we know is definitely wrong is the sitemap.

[2020-03-24 19:57] estevaolucas commented on #1523
@rickhanlonii  it's already fixed. @Simek already added the reference for `reload method here https://github.com/facebook/react-native-website/pull/1722. Thank you!

[2020-03-28 11:30] #1147 closed

[2020-03-29 22:02] harshvitra opened #1798 "Asset exts and Metro Config links are not working in the docs"
### Replication Steps

On Page - https://reactnative.dev/docs/images
Section - https://reactnative.dev/docs/images#static-non-image-resources

Link 1 - https://facebook.github.io/metro/docs/en/configuration#assetexts
Link 2 - https://facebook.github.io/metro/docs/en/configuration

### Current Output

Both these links are not working.

[2020-03-30 18:17] tuckerzb opened #1802 "Tutorial Expo code editor breaks style object"
In the first Expo code editor of the Tutorial, it seems the closing `}]` braces of the style object have auto-inserted, breaking the live preview. Oddly, this does not appear in the repo when I check tutorial.md

<img width="1034" alt="Screen Shot 2020-03-30 at 2 14 19 PM" src="https://user-images.githubusercontent.com/55966263/77946957-26807a80-7291-11ea-991b-0e8b09f3bcfb.png">

[2020-03-31 03:59] jairaja opened #1804 "Faulty closing brackets in "Hello World!" example"
Firefox ver - 74.0

Highlighted in Red in below image:
![image](https://user-images.githubusercontent.com/10957486/77985416-0ead0300-7332-11ea-9a26-7631f58e4174.png)

[2020-04-01 11:43] mjarraya commented on #1804
[#1785](https://github.com/facebook/react-native-website/pull/1785) fixes this

[2020-04-01 16:30] danielteshome commented on #1704
I did not encounter any issues while setting up the offline website.

@cHaLkdusT Can you please verify if the code snippets are being displayed in the examples of the tutorials?

[2020-04-04 09:31] mateNemeth opened #1816 "Wrong link for Watchman Installation guide"
The link for the Watchman installation on the environment setup page redirects to https://facebook.github.io/watchman/docs/install.html#buildinstall, which doesn't exist (anymore ?).

[2020-04-04 15:10] Simek commented on #1816
Refs: #1811

[2020-04-04 17:29] Simek commented on #1816
You could have waited until one of PRs is merged before closing this issue, but thank you for reporting this anyway 👍

[2020-04-04 17:31] mateNemeth commented on #1816
@Simek sorry, should i reopen it?

[2020-04-04 18:12] Simek commented on #1816
Probably we will need to wait few days until one of the PRs will be merged by a maintainer, but it might happen earlier. Having this issue open could prevent someone from creating similar one, but it's not that crucial, there are duplicates anyway. I leave the decision to yourself.

[2020-04-04 18:13] mateNemeth commented on #1816
Ok. I'll reopen it then until a PR is merged.

[2020-04-06 08:51] dsernst commented on #725
These remain missing.

The 3rd-party typescript definitions have descriptions and type signatures for many of the `UIManager` methods:

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/da93d7b13094bacb170ead3f4a289f3b8687e4e5/types/react-native/index.d.ts#L8001

But it's still missing some methods, like [`.viewIsDescendantOf`](https://github.com/facebook/react-native/blob/fb627dac6a03f4ab52

[2020-04-06 11:59] #1798 closed

[2020-04-08 17:42] rachelnabors opened #1831 "Links in props listings don't look like links"
See also the prop definitions for Color: ![image](https://user-images.githubusercontent.com/249164/78808828-d7b29f00-797a-11ea-98fd-f94459453a3a.jpeg) originally posted by @TheSavior in https://github.com/facebook/react-native-website/pull/1813#issuecomment-611058025

[2020-04-08 18:06] Simek commented on #1831
I'm on it.

[2020-04-08 18:32] TheSavior commented on #1831
Woah, I tried tapping on those a bunch of times on mobile and was positive they weren't links. They probably need much larger hitboxes.

![Screen Shot 2020-04-08 at 11 31 49 AM](https://user-images.githubusercontent.com/249164/78820406-94f9c280-798c-11ea-93ba-a97965598fdb.png)

[2020-04-08 18:39] Simek commented on #1831
Not every `color` type keyword is linked unfortunately, my PR should make obvious which currently are.

I can add padding to the links inside table, but other links on the website has no padding. I have no issues on desktop. Do you have problem with other, in text, links on mobile?

Maybe we should adjust all in article links padding but only on mobile?

[2020-04-08 18:54] TheSavior commented on #1831
I haven't used the docs much to know if i have problem with other text links on mobile. I probably gave up quicker because of the styling. So it is possible that your styling fixes will solve this.

[2020-04-08 20:23] Simek commented on #1816
#1809 was merged 😉

[2020-04-08 20:25] Simek commented on #1802
My PR was merged, can you confirm that your issue has been fixed?

[2020-04-08 20:26] Simek commented on #1804
My PR was merged, can you confirm that your issue has been fixed?

[2020-04-09 00:07] tuckerzb commented on #1802
Fixed! Thanks @Simek

[2020-04-09 04:23] jairaja commented on #1804
Thanks mjarraya and Simek...issue is fixed.

[2020-04-09 04:23] #1804 closed

[2020-04-09 08:55] Simek commented on #1802
Nice to hear that, can you close this issue then?

[2020-04-09 14:05] jonmountjoy opened #1836 "Picker has been moved, but the documentation doesn't show it"
If you use Picker in 0.62 you get a warning, stating you need to move to https://github.com/react-native-community/react-native-picker instead.  However, the [documentation](https://reactnative.dev/docs/picker) doesn't reflect that at all, and continues to encourage folk to use the old, embedded, version

[2020-04-09 14:32] #1802 closed

[2020-04-09 20:26] hramos opened #1837 "Running on Device: LaunchScreen Storyboard"
See https://github.com/facebook/react-native/pull/28239#issuecomment-602255876 - we might need to update the docs to account for the new Storyboard based guidance.

[2020-04-10 14:51] rachelnabors commented on #1831
Styling issue fixed in #1832

[2020-04-10 14:51] #1831 closed

[2020-04-10 15:36] rachelnabors opened #1839 "There's a banner that looks like a regular paragraph—style it"
As per #1835, we seem to have a class `banner-native-code-required` used to alert people to the possible need to eject their Expo projects scatter throughout the site—but the warnings blend in (a little awkwardly) with the surrounding text. These should be made to stand out. Here are all the pages using it: https://github.com/facebook/react-native-website/search?q=banner-native-code-required&unsco

[2020-04-11 17:16] #1816 closed

[2020-04-12 13:12] Srajan1997 opened #1842 ""sate" used instead of "state""
At URL: https://reactnative.dev/docs/intro-react

State

While you can think of props as arguments you use to configure how components render, state is like a component’s personal data storage. **_Sate_** is useful for handling data that changes over time or that comes from user interaction. State gives your components memory!

Thought it does not affect the usability of DOCS, you still might want

[2020-04-12 14:07] dancherb opened #1843 "No way to monitor memory usage/performance on Android"
Seems to be zero about this in the documentation or StackOverflow. How can we monitor memory usage and performance for a React Native project on Android to investigate memory leaks, etc.?

Ideally we'd use the memory management profiler from Android Studio, but this doesn't seem available for a React Native project - the buttons are greyed out, and trying to run "Profile..." from the actions menu

[2020-04-13 22:40] Huxpro opened #1848 "Is <TextInput textAlignVertical /> intentionally effective?"
[The `multiline` section of `<TextInput>`](https://reactnative.dev/docs/textinput#multiline) mentioned `textAlignVertical` without saying where exactly should we add this prop.

Searches on `textAlignVertical` give [Text Style Props](https://reactnative.dev/docs/text-style-props#textalignvertical) which seems to be the recommended place to use it. But I accidentally find adding the prop onto `<Tex

[2020-04-14 14:16] supersh86 opened #1849 "Network example bug - endless loading json"
https://reactnative.dev/docs/network
Good afternoon, the network documentation in the fetch example uses an endless loop that loads the json https://reactnative.dev/movies.json.
Everyone who entered this article arranges a small DDoS attack on your site constantly requesting json.
Please correct the code.

Just open network in browser developer tools

[2020-04-14 17:54] rachelnabors opened #1850 "Move DynamicColorIOS to its own page"
When we documentated the `PlatformColor` API, [it came to light that `DynamicColorIOS` needs its own page](https://github.com/facebook/react-native-website/pull/1813). For now it lives on the [Colors page](https://reactnative.dev/docs/colors). Move it into the **API** section of the site, reference it from the colors page and `PlatformColor`, and add an example

[2020-04-15 16:54] rachelnabors commented on #1579
So, umm, the pandemic has made procuring and mailing swag more difficult than I had imagined! Eek! But we have not forgotten your contributions :) You can expect a shout out in an upcoming blog post!

[2020-04-16 10:52] jerrybuks opened #1852 "Broken Links To Watchman Site"
In the getting started page, the link to Watchman's install and build install is broken at some points.

[2020-04-16 15:16] Simek commented on #1839
Can we just replace those blocks with markdown quote block like on the [Linking](https://reactnative.dev/docs/linking) page?

If they should be styled differently than note/quote blocks (ex. based on red colors not yellows) please specify the preferred styling.

[2020-04-16 15:22] Simek commented on #1780
Thank you for the report. This issue should be fixed now thanks to version `0.62` cut. Can you confirm that?

[2020-04-16 15:32] Simek commented on #1678
Thank you for the suggestion. I like it but unfortunately there is no option to configure Docusurus to work in the suggested way. To read more about paths generation you can visit Docusurus [Versioning](https://docusaurus.io/docs/en/versioning) guide.

Also upcoming V2 (website is using V1) do not support paths as described above, so if you want to proceed this idea of improvement further I would

[2020-04-16 15:32] #1678 closed

[2020-04-16 15:42] Simek commented on #1573
The issue reported here has been fixed by the merge of PR created by @gedeagas.

[2020-04-16 15:42] #1573 closed

[2020-04-16 16:12] renato-bohler commented on #1780
Hey there.

Hmm it seems that on the latest version this is indeed fixed... but if I go to the docs of version `0.61`, the problem still occurs. Examples:

1. https://reactnative.dev/docs/0.61/tutorial#whats-going-on-here
2. https://reactnative.dev/docs/0.61/components-and-apis
3. https://reactnative.dev/docs/0.61/handling-text-input

I'm not sure how far support goes for documentation of older ve

[2020-04-16 16:14] Simek commented on #1112
As stated in mentioned PR, you shouldn't have to install dependencies by yourself. There were also a PR #1444 which improved Getting Started guide and includes tweaks related to the issue reported here.

If you still having any issues with latest version of React Native and Pods please create the new issue.

[2020-04-16 16:14] #1112 closed

[2020-04-16 16:19] Simek commented on #1780
Every example link you provided works for me (correct page loads, no 404). Can you clear your browser cache (in the most browsers `Ctrl/Cmd+Shift+R`). If this won't help can you describe what exactly is wrong with those links?

BTW. Not all links from `0.62` or `next` should be valid in `0.61` docs.

[2020-04-16 16:25] gedeagas commented on #1850
Hi is anyone taking this already? if not I am willing to help 😀

[2020-04-16 16:46] Simek commented on #1555
As mentioned in #1444 and #1112 you shouldn't have to install Pods dependencies by yourself, CLI should handle it.

Getting started guide has been updated so if you still having any problems with installation of latest version of React Native and Pods please create the new issue.

[2020-04-16 16:46] #1555 closed

[2020-04-16 16:53] Simek commented on #1550
There is no link to Canny.io in the React Native README or repo files:
* https://github.com/facebook/react-native/search?q=canny&unscoped_q=canny

As far as I know [react-native-community/discussions-and-proposals](https://github.com/react-native-community/discussions-and-proposals) repository is the official place to request features in React Native.

[2020-04-16 17:22] rachelnabors commented on #1839
We could, but I think we overuse that yellow box: is it a note, a warning, an aside? Would be nice if we could do something a little more designerly and specific for this case... kinda like the call out at the top of the new getting-started

[2020-04-16 18:04] Simek commented on #1509
The current implementation of this API can be found here:
* [Android](https://github.com/facebook/react-native/blob/master/Libraries/Utilities/Platform.android.js)
* [iOS](https://github.com/facebook/react-native/blob/master/Libraries/Utilities/Platform.ios.js)

[2020-04-16 18:25] Simek commented on #1843
I'm sorry but this is the React Native **website** repository.

To discuss problems, find support or request a feature in React Native please use a guide on the [website](https://reactnative.dev/help) or visit [main repository](https://github.com/facebook/react-native).

If you have a feature request or an issue with Android Studio please use JetBrain [bug tracker](https://youtrack.jetbrains.com/)

[2020-04-16 18:25] #1843 closed

[2020-04-16 18:44] renato-bohler commented on #1780
Oops, sorry about that. I didn't mean to say that these links are broken. I meant to say that these pages on the `0.61` version of the documentation still have broken links to the "Core Components" page.

[2020-04-16 18:47] Simek commented on #1635
The Flexbox guide can be found [here](https://reactnative.dev/docs/flexbox) and `flexGrow` property is described [there](https://reactnative.dev/docs/flexbox#flex-basis-grow-and-shrink). At the top of the [Layout Props](https://reactnative.dev/docs/layout-props) there is a mention that you can find detailed description of props in the Flexbox guide.

Would you like to create PR which adds briefly

[2020-04-16 18:51] pcowgill commented on #1550
I wasn't aware of that repo - good to know!

We should make an issue about this over in that repo too.

And this issue should also be about linking out to that repo so people can find it.

[2020-04-16 19:10] Simek commented on #1550
Discussions and proposals repository is mentioned on the main community/help page (https://reactnative.dev/help) as well as other usefull places.

[2020-04-16 19:51] Simek commented on #797
As @charpeni said before code tells us that only `integer` values are allowed.

Since `DatePickerIOS` has been deprecated I suggest to retest this with recommended substitution package and report issue or invalid documentation [in this repo](https://github.com/react-native-community/datetimepicker).

[2020-04-16 19:51] #797 closed

[2020-04-16 19:58] Simek commented on #676
Getting Started guide has been updated a lot since this issue has been posted.

The current guide can be found [here](https://reactnative.dev/docs/environment-setup).

If you still experiencing the problem with the initial installation of the latest version of React Native please create new issue.

[2020-04-16 19:58] #676 closed

[2020-04-16 20:03] #331 closed

[2020-04-16 21:43] #1056 closed

[2020-04-16 21:46] #999 closed

[2020-04-16 21:47] #1076 closed

[2020-04-17 11:03] Simek commented on #784
Current version of [Navigating Between Screens](https://reactnative.dev/docs/navigation) guide contains correct list of required packages and commands are divided for `expo` and `react-native` users.

If you still having problems with navigation packages using the latest guide please create the new issue.

[2020-04-17 11:03] #784 closed

[2020-04-17 21:18] Simek commented on #1370
Current version of [Using a ScrollView](https://reactnative.dev/docs/using-a-scrollview) example is working properly for me on Android. Can you confirm that the issue has been fixed?

[2020-04-17 21:22] Simek commented on #1470
Current version of [AppState](https://reactnative.dev/docs/appstate) class component example is working properly for me. Can you confirm that the issue has been fixed?

[2020-04-18 11:50] nottledim commented on #1370
Oh!  I gave up with native at that point; I went a different route.  I'll put it on my list of things to do (but don't hold your breath).

[2020-04-18 23:26] jamesxabregas commented on #1635
Hi there, I've done as you've suggested and added the descriptions for flexGrow, flexShrink, and flexBasis to the layout-props page. I will create a pull request. I have simply copied the descriptions from the Flexbox guide so that at least the Layout Propos API page is complete. I'm not sure what you meant by the last line where you said "Also I think that we should emphasize the Flexbox guide me

[2020-04-18 23:27] jamesxabregas commented on #1635
This is the pull request. Hope this helps. https://github.com/facebook/react-native-website/pull/1861

[2020-04-19 14:17] sonicdoe commented on #1678
Thank you for pointing to Docusaurus. I’ve found that this feature has already been requested [for Docusaurus v1](https://github.com/facebook/docusaurus/issues/1312) and [for Docusaurus v2](https://docusaurus-2.netlify.app/feedback/p/permanent-url-support-for-current-version).

[2020-04-19 20:26] mitulsavani commented on #1850
Hi @rachelnabors,

I was able to read a full [conversation](https://github.com/facebook/react-native-website/pull/1813) regarding this issue. I am curious if @kikisaints is already working on it? If not, then I wanna give it a shot.

[2020-04-20 14:01] Simek commented on #1850
Hi @mitulsavani, unfortunately the changes requested in this issue has been proposed.

As issue actions log shows, there is a PR by Rachel linked to this issue which extracts `DynamicColorIOS` API and introduces few other changes.

If you are interested in contributing, there are few other `Good first issue`s and most wanted for now it's #1509.

[2020-04-21 12:02] #1850 closed

[2020-04-21 12:03] #1635 closed

[2020-04-21 12:03] #1842 closed

[2020-04-21 12:04] #1836 closed

[2020-04-21 12:06] #1780 closed

[2020-04-21 12:07] #1849 closed

[2020-04-21 12:08] #1852 closed

[2020-04-21 17:09] komape opened #1866 "Offer static alternative to Expo Device Preview"
If I just want to have a quick look how something looks it would be nice to have a static example (image would be enough) to see a preview. With the current solution with the Expo Device Preview I am forced to wait in a queue. And this can take quite long...

I know I could use a mobile phone with the Expo app installed but for a quick check on a component it is not useful.

[2020-04-23 09:42] Abhishek9634 opened #1868 "React-Native with existing iOS Swift project is outdated"
React-Native with existing iOS Swift  project is outdated
As of 0.62 use flipper and also sample project is updated 5 years ago.
Please update the complete doc for Object-C/Swift. So that developer can integrate seamlessly

[2020-04-23 11:17] pranaydeepreddy225 opened #1869 "FlatList not rendering"
I have use below code
class FoodList extends Component
{
   state={
     foods:[]
   }
    componentDidMount()
    {
      const foods=require('../jsons/veg.json').fooditems
      //console.log(foods)
      this.setState({foods});
    }

    render()
    {
      console.log(this.state.foods)
        return(
            // <SafeAreaView style={styles.viewstyle}>

        <FlatList style={{flex:1,ma

[2020-04-23 18:22] Simek commented on #1869
Hi @pranaydeepreddy225, this is React Native website repository. If you are looking for help with you code please check out React Native [Help](https://reactnative.dev/help) page or post a question on the [Stack Overflow](https://stackoverflow.com/questions/tagged/react-native).

[2020-04-23 18:22] #1869 closed

[2020-04-23 18:33] Simek commented on #1291
Hi @AbelTesfaye, I can see that your PR has been merged. Can I close this issue or are there more changes you want to introduce?

[2020-04-23 19:04] AbelTesfaye commented on #1291
Hi @Simek ,

Yeah, my PR has already been merged, I'll go ahead and close this issue.

Thanks!

[2020-04-23 19:04] #1291 closed

[2020-04-24 09:28] gedeagas commented on #1837
Hi @Simek, is anyone working on this already? I would love to help if not.

[2020-04-24 09:35] Simek commented on #1837
Hi @gedeagas, awsome, feel free to work on this issue.

At the first glance it looks like that the docs are not mentioning `XIB`s anywhere (so the `StoryBoard` replacement is not needed) but an extensive check is needed. Also if there is no information about Launch Screen already I would nice few sentences about it.

[2020-04-24 10:17] jeswinsimon commented on #1837
@Simek There is a section under [pro tips](https://reactnative.dev/docs/running-on-device#pro-tips) on how to keep the Launch Screen visible during loading if the app bundle size is large. The code snippet in this section is no longer relevant as we are not using an `XIB` anymore.

[2020-04-24 10:36] gedeagas commented on #1837
As @jeswinsimon explained, we are no longer using XIB for our SplashScreen. so `loadNibNamed:@"LaunchScreen"` will not work because the XIB file is no longer exist. I am planing to update the code to use `UIStoryboard`

[2020-04-24 15:31] HectorRicardo commented on #1529
I believe there is a mistake in this example. The documentation of FlatList states that:

The problem is that the `renderItem` prop is passed as an inline function, thus the section list will rerender in every App's rerender. Therefore, the extraData parameter is useless in this example. The documentation should show another example of how to use the extraData prop correctly.

[2020-04-24 16:31] HectorRicardo commented on #1529
Also, can you reword this phrase ?

Seems grammatically incorrect (which is the verb, "is" or "updates" ?).

[2020-04-24 17:40] hramos commented on #1868
Can you elaborate?

[2020-04-24 17:43] Abhishek9634 commented on #1868
The sample mentioned in the official was updated 5 years ago. As per new version pod file have massive changes. It is requested to update the sample as per new guidelines of RN.

[2020-04-25 21:40] MattGoldwater opened #1876 ""Warning: Failed propType:Invalid prop 'source' supplied to 'Image'"
I'm going through the React Native tutorial with Expo on iOS and whenever I import an image I get the warning, ""Warning: Failed propType:Invalid prop 'source' supplied to 'Image'" and the image doesn't appear on the screen.

For example from [https://reactnative.dev/docs/intro-react](https://reactnative.dev/docs/intro-react)

[code]

I was able to get the image to appear by adding a uri property

[2020-04-25 21:47] Simek commented on #1876
Hi @MattGoldwater, thank you for reporting this! The solution you have posted is correct, feel free to make it into a PR. I would be nice if you can edit also `0.62` [versioned page](https://github.com/facebook/react-native-website/blob/master/website/versioned_docs/version-0.62/intro-react.md) beside `current/next` one, because `0.62` docs are the default selected version (when user enters the we

[2020-04-25 22:43] joshglenn commented on #653
It would definitely be nice to have some documentation on how to build react native from source. The [docs](https://github.com/facebook/react-native/wiki/Building-from-source) only tell how to build the android side of things.

What about iOS? Any special build steps?

How is the project structured?

My biggest hurdle right now with this topic:

I want to know how to use my own fork of the react-n

[2020-04-26 07:34] royalbhati opened #1878 "Animation Api example shows dependency error in expo playground"
https://reactnative.dev/docs/animations

[code]
The above code is missing a dependency in Array supplied to useEffect

**FIX** :  add fadeAnim to dependency array

[2020-04-27 09:09] LuckyLuke19 opened #1881 "Add documentation for Appearance.addChangeListener method"
The `Appearance.addChangeListener` method is not mentioned in the documentation. However, it exists and it works as expected. Shouldn't it be included? I have been using the `react-native-appearance` package for some time and I intended to stop using it once the `Appearance` API got included in the `react-native` core. However, I didn't do so because I thought that the `addChangeListener` method (

[2020-04-27 22:49] kmelmon opened #1883 "Docs on start/end related properties are incorrect w/respect to RTL behavior"
I noticed that the docs on all the start/end related props are incorrect.  For example:
https://reactnative.dev/docs/layout-props#marginstart
The doc says:
“When direction is ltr, marginStart is equivalent to marginLeft. When direction is rtl, marginStart is equivalent to marginRight”
This is making it sound like marginStart flips depending on direction, but marginLeft does not. However this is no

[2020-04-28 13:38] #1876 closed

[2020-04-28 14:58] jacquesdev opened #1885 "Accessibility Role 'textbox' not defined in documentation about accessibilityRole prop"
I had a look here: https://reactnative.dev/docs/accessibility#accessibilityrole-ios-android, and it seems that a role is missing. Assuming that the roles are taken from the standard described here: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles it looks like textbox is missing, https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/textbox_role.

Essentially I

[2020-04-29 19:46] gedeagas commented on #1837
haven't had the time to do it for the past few days. I am free today and will send a pr asap. 🙏

[2020-04-29 22:27] alesandroortiz opened #1889 "Security reporting procedures not on website or repos"
There is no security contact listed at https://reactnative.dev for security issues in [React Native](https://github.com/facebook/react-native) or in [community repos](https://github.com/react-native-community).

Adding the security info for both Facebook repos and community repos to https://reactnative.dev/help would help security researchers find the appropriate security contact.

Based on info i

[2020-04-30 10:35] Lowisoft opened #1891 "[FlatList]: Should the height of the ListHeaderComponent be included in the getItemLayout offset?"
Hi, there is an ambiguity in the docs regarding the `getItemLayout` prop of `FlatList`.

Should the height of the `ListHeaderComponent` be included in the `getItemLayout` offset?

So that we would get something like this:

[code]
Because for the `scrollToOffset` prop for example, the height of the `ListHeaderComponent` is certainly included in the calculations.

Unfortunately, the docs only indica

[2020-04-30 13:16] armandojsgomes opened #1892 "[Suggestion] Proposed content addition to docs/intro-react.md"
Hey there!

In the document [https://github.com/facebook/react-native-website/blob/master/docs/intro-react.md](https://github.com/facebook/react-native-website/blob/master/docs/intro-react.md), I believe it would be interesting to add that functions can only return one element, thus giving a better understanding of the fragment usage (<>).

I'm starting out with React Native and even following the

[2020-05-01 00:31] campezzi opened #1894 "[iOS App Extensions] Update and improve documentation"
## Description

The [current documentation for iOS App Extensions](https://reactnative.dev/docs/app-extensions) doesn't explain how to implement a Share Extension that can use JS modules from the app bundle or render RN views.

## What is the problem?

The documentation states it should be possible to create a Share Extension that uses JS code in the app bundle even with the current memory restric

[2020-05-01 10:04] Simek commented on #1550
Issue templates has been imported from the React Native repository. Now the disscussions and proposals repo link is also located in the new issue flow: https://github.com/facebook/react-native-website/issues/new/choose

[2020-05-01 11:06] armandojsgomes opened #1896 "Using a ScrollView - Example doesn't work?"
## Description

Provided example code compiles but doesn't seem to work - throws errors. Only when changed to a function, I'm able to make it work.

## What is the problem?

When executing the sample code, I get an error:

## How can we address it?

I've changed from:

    export default App = () => (

To (with necessary adjustments):

    export default function App() {
        return (

and it w

[2020-05-01 11:21] Simek commented on #1896
Hi @armandojsgomes, the sample code is correct, there is a problem with your IDE/editor or project configuration.  You can read more about arrow functions in the comment [here](https://github.com/facebook/react-native-website/pull/1875#discussion_r415170616).

If you would like to avoid that replace inline export in your code with:
[code]

[2020-05-01 11:21] #1896 closed

[2020-05-01 11:22] armandojsgomes commented on #1896
Oh, thanks for the info and sorry about that! :)

[2020-05-01 11:25] Simek commented on #1896
You can also change the code to:
[code]
It looks like ESLint false positive report, at least in the [Snack](https://snack.expo.io/);

[2020-05-01 13:29] #1550 closed

[2020-05-01 13:35] pcowgill commented on #1550
This is good to know, thanks!

[2020-05-03 13:53] yozaam commented on #1427
Hey, I see that it is assigned but since he/she is inactive, I would love to do this

[2020-05-03 14:49] mdb1710 commented on #1427
Hi @yozaam  I have already finished and sent the PR for this issue just waiting for the review and approval.

[2020-05-04 15:03] Simek opened #1897 "Verify and update Animated Values pages code reference"
## Description

In the #1807 PR Animated values pages ([Animated.Value](https://reactnative.dev/docs/next/animatedvalue), [Animated.ValueXY](https://reactnative.dev/docs/next/animatedvaluexy)) has been added back to the main sidebar. The included example has been updated, but the reference may be outdated.

## What is the problem?

The state of the code reference on the animated pages is unknown.

[2020-05-04 20:30] Simek commented on #426
Hi @wh1t3cAt1k, thank you for pointing that! Unfortunately Animated value pages has been removed from the sidebar by the mistake. Page was you was looking for was available under the https://reactnative.dev/docs/animatedvaluexy URL but not from the menu on the left. I have updated the [`next`](https://reactnative.dev/docs/next/animatedvaluexy) version and added the pages back to the sidebar. This

[2020-05-04 20:30] #426 closed

[2020-05-04 20:59] Simek commented on #61
It also looks like a fixed issue for me. @methodbox Feel free to reopen this issue or create the new one if the problem persist.

[2020-05-04 20:59] #61 closed

[2020-05-04 21:05] Simek commented on #255
As @hyochan stated this property has been removed from the React Native. Also currently the links list in the page content are removed due to `onPageNav` component on the right side of the page.

[2020-05-04 21:05] #255 closed

[2020-05-04 21:15] Simek commented on #338
Thank you for the report! I'm happy to say that this issue has been fixed a while ago.

[2020-05-04 21:15] #338 closed

[2020-05-04 21:21] Simek commented on #717
Hi @aleclarson! Are you happy with the latest version of [AppRegistry](https://reactnative.dev/docs/appregistry) page or is it something that we can improve?

[2020-05-04 21:29] Simek commented on #768
In the current version of the docs we no longer use listings in the content. There is an automatically generated secondary navigation menu on the right side of the page and `getScrollResponder()`  method now appears on the list.

[2020-05-04 21:29] #768 closed

[2020-05-04 22:03] Simek commented on #889
Hi @dev6james, it looks like PR #1191 improved the example but information you are looking for is still missing.

From the React Native source code and internal examples I can tell you that `setLayoutAnimationEnabledExperimental` can be used [globally](https://github.com/facebook/react-native/blob/master/RNTester/js/RNTesterApp.android.js#L44) (in the index file) or locally, [inside the component]

[2020-05-04 22:11] Simek commented on #1061
Hi @divs246, I'm sorry but this is the React Native __Website__ repository. The bugs or issues in the React Native framework should be reported in the [`facebook/react-native`](https://github.com/facebook/react-native/issues) repository.

[2020-05-04 22:11] #1061 closed

[2020-05-04 22:13] vaukalak opened #1899 "transform matrix documentation."
## Description

[Documentation](https://reactnative.dev/docs/transforms#transform) doesn't mention the `matrix` transform property, event if it's supported in react-native.

## What is the problem?

I see that `decomposedMatrix` and `transformMatrix` are marked as deprecated in the doc. However following syntax is not mentioned at all:
[code]

So I'm not able to understand is this syntax deprecate

[2020-05-04 22:14] #1078 closed

[2020-05-04 22:24] Simek commented on #1899
Indeed using `'Use `transform: [{ matrix: ... }]` instead.` is recommended in the [deprecation warning](https://github.com/facebook/react-native/blob/master/Libraries/DeprecatedPropTypes/DeprecatedTransformPropTypes.js#L25), but there is no `matrix` example on the page.

I was only able to find few examples of `matrix` usage in the internal [tests](https://github.com/facebook/react-native/blob/mas

[2020-05-04 22:46] Simek commented on #1151
The deprecation note has been added in the PR #1673 so the reported issue should be fixed now.

[2020-05-04 22:46] #1151 closed

[2020-05-04 23:14] Simek commented on #1297
Most of the default values can be found in the [`StyleSheetTypes` source code](https://github.com/facebook/react-native/blob/master/Libraries/StyleSheet/StyleSheetTypes.js) comments, and other places in the React Native code.

There are also few [deprecated props](https://github.com/facebook/react-native/blob/master/Libraries/DeprecatedPropTypes/DeprecatedViewStylePropTypes.js#L20) (`borderStyle`,

[2020-05-04 23:21] Simek commented on #1370
@nottledim I'm going to close this issue for now, but please reopen this issue or post the new one if you find any problems with the current examples in the docs.

[2020-05-04 23:21] #1370 closed

[2020-05-04 23:22] #1470 closed

[2020-05-04 23:34] Simek commented on #1878
Can you elaborate on this problem? In the current example `fadeAnim` is defined (line 5 of example) as a reference using `useRef` hook which is based on the `Animated.Value()` current value.

[2020-05-04 23:44] Simek commented on #1881
Thank you for reporting this issue. Indeed there are two methods missing in the docs according to the [source code](https://github.com/facebook/react-native/blob/master/Libraries/Utilities/Appearance.js#L78):
* `addChangeListener`
* `removeChangeListener`

[2020-05-04 23:55] Simek commented on #1885
@jacquesdev As you can see in the [source code](https://github.com/facebook/react-native/blob/master/Libraries/Components/View/ViewAccessibility.js) React Native doesn't support `textbox` accessibility role right now.

You should create an issue in the `react-native` [repository](https://github.com/facebook/react-native/issues) or start a discussion in the official `discussions-and-proposals` [rep

[2020-05-04 23:55] #1885 closed

[2020-05-05 03:16] mitulsavani commented on #1579
Hi @rachelnabors, could you please post the link of the blog post here for the reference when the team publishes it?

[2020-05-05 14:21] dev6james commented on #889
It would indeed :)

Maybe I wasn't clear enough in the original post. I was trying to get a sense of whether, if one component calls `setLayoutAnimationEnabledExperimental`, if that means it's globally triggered for all components. Or if it's a local phenomenon.

I don't know the native implementation (nor should I need to) so it's not clear whether you can "pick and choose" which components to us

[2020-05-05 19:55] #333 closed

[2020-05-05 19:57] #1154 closed

[2020-05-05 19:58] #1503 closed

[2020-05-05 19:59] rachelnabors commented on #294
Technically it's up to you, the developer. We try to be technology agnostic. We could go with one or the other—or use both!

[2020-05-05 20:27] rachelnabors commented on #1149
The CSS standard is already evolving and adding new properties. Maintaining a list of what we _don't_ support would easily fall out of date! Are there particular things that have cause you to stumble in development? Perhaps we could add a gotcha or warning for common use case :)

[2020-05-05 20:27] #1149 closed

[2020-05-05 21:50] michaeleisel commented on #294
I think it'd make sense to clarify that then - especially because a lot of devs coming to react native are more mobile than js, and don't know much about yarn or npm

[2020-05-05 22:58] Simek commented on #1489
Hi @msalpietro, according to the detailed [release notes](https://github.com/react-native-community/releases/blob/master/CHANGELOG.md#v0620) this commit was a part of 0.62.0 release (search for `7df3eea1a7`).

[2020-05-07 04:56] yozaam commented on #1427
Oops 🙈  superb :D

[2020-05-07 13:17] #1881 closed

[2020-05-09 08:49] o-t-w commented on #1149
I had been thinking of writing a blog post about it - I'd be happy to add something to the docs instead. I honestly think a partial and incomplete list of properties RN doesn't support would be more useful than nothing - just to make clear to people that there is a bunch of properties that won't be available to them in RN. As somebody coming from the web it's been bewildering to grapple with somet

[2020-05-10 13:25] nubpro opened #1917 "Invalid link in latest blog"
![chrome_pCvg127h8W](https://user-images.githubusercontent.com/762914/81500400-952b0c00-9304-11ea-9d55-61cb0a6c4f91.png)

The link to the flipper documentation is invalid, it points to 404.

The issue is related with Flipper website, when you search for 'Set up your react native app', it points to 404 page too.

[2020-05-11 12:53] #1489 closed

[2020-05-11 19:56] Simek opened #1921 "🛠️ Standardize 'export's and functions definition in the examples code"
## Description

There are many ways to export Node, Component or any other Object. But, unfortunately, some syntaxes cause compatibility/formatting issues with ESLint, Prettier, and some IDEs/Editors. We've noticed some confusion in a few issues over the last weeks because of this and feel that standardizing our example code will help to avoid these issues.

As such, we need to standardize two thi

[2020-05-11 22:32] luism3861 commented on #1921
@Simek can i take Core Components?

[2020-05-11 22:45] Simek commented on #1921
@luism3861 Go ahead, this section is yours! 😃

[2020-05-12 13:12] luism3861 commented on #1921
Can I take props and apis ? @Simek

[2020-05-12 13:40] #1917 closed

[2020-05-12 16:14] Simek commented on #1921
@luism3861 Of course!

[2020-05-12 22:19] luism3861 commented on #1921
@Simek  i would like to take, Design , The Basics, Android & IOS Apis

[2020-05-13 06:27] lcelso commented on #1921
@Simek I just went up the basics

[2020-05-13 12:16] Simek commented on #1921
Thank you for the PRs so far, good work! I have updated the matrix in the main post.

@luism3861 Hope you are fine with accepting @lcelso "Basics" section PR. I have assigned you to the rest of wanted sections.

[2020-05-13 12:50] Simek commented on #1921
It looks like all the batches are assigned right now thanks to @psjishnu. I was not expecting such quick response from the community and blazing fast issue resolution, you are awesome guys!

[2020-05-13 12:52] psjishnu commented on #1921
@Simek  but I just closed pr because u told that  that was not the correct way .

[2020-05-13 13:02] Simek commented on #1921
@psjishnu I just asked you if you can discard the changes which are a part of another PRs or are part of  taken work batches by someone else. You have decided to close the PR and open another one instead (https://github.com/facebook/react-native-website/pull/1928#issuecomment-627959060).

I'm bit confused right now to be honest. Are you going to work on those batches or should I unassign you from

[2020-05-13 13:04] psjishnu commented on #1921
I will  discard the changes which are a part of another PRs

[2020-05-13 13:40] luism3861 commented on #1921
no worries thank you @Simek

[2020-05-13 16:10] Simek commented on #1921
@lcelso Thank you for your offer to help but those sections are done already and no work left to take. Please check out my comment above (https://github.com/facebook/react-native-website/issues/1921#issuecomment-627961570) and the matrix in the initial post.

It looks like ~95% of this issue is resolved already, that was quick wasn't it?

[2020-05-13 18:22] Simek commented on #1007
Hi @autumnleaves1, it seems to me that after the website redesign it is not long an issue.

I'm going to close this for now. If you are experiencing similar issues with the new design please create the new issue.

P.S. AFAIK `https://reactnative.cn` in not a part of the official website and this issue shouldn't be reported in this repository in the first place.

[2020-05-13 18:22] #1007 closed

[2020-05-13 20:52] lcelso commented on #1921
Okay, I will finish my part and soon I will send the PR

[2020-05-15 21:22] rachelnabors commented on #1921
Great job everyone! Thank you for working to make the docs ever better!

![shera_entrapta](https://user-images.githubusercontent.com/236306/82097274-7a88d680-96fa-11ea-8aa9-a52b4a191b78.gif)

[2020-05-15 21:22] #1921 closed

[2020-05-18 08:00] ProBeta1 commented on #1899
Shall I work on this @Simek ?

[2020-05-18 16:16] psjishnu commented on #1897
@Simek  Can you state the problem a little bit more clearly . The state of which code reference is unknown ? .

[2020-05-18 16:38] Simek commented on #1897
Pages are listed in the description above and the source code links shows exactly which file need to be reviewed:
* `AnimatedValue.js` should be compared with the reference on the `Animated.Value` page
* `AnimatedValueXY.js` should be compared with the reference on the `Animated.ValueXY` page

[2020-05-18 16:44] Simek commented on #1899
Hi @ProBeta1, feel free to work on this issue. Like an author I'm curious too about the `matrix` structure.

[2020-05-18 16:59] vaukalak commented on #1899
At least my tests shown that when we mount a view with a `matrix` transform, the only way to update that matrix is via `setNativeProps`. Also it would be good to document, that this is a 4x4 matrix (since rn supports rotateX/Y). I'm also unsure about the `MatrixMath` module documentation, it's not exposed as a top level thing.

[2020-05-18 17:15] psjishnu commented on #1897
@Simek  Can you please mention a sample page in https://reactnative.dev/docs where reference is already properly done .

[2020-05-18 17:22] Simek commented on #1897
That was the task. Please do the same with `XY`. If there is no difference (documaentation is up to date with the current code) this issue should be closed.

[2020-05-18 17:51] psjishnu commented on #1897
@Simek The only problem i saw is description column was empty for setValue(value); and setOffset(offset); in  animatedValue page . I just added a description and PR .

[2020-05-19 23:29] anthonyhumphreys commented on #1878
Was about to post this myself - currently the example shows a dependency error, eslint expects to see `fadeAnim` in the deps array.

[code]

[2020-05-19 23:35] anthonyhumphreys commented on #1878
Looks like this was fixed in #1879

[2020-05-20 04:58] JulHelm opened #1941 "On ipad: preview of code example not showing"
Hi. On the react native tutorial pages i cannot see the preview of the code example blocks. I am using an ipad. See screenshot.

For example here: [https://reactnative.dev/docs/using-a-listview](url)

![B52A13AB-DAB1-47B6-BB8D-17AAF48B7E7F](https://user-images.githubusercontent.com/39792510/82406563-41889300-9a67-11ea-9580-2e7347e6aa6d.jpeg)

[2020-05-21 13:48] thompsonemerson opened #1946 "error: responsive grid community"
## Description
the grid with the apps in the community section is breaking. I left a recording of the screen down:

![demo image](http://upload-gifs.s3-sa-east-1.amazonaws.com/60f977f4-26d3-4b23-a0e9-3a18413c40f6_5ec687e2e923b006084836.gif)

[2020-05-21 13:48] thompsonemerson commented on #1946
http://upload-gifs.s3-sa-east-1.amazonaws.com/da13a556-35da-4bfb-8c3d-c6bd23233538_before-rn-website.gif

[2020-05-21 18:44] #1946 closed

[2020-05-26 09:59] zanona commented on #1509
I completely agree, It's curious that the first example on https://reactnative.dev/docs/platform-specific-code#platform-module starts with
[code]

Where `StyleSheet` is listed under the API dropdown but `Platform` isn't.
Took me a while to find it. :smiley:

[2020-05-27 01:00] normanzb opened #1956 "Doc: missing detailed explanation for `onPanResponderStart` and `onPanResponderEnd`"
## Description

Documents lack of explaination of how PanResponder works in details, especially about `onPanResponderStart` and `onPanResponderEnd`

docs:

https://reactnative.dev/docs/gesture-responder-system

https://reactnative.dev/docs/panresponder

## What is the problem?

`onPanResponderEnd` is very useful callback but is barely mentioned in "panresponder" page, the page does not have any ex

[2020-05-28 23:59] #1897 closed

[2020-05-29 23:17] RodolfoGS commented on #1891
Someone know about this?

[2020-05-30 12:29] Lowisoft commented on #1891
I've also asked the question on [Stack Overflow](https://stackoverflow.com/questions/61085600/flatlist-should-the-height-of-the-listheadercomponent-be-included-in-the-getite), but I've got no answer so far,

[2020-05-30 14:54] madilraza opened #1961 "I have seen 300 + security bugs in repo"
## Description

There are more the three hundred security issues in the repo
## Documentation version

[2020-05-30 15:07] Simek commented on #1961
@madilraza Can you explain your findings in more descriptive way?

[2020-05-31 20:03] jpbulman opened #1964 "Dead Roadmap Wiki Link"
## Description

At the bottom of the road map [page](https://github.com/facebook/react-native/wiki/Roadmap) in the main repo under the _communication_ section, there is a dead link.

## What is the problem?

The link for 'top open source projects on GitHub' no longer works and goes to a 404.

## How can we address it?

Octoverse has moved all of their rankings to their [front page](https://octover

[2020-05-31 20:10] jpbulman commented on #844
Can this be closed now that the pr has been merged?

[2020-05-31 20:25] jpbulman commented on #1427
The pr for this [closed](https://github.com/facebook/react-native-website/pull/1830), anyone care if I pick this up?

[2020-05-31 20:37] Simek commented on #1964
Hi @jpbulman, thank you for bringing this up, but this is the React Native **website** repository.

As you stated in the first sentence the wiki page with the issue is a part of the main React Native repository, so please open an issue in there. Not the same group of people manage those both repositories.

BTW. The the mentioned above dead link has been fixed on the website side within PR #1488.

[2020-05-31 20:37] #1964 closed

[2020-05-31 20:51] Simek commented on #1427
@jpbulman Feel free to work on this!

The best way to fix those issues is just to remove the in-content links in the versioned docs page. Those parts are the relict of the past when there was no right sidebar on the website (previous design). Now they are redundant (and cause some problems in the older docs).

The another benefit of removal approach will be the faster generation of `metadata.js` a

[2020-05-31 21:26] Simek commented on #680
Hi @renishdeveloper, unfortunately this is the React Native website repository.

If you having a question about React Native usage you should head to the [StackOverflow](https://stackoverflow.com/questions/ask?tags=react-native) or any other resource or community listed on the [Help](https://reactnative.dev/help) page. Hope you can understand that!

[2020-05-31 21:26] #680 closed

[2020-05-31 21:35] Simek commented on #1518
The described issue has been fixed in the linked PR. It's also true that this property has been removed with `0.62` so the latest docs are not affected.

I think that this issue can be closed now, feel free to correct me and reopen this if I have missed something!

[2020-05-31 21:35] #1518 closed

[2020-05-31 21:36] jpbulman commented on #1427
@Simek So can I just remove the ```methods``` and ```props``` sections (under ```scene transitions```) completely?

[2020-05-31 21:44] Simek commented on #1427
Yes, you can check the #1901 PR for the reference/example. The same links are now automatically generated and added to the right sidebar by the Docusaurs.

<img width="790" alt="Annotation 2020-05-31 234354" src="https://user-images.githubusercontent.com/719641/83363288-9fd34100-a398-11ea-8f58-0edad67b47f2.png">

[2020-05-31 23:54] jpbulman commented on #1427
@Simek great, thanks! I've started clearing out those sections in some of the components, and I came across another dead link. In [NavIOS 0.43](https://github.com/facebook/react-native-website/blob/master/website/versioned_docs/version-0.42/navigatorios.md), it says something like 'Take a look at _Navigator_ ...' in the second paragraph. It tries to reference ```navigator.md```, but since it's not

[2020-06-01 00:06] jpbulman commented on #1427
Oh I see, it's because navigator is deprecated so it doesn't make it into the ```docs``` directory. Is there any way to reference files from older versions, or does it have to be a link with a hard-coded url?

[2020-06-02 17:38] Simek commented on #1427
@jpbulman The regular, in text, links should be replaced with versions without extension (`.md`). And yes, the `Navigator` case is a bit specific since this module has be completely removed from the core and the way you have updated the link should be correct.

[2020-06-02 22:35] Simek commented on #717
Closing because of lack of activity/response.

[2020-06-02 22:35] #717 closed

[2020-06-02 22:56] Simek commented on #747
Hi @SteveGF, lately the [Accessibility](https://reactnative.dev/docs/next/accessibility#accessibilitystate-android-ios) page content has been rewritten.

Please let me know if the current `accessibilityState` description is clear enough.

[2020-06-03 16:51] jpbulman commented on #1427
@Simek I started a pr for this [here](#1970 )

[2020-06-05 16:26] lorenz068 commented on #889
I test it and it works globally (setup in the top component (`<App /> in my case)

[2020-06-05 17:58] PlaidDroid opened #1975 "Docs: Bad Links"
## Description

Links that are broken:
* 'Native Directory' link in https://reactnative.dev/docs/intro-react-native-components
     Given Link: https://www.native.directory
     Actual Link: https://reactnative.directory
* 'Introduction to React Native' link at the bottom of the page in https://reactnative.dev/docs/environment-setup
   Leads to the same page

## Documentation version
0.62

[2020-06-05 20:04] rahsheen opened #1976 "Navigation links are not clickable on Desktop"
## Description

Navigation header links are no longer clickable since https://github.com/facebook/react-native-website/pull/1974

## Documentation version

n/a

[2020-06-05 20:32] rahsheen commented on #1976
I did attempt to put a PR together, but I was not able to reproduce the initial issue of not being able to click the nav links on mobile.

[2020-06-05 21:37] Simek commented on #1976
Hi @rahsheen, thank you for reporting that issue! I have prepared a PR which should fix that issue. I'm waiting for the review from the team before the merge.

[2020-06-05 21:38] #1976 closed

[2020-06-05 21:56] neil-lobo opened #1979 "Broken NavBar"
## Description
The links on the navbar for all pages are not clickable assuming to be because of the addition of the announcement component.

 - Chrome version 83.0.4103.97

[2020-06-05 22:06] Simek commented on #1979
Hi @neil-lobo, this problem has been reported earlier in issue #1976. Deploy with the fix is in progress.

[2020-06-05 22:06] #1979 closed

[2020-06-07 02:53] ilyakam opened #1983 "The grayscale blanket makes the website difficult to use"
## Description

#1980 adds a `filter: grayscale()` blanket across the entire website following the BLM banner.

https://github.com/facebook/react-native-website/blob/2bfcd0ca120bcb24abcde1288f3c6cf7ef53153b/website/static/css/header.css#L201-L206

As a result, the code examples are difficult to follow. What used to be a colorful syntax highlighter is now a monochromatic text of varying contrast th

[2020-06-07 11:31] Simek commented on #1983
Refs: reactjs/reactjs.org/pull/3024

The similar, valid points why the grayscale filter may not be the most UX friendly addition has been brought up in the reactjs.org repository also. Since the grayscale filter has been reverted there I'm going to to the same for React Native website.

[2020-06-07 11:34] #1983 closed

[2020-06-08 19:59] YashKumarVerma opened #1985 "Update reference to "preferences dialog" as it no longer exists"
## Description
![image](https://user-images.githubusercontent.com/14032427/84074168-c2480880-a9ef-11ea-812a-8f223ff743d1.png)
The preferences dialog/menu entry existed in an older version of the android studio. In the newer versions, it's accessible from `file->settings`.

Since this is part of the onboarding guide, it needs to be updated with the latest references.

## Documentation version
0.62

[2020-06-12 04:41] AsadSaleh opened #1993 "New line for each item"
![image](https://user-images.githubusercontent.com/31646255/84465600-a2d80680-aca1-11ea-9ede-eb30cb31144b.png)

It is a simple UI bug in section "Method 2: Connect via Wi-Fi" where point number 5, 6, and 7 are not located as intended.

[2020-06-16 05:28] #1993 closed

[2020-06-18 09:03] #1427 closed

[2020-06-18 10:52] Simek commented on #1961
Closing due to no response from the author.

@madilraza Feel free to reopen this issues when you will be able to provide some more details and the context of those issues.

[2020-06-18 10:52] #1961 closed

[2020-06-18 13:29] Simek commented on #415
Hi @AmeerHamzaRiaz.

I'm going to close this issue because Geolocation has been removed from the core package [within `0.60` release](https://reactnative.dev/blog/#lean-core-removals). You can check the package and its documentation [here](https://github.com/react-native-community/react-native-geolocation).

[2020-06-18 13:29] #415 closed

[2020-06-18 13:38] #1878 closed

[2020-06-18 13:55] #1975 closed

[2020-06-18 16:06] purezen opened #2001 "Improve documentation"
## Description

1. Right sidebar has repeated links like on page https://reactnative.dev/docs/running-on-device for `Connecting to the development server` and `Building your app for production`

2. In `Connect via Wi-Fi` section, the instructions looks a bit outdated.

Where it is mentioned

the route rather seems `Settings → Debug server host & port for device`

3. Camera Roll appears in searches

[2020-06-20 18:50] ayushjainrksh opened #2003 "Sidebars don't scroll to the bottom"
##  Description
The left and right sidebars in the [react-native-website](https://reactnative.dev/docs/image) don't scroll to bottom until the whole page is scrolled down. It scrolls up to a point and doesn't display the items after that.

## Screenshots

- The sidebars do not scroll more than that.

![Screenshot from 2020-06-18 22-15-27](https://user-images.githubusercontent.com/33171576/85049136

[2020-06-24 17:04] shivo-ham opened #2005 "React Native Catalyst"
## React Native Catalyst crash how to convert in react native

[2020-06-24 23:16] Simek commented on #2005
Hi @shivo-ham, I'm sorry but I had to close this issue. Please create the new one, follow the guide and fill out all the sections.

If you are experiencing an problem with React Native itself (not the reactnative.dev website), you should create the issue in the [**main**](https://github.com/facebook/react-native) repository.

[2020-06-24 23:16] #2005 closed

[2020-06-25 07:57] #2003 closed

[2020-06-25 17:37] nel417 commented on #1441
I can confirm, just ran a lighthouse test on the homepage, and adding a lang to the html element and the sufficient color contrast are the big ones. I also ran an Axe audit and there were a few more. Mostly visible labels for forms and closed captions for videos were the biggest hitters.

[2020-06-25 17:53] #844 closed

[2020-06-25 18:25] ayushjainrksh commented on #2003
Thanks for the PR!

[2020-06-28 04:55] SeasonLeee opened #2013 "PLEASE!!! Make that BLM banner collapsable when we are scrolling the content!!!"
## Description

First of all, I know you guys are so great and so saint and so wonderful and so thoughtful of the black community and as a human being I am touched by that move, BUT!!!! you can't just play thing to an extreme, right???? What about the rest of the world??? There are place we don't actually face this BLM issue and we are also the user of this framework, how can you be so selfish and

[2020-06-28 18:50] madilraza commented on #1961
There are around 300 security and Performance bugs in the website

[2020-06-29 02:54] kairstenfay opened #2014 "Bug in React Native code in example comparing state in React vs React Native"
## Description
In the React Native tutorial's image of example code comparing state in React vs React Native immediately following [this header](https://reactnative.dev/docs/tutorial#there-are-differences-between-react-and-react-native-to-handle-the-state), the React Native code is missing a `.container` class in the creation of the `StyleSheet` object.

Here's the image copied from https://reactn

[2020-06-30 14:23] ArunEdathadan commented on #2013
Support is turning into irritation, fix it

[2020-07-01 11:23] YashKumarVerma opened #2016 "statusBarTranslucent mentioned twice in Modal Component Docs"
## Description
`statusBarTranslucent` prop is mentioned twice in the Modal Component Documentation.
![image](https://user-images.githubusercontent.com/14032427/86238310-e647d580-bbba-11ea-93d3-f1d140770c5b.png)

Link for first: https://reactnative.dev/docs/modal#statusbartranslucent
Link for Second: https://reactnative.dev/docs/modal#statusbartranslucent-1

## Documentation version
0.62

## Contex

[2020-07-02 23:57] agupta-10 opened #2021 "Mistake on Front Page of Website (Grammatical)"
## Description

React Native lets you create truly native apps and doesn't compromise on your users' experience.

The correct usage would be users' experiences, because users' refers to the experiences (plural)  of many different users. Thus, the word experience should be changed to experiences.

This sentence is from the front page of https://reactnative.dev/ under the header "Native Development

[2020-07-06 08:06] #2016 closed

[2020-07-06 15:12] charpeni commented on #2014
Oops! Nice catch, you're right it's confusing and wrong as `StyleSheet` should have a `container` object inside.

[2020-07-06 15:15] charpeni commented on #2001
Thanks for flagging that @purezen!

Camera Roll may be outdated with broken links because it's deprecated and not included anymore.

Would love to review your pull requests for the other mentions. 😃

[2020-07-06 17:28] charpeni commented on #2014
Removing `👋 Good first issue` label as this included in an image.

Should we move that to two side-by-side blocks? 🤔

[2020-07-07 13:47] rachelnabors commented on #2013
Ameliorated in #2018

[2020-07-07 13:47] #2013 closed

[2020-07-08 15:50] Sharcoux opened #2029 "Improve documentation for measureLayout and findNodeHandle"
## Description

I am trying to use measureLayout but the doc seems quite complicated to understand.

So, the first argument of `measureLayout` should be a `number`. Doesn't start well but ok.

The doc says:

I don't know where this *as always* comes from because it is actually the only reference to this method within the docs of both React and React-Native: [![enter image description here][1]][1]

[2020-07-09 11:07] chanonroy opened #2032 "Switch component showing broken example on web"
## Description

<img width="849" alt="Screenshot 2020-07-09 at 12 07 18 pm" src="https://user-images.githubusercontent.com/16366896/87032624-d04e9c00-c1dc-11ea-9575-22e78d9929aa.png">

As a developer trying to use the Switch component, when I look at the example documentation [here](https://reactnative.dev/docs/switch#example), I am given a web expo snack example that is currently broken (the comp

[2020-07-09 18:40] WeTruck opened #2033 "Make element draggable inside a fixed area"
I want to make an element (the blue box) draggable only inside the fixed area (between the two bars).

![image](https://user-images.githubusercontent.com/46923165/87077840-8d74de80-c245-11ea-9564-ee10a0927926.png)

My code example:

[code]
But with my code, it's draggable on all space as this image.

![image](https://user-images.githubusercontent.com/46923165/87077955-c319c780-c245-11ea-82e5-754b3

[2020-07-11 07:59] Simek commented on #2033
Hi @WeTruck, this is React Native **website** repository. If you are looking for help with you code please check out [React Native Help](https://reactnative.dev/help) page or follow the links in the issue wizard or post a question with a tag on the [Stack Overflow](https://stackoverflow.com/questions/ask?tags=react-native).

[2020-07-11 07:59] #2033 closed

[2020-07-11 19:55] Kosimo opened #2040 "Flexbox AlignItems typo -> Expo Snack not working"
#  Description
On this site: [https://reactnative.dev/docs/flexbox#align-items](https://reactnative.dev/docs/flexbox#align-items), the example for "Align Items" is not working. There is a typo in the code. The letter i must be written in capital letters. So the code in the last line must be:

export default AlignItemsBasics;
instead of
export default AlignitemsBasics;

with that, the example shoul

[2020-07-12 15:13] #2040 closed

[2020-07-13 17:07] christosmylonas92 opened #2049 "Improve documentation for StatusBar - currentHeight."
## Description

https://reactnative.dev/docs/statusbar#constants

It would be really useful to mention in the description, that the `currentHeight` includes the notch height, if present.

## Why is it important?

Was trying to better implement a sticky nav bar on Android and couldn't find a way to calculate the height on the notch, until I saw a StackOverflow post mentioning this.

[2020-07-14 19:48] agmcleod opened #2050 "Update Environment Setup to install react native cli, prior to running npx commands"
## Description

https://reactnative.dev/docs/environment-setup with the tab for React Native CLI Quickstart has no mention of installing the CLI. I found the command on another github issue when creating a project with the typescript template failed.

[code]

## Documentation version

0.63

[2020-07-14 19:49] #2050 closed

[2020-07-15 12:15] sboh1214 commented on #181
Any changes? I can collaborate with Korean

[2020-07-15 12:54] #2021 closed

[2020-07-15 14:32] #2014 closed

[2020-07-15 20:31] eduardopelitti opened #2054 "Content of the sidebar cannot be fully viewed"
## Description

The content of the navigation sidebar that is displayed on all pages cannot be fully viewed, as it's being pushed down by the Announcement Banner.

<img width="1680" alt="Screen Shot 2020-07-15 at 17 15 55" src="https://user-images.githubusercontent.com/3876078/87592469-4c0a8600-c6c0-11ea-846b-c5fb72bb60d6.png">

Notice in the image above that the section Guides (iOS) is not visibl

[2020-07-16 17:08] evelant opened #2056 "Clarify documentation about when onLayout is called"
## Description

https://reactnative.dev/docs/view#onlayout

Trying to animate elements in my app to the screen locations of other elements. I get the position of those elements in their onLayout callbacks and cache the results. In some (unknown, undocumented) situations onLayout is not called when an element changes position.

The current documentation states

This does not specify that in some si

[2020-07-17 08:07] #2049 closed

[2020-07-17 08:25] sunnylqm opened #2058 "Nested blocks are not correctly rendered"
https://reactnative.dev/docs/environment-setup
See `React Native CLI Quickstart`, all `step 2`s are missing.

![QQ20200717-161509](https://user-images.githubusercontent.com/615282/87765159-0e396900-c84a-11ea-944b-1e77ac2cdeed.png)

[2020-07-17 09:40] Simek commented on #2032
@chanonroy Thank you for bringing up this issue! The reason why Switch component in the Web preview is rendered wrong is because `react-native-web` Switch uses different types (`trackColor` in core is an Object which contains Colors, but in `react-native-web` it's a Color) and uses additional properties not available for platforms build-in in the core package.

Those properties cannot be added to

[2020-07-17 09:48] chanonroy commented on #2032
Thanks for clarifying! Many thanks @Simek 😃

[2020-07-17 11:01] #2032 closed

[2020-07-17 11:30] vj-codes commented on #799
Heyy @hramos I'm a newbie and Facebook open source immersion participant , can I work on this?

[2020-07-18 03:33] AndrewMorsillo opened #2069 "Documentation misleading for .measure"
## Description
https://reactnative.dev/docs/0.61/direct-manipulation#measurecallback

The documentation for `.measure ` is misleading. The docs state:

Unfortunately that wording leads people to believe that the values returned by `.measure` are the same as returned by `onLayout`. They are not.

The `width` and `height` returned by `onLayout` are the actual width and height of the view. The `width

[2020-07-18 10:59] dscheffy opened #2071 "Update height and width documentation to reflect percentage support"
I can't find reference to support for height and width as a percentage value -- the height and width documentation incorrectly says right at the beginning -- "All dimensions in React Native are unitless, and represent density-independent pixels."

As somebody new to react-native, that's a pretty big oversight in the documentation. After reading that I was surprised to see that support was added fo

[2020-07-19 17:09] filiptronicek opened #2073 "Infinite Red link 404s"
## Description
The link to Infinite Red is not functional at the moment. It seems it has been moved from `https://infinite.red/react-native` to `https://infinite.red/technologies/react-native`

## Documentation version
0.63

[2020-07-19 17:12] filiptronicek commented on #2073
The link seems to be here https://github.com/facebook/react-native-website/blob/611356be6fde0eebba5b32668d5cb8cd6d3667a9/website/pages/en/showcase.js#L142

[2020-07-20 13:52] realJema commented on #2054
![image](https://user-images.githubusercontent.com/16238730/87945304-754c5d00-ca98-11ea-92df-837f736585c4.png)
Mine has a scrollbar, check again and ensure if this is not a browser-specific issue

[2020-07-20 14:34] eduardopelitti commented on #2054
Added some browser specific information to the original report. It is indeed a browser specific issue with Chrome, at least for my setup detailed above.

[2020-07-20 14:58] Simek commented on #2073
Hi @filiptronicek, thank you for reporting this broken link and researching where it comes from! 👍

[2020-07-20 17:54] #2073 closed

[2020-07-21 01:47] CyrusZei opened #2080 "KeyboardAvoidingView more info about this component"
## Description

KeyboardAvoidingView add that you can wrap your entire with this component and it will still work

## What is the problem?
The doc does not say that you can wrap the whole app in this KeyboardAvoidingView component and it will still work. What I did was wrap all of my screens in this component.

## How can we address it?

 My idea is that we could add that to the docs so that you h

[2020-07-21 05:43] ani4aniket opened #2081 "Links of props getting exposed incorrectly."
## Description
Links attached for the props of React Native component with platform tags are getting exposed after getting concatenated with the platform tags HTML.

![Screenshot 2020-07-21 at 11 02 53 AM](https://user-images.githubusercontent.com/31184591/88017168-bef18200-cb42-11ea-9b25-f3b1acb301d6.png)

## Documentation version
[0.63](https://reactnative.dev/docs/button)

[2020-07-21 10:13] sa1dai opened #2082 "Linking and expo"
## Description

React Native [Linking](https://reactnative.dev/docs/linking) documentation:

![screenshot_404](https://user-images.githubusercontent.com/47157550/88022764-89e03200-cb38-11ea-8539-af8e9cca1981.png)

Expo [Linking](https://docs.expo.io/versions/v38.0.0/sdk/linking/) documentation:

![screenshot_405](https://user-images.githubusercontent.com/47157550/88041759-85754280-cb53-11ea-94d7-e

[2020-07-21 10:44] Simek commented on #2082
Hi @sa1dai, thank you for bringing this issue up, let me clarify that:
* `Linking` module from `react-native` will not work in Expo app,
* Not every `Linking` module method from `expo` will work in bare React Native app.

The sentence on the React Native website is correct (it warns Expo users that they can't uses that module from the core), but how `Linking` module from Expo works or what it mimi

[2020-07-21 10:47] sa1dai commented on #2082
It's not  true.  Linking module from react-native can work in Expo app in managed flow (without native code). That is why I opened issue in RN docs.

[2020-07-21 10:54] #2082 closed

[2020-07-22 19:32] smakosh opened #2091 "App crashes on the TouchableOpacity Snack Expo example"
## Description

![Screen Shot 2020-07-22 at 20 25 02](https://user-images.githubusercontent.com/20082141/88220045-5e556880-cc5a-11ea-95df-ab31e2e82fb3.png)

[2020-07-23 15:55] chrigi opened #2094 "SSL Pinning docs do not give any guidance"
## Description

The docs contain a section regarding [SSL Pinning](https://github.com/facebook/react-native-website/blob/ba2173bd23d3e0f1cc40c1ac886e1a78315ba196/docs/security.md#ssl-pinning) but they merely explain the concept without offering any guidance in the context of react-native.

## What is the problem?

The rest of the Security docs give ample guidance in linking to libraries directly a

[2020-07-24 21:20] #1610 closed

[2020-07-25 19:45] Simek commented on #1985
Hi @YashKumarVerma, the note do not specify the path how to open the Preferences/Settings dialog but where inside this dialog user can find the SDK information. I have tested the latest Canary build (4.2 Canary 5) on macOS and Windows and the paths listed for both OSes looks actual for me.

[2020-07-26 15:33] 3scava1i3r commented on #2001
@purezen those links are not repeated but they point to different panels of the same webpage

[2020-07-26 15:43] roubalsehgal commented on #2001
Yes, @3scava1i3r you're right but I think their hierarchy isn't correct because when the device is different links should be under their respective device.

What do you say? @charpeni

See image below ⤵

![Screenshot (211)](https://user-images.githubusercontent.com/44202409/88483344-cbcc0680-cf84-11ea-900e-5122da56eff3.png)

[2020-07-26 15:58] Simek commented on #2091
Hi @smakosh, can you provide the link to the page with broken example? I have tested `TouchableOpacity` examples in `0.63` version and in the `next` docs and I have not experience any problems or issues. Also including your OS and browser information could be helpful to reproduce the problem.

[2020-07-26 16:04] Simek commented on #2054
Hi @eduardopelitti, I have tested the website on Chrome and Safari on macOS and I cannot reproduce your problem (I can scroll both sidebars - left and right). Is this issue still present for you with the live version?

[2020-07-26 17:55] smakosh commented on #2091
Seems to be working now

[2020-07-26 17:55] #2091 closed

[2020-07-26 22:56] eduardopelitti commented on #2054
Hi! Yes, I still see it, but with further testing I see it's much more narrowly scoped.

1. I only get the issue in /docs/ pages, on the other sections (Componentes, API) I can scroll the sidebar.
2. I can do _some_ scrolling, but not all that I need. I've attached a video with the issue I see.

![noscrolling](https://user-images.githubusercontent.com/3876078/88490147-d4661200-cf6f-11ea-8a82-64aba

[2020-07-27 14:32] 3scava1i3r commented on #2001
the issue is that those links
1. Plug in ..........
2. Configure code ...........
3. Build and Run your ..............
are dead links

[2020-07-27 14:50] Simek commented on #2001
Hi all 👋!

The problems described above are known issues caused by content switching tabs (platform and OS in this case). For the same reason the right sidebar has been disabled on the [Environment Setup](https://reactnative.dev/docs/environment-setup) page.

Within the current docs platform restrictions (Docusaurus V1) it is not possible to fix this problem cleanly in our codebase. Unfortunately

[2020-07-27 19:37] stickoutapp opened #2107 "guides https://reactnative.dev/docs/native-modules-android and https://reactnative.dev/docs/native-modules-setup are broken"
## Description

This guide rely on Native Module Setup, which in turn rely on the community tool called Bob. When running Bob in the current version, there are additional steps not mentioned in the guide, and the template project created works with Kotlin, not java.

So the example code for the The Toast Module and everything that follows is not applicable.

## Documentation version
React Native
0

[2020-07-29 14:24] Simek commented on #2058
Hi @sunnylqm, thank you so much for the report! The PR with which fixes the rendering problem has been merged, so after the deployment the sections should display correctly.

Feel free to reopen this issue if you are still experiencing the problems with the Environment Setup guide.

[2020-07-29 14:24] #2058 closed

[2020-07-30 10:59] Tundeh commented on #1509
Can i take on this issue?
also, I'm new here.

[2020-08-01 12:03] #2071 closed

[2020-08-02 05:21] Monte9 opened #2118 "Getting Started: Android Integration with existing apps is inaccurate and outdated!"
## Description

The current docs for integration with Android app are inaccurate and outdated: https://reactnative.dev/docs/integration-with-existing-apps

I ran into this as I was trying to set up a brand new Android app with React Native and was mislead by the official docs and couldn't get the integration to work on the latest React Native version (v0.63).

When I googled a bit I found a Medium

[2020-08-02 12:35] #2080 closed

[2020-08-03 13:17] #2081 closed

[2020-08-04 17:27] gedeagas commented on #2107
Nice catch @stickoutapp. Interesting find.

@Simek With https://github.com/react-native-community/bob migrating away from java to kotlin should we update the docs to use kotlin instead of java?

![Screenshot from 2020-08-05 00-26-53](https://user-images.githubusercontent.com/8868908/89325011-64afff80-d6b2-11ea-9376-6c5f1f4a8feb.png)

[2020-08-04 17:32] gedeagas commented on #2118
+1 the docs on integration need an urgent update.

[2020-08-04 19:11] Simek commented on #2107
Refs #706, #1064, #1569, #1708 and more.

The Native Modules Setup, Native Modules Android and Native Modules iOS pages are certain not the best and well updated pages. There are complains about them for a long time but unfortunately there is also no one who want to correct, improve or rewrite those pages.

I think that there reason for this might be the fact that most of RN users would never need

[2020-08-05 09:57] sradc opened #2127 "Move ios 'Building your app for production' to 'Publishing to Apple App Store'"
## Description

Currently, there is a section in the docs on [Publishing to Google Play Store](https://reactnative.dev/docs/signed-apk-android).

However, there is no section in the docs on Publishing to Apple App Store.

The problem is that vital information about building for the Apple App store is buried here: https://reactnative.dev/docs/running-on-device, in the section 'Building your app for

[2020-08-05 12:28] #2069 closed

[2020-08-10 01:51] Wuzado opened #2134 "[UI/UX] Improve the announcement on smaller screens"
## Description

The announcement div, currently used for a Black Lives Matter donation link, is too large, and makes using the docs a huge hassle on smaller screens.

## What is the problem?

On a small laptop screen, the actual docs content ends up being about 1/2 of the entire screen, due to the large announcement, navbar and system elements accumulating. With many pictures in the guides and doc

[2020-08-10 01:56] Wuzado commented on #2134
Sent it prematurely, updated it now.

[2020-08-10 11:23] Thiht commented on #2134
Yes please! I'm using a MacBook Pro (pretty standard then), and even with this setup reading the documentation is painful. I just can't focus properly on the text as the banner is just too big. For reference, the announcement + navbar takes a little bit less than one quarter of the viewport height, that's way too much.

I applied the following modifications locally and it's way better, without com

[2020-08-10 15:15] Wuzado commented on #2134
Huh, wouldn't think that it's also an issue on something like Macbook Pro. My laptop (rather old) is only 1366x768, so I'm surprised that's also an issue on higher-end, more modern hardware with higher screen resolutions. This only makes it more important!

[2020-08-12 17:55] #2134 closed

[2020-08-13 13:08] Simek commented on #2127
@sradc Thank you for bringing this up, I think that extracting `Building your app for production` section to the separate file under `Guides (iOS)` is a good idea! Feel free to work on this PR!

Ideally iOS `Running on Device` should also contain the small paragraph with the link to the new page like the Android guide does:
<img width="640" alt="Annotation 2020-08-13 150802" src="https://user-imag

[2020-08-13 13:15] Simek commented on #2001
@purezen Can you confirm that reported issues has been fixed for you?

[2020-08-13 19:45] ayushjainrksh opened #2141 "Wrong data type in TouchableHighlight android props"
## Description

While working on the script for docs generation from code comment, I found that the [android props in TouchableHighlight](https://github.com/facebook/react-native-website/blob/master/docs/touchablehighlight.md#nextfocusdown) component contains wrong data types. The data type shown in the column is `bool` whereas it should be `number` according to the [FlowType in the TouchableHighl

[2020-08-14 17:05] chareen3 opened #2145 "can't sign in to the app"
using node j , expo

can't log in to the app get this error message

Animated: `useNativeDriver` was not specified. This is a required option and must be explicitly set to `true` or `false`
* [native code]:null in __expoConsoleLog
- node_modules\react-native\Libraries\LogBox\LogBox.js:36:4 in console.warn
- node_modules\react-native\Libraries\YellowBox\YellowBox.js:162:6 in registerWarning
- node_

[2020-08-14 17:15] Simek commented on #2145
Hi @chareen3, this is a React Native **website** repository. If you are having a problem w Expo you should report the issue in [their repository](https://github.com/expo/expo) and If it's a problem with React Native by itself you should post the bug to [React Native repository](https://github.com/facebook/react-native). You can also check the [help page](https://reactnative.dev/help) for the tips

[2020-08-14 17:15] #2145 closed

[2020-08-14 19:04] teikjun opened #2146 "Migrate Website to Docusaurus 2"
## Description
Hi there! The Docusaurus team is currently developing Docusaurus 2, which now has feature parity with React Native's current usage of Docusaurus.

Docusaurus 2 brings about many improvements:

- Client-side rendering with prerendering (site renders without JavaScript!)
- More flexible appearance - Customizable layouts, CSS modules, etc
- Embeddable interactive React components withi

[2020-08-14 19:07] idkjs opened #2147 "LogBox.install documentation"
## Description

I am looking at the (LogBox docs)[https://reactnative.dev/docs/debugging#logbox] and can not find an explanation for the function.

## What is the problem?

I would like to understand what the function does.

## How can we address it?

Provide documentation for the function or why we don't need it.

## Why is it important?

I am trying to write a binding to LogBox.js for ReasonML

[2020-08-15 06:47] gedeagas commented on #2146
Awesome !!

[2020-08-15 15:11] adithyaakrishna commented on #1297
Can I work on this issue? :)

[2020-08-16 10:53] grahammendick commented on #1116
The [Navigating Between Screens](https://reactnative.dev/docs/navigation) is still biased towards React Navigation. It should be rewritten so it’s fair to all navigation libraries. React Native wrote an excellent [blog about it's Team Principles](https://reactnative.dev/blog/2020/07/17/react-native-principles). Perhaps an even-handed approach could be to compare the community navigation libraries

[2020-08-16 13:52] #1513 closed

[2020-08-16 17:06] jrr commented on #1462
Bump!

[2020-08-16 17:07] jrr commented on #1340
Bump!

[2020-08-16 17:19] Simek commented on #2146
@teikjun Can we track the progress back in #2139 instead of MLH repository to be more transparent for the community and make it easier to interact with the changes?

[2020-08-16 17:25] HectorRicardo commented on #1529
@stale This should remain open

[2020-08-16 17:26] teikjun commented on #2146
@Simek Sure, we'll do that! I've updated the link in the issue

[2020-08-16 18:37] brodybits commented on #1279
This issue still does not seem to be resolved.

[2020-08-16 18:47] jkeam commented on #1089
Ya, this is safe to close.  The docs have been updated.

[2020-08-17 07:51] kelset commented on #370
ok I think this one can be closed

[2020-08-17 07:51] #370 closed

[2020-08-17 07:52] kelset commented on #47
maybe worth closing this since it's been open for over 2 years. We should probably instead open small issues per each actionable.

[2020-08-17 07:52] #47 closed

[2020-08-17 07:53] kelset commented on #787
I feel this one should be kept open

[2020-08-17 08:05] #1089 closed

[2020-08-17 20:22] jginsburgn commented on #725
Searching for `showPopupMenu` still yields no results in the documentation site.

[2020-08-18 07:05] darshkpatel commented on #2146
Should we support theme switching? or should I force default to the light theme? v2 supports defaulting to user's system preference too

![Screenshot 2020-08-18 at 12 29 36 PM](https://user-images.githubusercontent.com/11258286/90481216-0d4c6d80-e14f-11ea-93a0-dd6ed7206547.png)
![Screenshot 2020-08-18 at 12 29 41 PM](https://user-images.githubusercontent.com/11258286/90481222-0f163100-e14f-11ea-97

[2020-08-18 08:58] Simek commented on #2146
@darshkpatel I think that you should focus on the content and functionality (ex. SnackPlayer, content tabs), due to restricted time of MLH project (fine tuning design and typography might be a lengthy process).

Generally I would like to see the Dark Mode, but I have not discuss about this with @rachelnabors yet.

P.S. I'm experiencing issue with the disappearing content (after a while) on the pag

[2020-08-18 10:09] rachelnabors commented on #2146
Please implement the theme switcher—we can handle the design tweaks necessary to make it work. But focus on the functionality: inline toggles for examples and notes.

It would be best if we could keep the contribution records with `git mv` as that information is used for attribution purposes on the page. Please retain it.

Thank you!

[2020-08-18 11:07] purezen commented on #2001
Looks good (y)

[2020-08-18 11:28] Simek commented on #2001
@purezen Awesome, thank you! 🙂

[2020-08-18 11:28] #2001 closed

[2020-08-18 13:50] darshkpatel commented on #2146
Thanks for pointing it out! Wasn't aware of it since it doesn't occur while running the dev server. Will add to ToDo

[2020-08-19 05:09] gedeagas commented on #1837
@Simek can you close this, somebody already updated this page. https://github.com/facebook/react-native-website/pull/2031. quite busy for the past few months and can't land the pr :(

[2020-08-19 05:22] gedeagas commented on #2147
Hi @idkjs, Great job for the binding. if you using the latest version of `react-native`  `LogBox` is the drop-in replacement `YellowBox`. it serves as a place to display a warning.

I think the docs documentation is sufficient considering that `ignoreLogs` and `ignoreAllLogs` is the only relevant exposed function that user can use.

`LogBox.install();` is triggered automaticaly on `AppContainer`.

[2020-08-19 05:23] gedeagas commented on #2141
Nice find @ayushjainrksh. Please make a pr 🎉.

[2020-08-19 05:56] gedeagas commented on #2107
@Simek My team and I are really happy to help with documenting native modules. Here is my take regarding this issue.

**The first option. (Less effort, High impact).**
1. Change bob with https://github.com/brodybits/create-react-native-module.
Because bob is very opinionated and completely abandon java, changing the tools to https://github.com/brodybits/create-react-native-module would be the easi

[2020-08-19 08:30] #1837 closed

[2020-08-19 09:58] slorber commented on #2146
That looks quite nice already!

Also see the content disappear, that's what I reported you @rachelnabors , this seems to be related to React hydration as it only happens on first page load, not navigation => https://react-native-v2.netlify.app/docs/

I also think having the theme switcher is great and it seems to work quite nicely already.

Looks like the code blocks highlighting does not work, bu

[2020-08-19 11:38] teameh commented on #671
Ping @charpeni @EricAtPlanGrid

[2020-08-19 11:49] ayushjainrksh commented on #2141
@gedeagas This issue is common with 2 more components [TouchableOpacity](https://github.com/facebook/react-native-website/blob/master/docs/touchableopacity.md#nextfocusdown) and [TouchableNativeFeedback](https://github.com/facebook/react-native-website/blob/master/docs/touchablenativefeedback.md#nextfocusdown).

[2020-08-19 19:06] #2141 closed

[2020-08-19 19:09] Simek commented on #2141
Android TV support in core in the future is unknown, but those are good changes for now. It is interesting that [View](https://reactnative.dev/docs/view#nextfocusdown) have those props updated.

Regardless of that, thank you for working on those issues! 👍

[2020-08-19 20:54] ayushjainrksh commented on #2141
Yeah, it was added to the View component in [this PR](https://github.com/facebook/react-native-website/pull/931).

[2020-08-20 01:35] idkjs commented on #2147
That is what I figured. Did not want to leave it out if I was wrong. Thank you,sir.

[2020-08-20 01:35] #2147 closed

[2020-08-20 15:22] Simek opened #2163 "Replace Flexbox page images with SnackPlayers and update existing demos to be more interactive"
## Description

Currently on the [**Flexbox**](https://reactnative.dev/docs/next/flexbox) page there is a lot of images and there are few basic examples in SnackPlayers.

It will be nice to have fully interactive demos (where user can toggle through or select by click every valid property value and the example part of demo react to that) instead of the images and basic Snack examples.

The example

[2020-08-20 16:34] #2127 closed

[2020-08-20 21:45] rachelnabors commented on #2163
This is a great idea! I sure hope someone will pick it up!

[2020-08-20 21:52] Stringsaeed commented on #2163
I can address this in a pr @rachelnabors

[2020-08-20 22:41] espipj commented on #2163
Hey @rachelnabors and @Simek some time ago I updated [Layout Props](https://reactnative.dev/docs/layout-props) which seems that might be kind of the idea that you're suggesting. I think is a good point to take as reference if @Stringsaeed wants to work on that :) I'm more than happy to help if needed :) PR for that was #1750

[2020-08-20 22:50] Simek commented on #2163
@espipj Thank you for referencing this example! It is exactly what I was thinking about. I was looking for it in Component and APIs, but I have forgot to check the Props 🤦‍♂️

Also approach with the picker component (like on[ Yoga Layout playground](https://yogalayout.com/docs/flex-direction/)) instead of buttons will be fine, feel free to choose @Stringsaeed.

[2020-08-20 22:51] espipj commented on #2163
Btw for some reason the _Props_ section doesn't show up properly while browsing through Firefox🦊
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/12865914/90833226-e016df80-e347-11ea-8b42-27a7954eaec9.png">
Shows up okay, after collapsing _Core components_
![image](https://user-images.githubusercontent.com/12865914/90833379-2e2be300-e348-11ea-8831-a0bb10aed500.png)

Not

[2020-08-20 22:59] Simek commented on #2163
Unfortunately the list of Core Component is so long so you need to scroll to the bottom of the page to see the end of left sidebar:
<img width="945" alt="Annotation 2020-08-21 005647" src="https://user-images.githubusercontent.com/719641/90833882-38021600-e349-11ea-8838-c277ce1a3dc4.png">

Currently we are working with Docusaurus team to migrate site to V2 (#2146), which will fix this issue (and h

[2020-08-20 23:00] Stringsaeed commented on #2163
@espipj I didn't check GitHub notifications 😓, so I did add from scratch but I will copy your code for this

[2020-08-20 23:04] Stringsaeed commented on #2163
@Simek I'm not following you about (Picker or Buttons) can you illustrate, but I already was trying to reference yoga playground in my implementation but I'm creating a snake for every section to make code and preview more accessible
but if you suggest to convert it to a root playground for the whole page I can deliver that

[2020-08-20 23:07] Stringsaeed commented on #2163
that's what I'm creating right now
<img width="653" alt="Screen Shot 2020-08-21 at 1 06 51 AM" src="https://user-images.githubusercontent.com/37156636/90834464-a1ceef80-e34a-11ea-9273-70ebde8bf8fd.png">

[2020-08-20 23:17] Simek commented on #2163
That is the goal of this issue, you have understood me correctly. In the post above I was referring to the functionality of example. And sorry for suggesting the Yoga solution I forget that [Picker ](https://reactnative.dev/docs/0.62/picker) component has been deprecated.

According to the screenshot, you on the good way, you should leave only the one "screen" and replace `'flex-start'` with butto

[2020-08-21 00:20] Stringsaeed commented on #2163
@Simek everything is okay but I have a really big problem with selecting colors for boxes 😂😂 (sorry backend background 😓😓, you can tell)
<img width="322" alt="Screen Shot 2020-08-21 at 2 19 03 AM" src="https://user-images.githubusercontent.com/37156636/90838269-b7491700-e354-11ea-98a0-5f55c3a5bf1d.png">
is there any palette or good references for selecting colors

[2020-08-23 12:46] #316 closed, assigned to nobody

[2020-08-23 12:46] #706 closed, assigned to nobody

[2020-08-25 01:38] rickhanlonii commented on #1768
I believe this is still an issue, @rachelnabors any work from other documentation managers about their experiences?

[2020-08-25 02:39] yangshun commented on #1768
@slorber something to take note

On Tue, Aug 25, 2020, 9:38 AM Ricky <notifications@github.com> wrote:

[2020-08-25 11:02] ravirajn22 opened #2174 "When can we expect the Black Lives Matter banner to be removed?"
It's not like I want to fire up a thread between different groups of people. But I think BLM banner has served its ultimate purpose (I hope) of educating people about different racial and ethnic problems.

I feel it's time to remove it. why? Because we cannot have something perpetually considering this being a technical website (unfair) and as time passes it loses its purpose.

Also think for a se

[2020-08-25 12:34] developerantoniosousa commented on #181
Any changes? I can collaborate with Portuguese

[2020-08-25 15:13] voxspox opened #2176 "explain more `source` prop of `Image`regarding multi-source"
## Description

The [Image docs](https://reactnative.dev/docs/image.html#source) say for the `source` prop:
*This prop can also contain several remote URLs, specified together with their width and height and potentially with scale/other URI arguments. The native side will then choose the best uri to display based on the measured size of the image container.*

I tried to setup multiple local image

[2020-08-26 11:03] Wanderson77 opened #2178 "How to help"
Hello guys, I would like to better understand this project and how it works and how I could help you in the development.

[2020-08-26 22:17] matheusmonte commented on #2178
Hi @Wanderson77 , There's a page about how to contribute : https://github.com/facebook/react-native-website#-contributing , basically you can see the open issues and if you feel confidence to solve some of that, use the steps to fork this project and made code changes to solve the issue, after this, you can open a merge request that will be checked by project's maintainers.

[2020-08-26 22:19] matheusmonte commented on #2174
I think we can define this date to when black people stop to be killed and have equality opportunities on our society.

[2020-08-27 02:22] cheolhow opened #2179 "ScrollView "StickyHeaderComponent" prop need documentation"
## Description

I found ``StickyHeaderComponent`` is available in the latest version RN's ``ScrollView``. But it's not documented.

## What is the problem?

There is some ambiguity in understanding just as described in PR.
For example, if I use ``StickyHeaderComponent`` with ``stickyHeaderIndices``, it's ambiguous how to handle it.
It similar to ``CellRenderComponent`` prop, but it doesn't keep th

[2020-08-27 08:35] cpojer commented on #2174
Thanks, we'll consider your perspective but don't have an update to share right now.

[2020-08-27 08:35] #2174 closed

[2020-08-29 19:53] #1941 closed

[2020-08-30 01:32] JoseMoreville opened #2182 "Graphic problems on official react native page"
Hello, i was taking a look on react native page since i want to use it for one of my project and i realized there are some problems with the front-end when you hover some brand icons.

I'm pretty sure it's the size, background color and border of the anchor tags <a></a>

I'm not 100% if this post belongs here but hopefully it does.

Image to show the bug
http://prntscr.com/u7rhgn

[2020-08-30 21:20] #2163 closed

[2020-08-30 21:32] Simek commented on #2182
Hi @JoseMoreville, thank you for reporting the issue! And yes, this is the correct place. 🙂

I have prepared a small PR which fixes the graphical problem you have reported.

This issue will be automatically resolved on the PR merge.

[2020-08-30 21:39] #2182 closed

[2020-09-01 08:08] DZuz14 commented on #2179
@cheolhow You mention ScrollView here, but your code snippet is that of a FlatList?

[2020-09-01 08:34] DZuz14 opened #2190 "Docs: Include "Inherits from <Component>" in the props section of the right-hand sidebar"
When visting a link to a components documentation (ie: https://reactnative.dev/docs/flatlist), it is not apparent that a component inherits from another unless you specifically click the "props" link in the right sidebar. Atleast on desktop view, I feel as though a lot of people may not click the "props" link at all, and just instead scan the list of props that are already visible in the menu.

I

[2020-09-01 09:04] cheolhow commented on #2179
@DZuz14 Flatlist is inherits VirtualizedList. And VirtualizedList is inherits ScrollView. Therefore, the issue of ScrollView can be described with FlatList.

[2020-09-01 09:18] cheolhow commented on #2179
When I check the ScrollView code, it seems that the ``StickyHeaderComponent`` property is completely replaced by a custom component.
 I handled the code of the ``ScrollViewStickyHeader`` component by customizing the code to maintain the default sticky behavior. However, this process seems to be a temporary measure.
 Discussion of improving this part will begin in the react-native repository.
 Howe

[2020-09-01 09:35] Simek commented on #2190
Refs #2160, #2168

Hi @DZuz14, I think that the issues you are describing has been fixed lately. You can check the `next` version of docs to see the current solution: https://reactnative.dev/docs/next/flatlist

If you have any feedback about the implementation feel free to share it! 🙂

If the changes in `next` docs are enough to fix the problem, please close this issue.

[2020-09-02 01:16] SrBrahma opened #2192 "Add 'Switch' component examples with images"
## Description

https://reactnative.dev/docs/switch.html doesn't provides example images of the coloring props.

## What is the problem?

I never used the switch coloring, and the docs doesn't make it very clear about the coloring of the Android and iOS (I don't use iOS and can't test on it right now, would be good if I knew how it would look like without trying)

## How can we address it?

Add im

[2020-09-02 16:28] slorber commented on #2146
Can be closed in favor in the new migration fork: https://github.com/react-native-website-migration/react-native-website/issues/7

[2020-09-02 16:53] #2146 closed

[2020-09-03 03:03] luism3861 commented on #2192
you should read this answers it's very easy to add custom colors in switch component!.
https://stackoverflow.com/questions/39159659/change-color-of-switch-while-turning-off-react-native

[2020-09-03 03:18] SrBrahma commented on #2192
Indeed, but, this should be on the Native docs

[2020-09-04 19:38] GuillotJessica opened #2201 "https://reactnative.dev/docs/tabbarios-item.md#systemicon returns 404"
## Description

in https://reactnative.dev/docs/tabbarios-item if you click on systemIcon
 the link returns a 404

[2020-09-05 20:06] #1891 closed

[2020-09-05 20:06] #1956 closed

[2020-09-06 16:51] #2201 closed

[2020-09-06 16:56] Simek commented on #2201
Hi @GuillotJessica, the `TabBarIOS` component has been removed from React Native few versions ago, in [`0.59` release](#2201) (https://github.com/facebook/react-native/commit/02697291ff41ddfac5b85d886e9cafa0261c8b98).

To address the issue reported by you I have removed the duplicated TOC from `TabBarIOS` and `TabBarIOS.Item pages` (this was a relict of the previous website design) and I have adde

[2020-09-06 17:06] Simek commented on #2176
Hi @voxspox, currently you need to use the object structure in the `source` array (multiple image sources using `require` is not supported):
* https://github.com/facebook/react-native/blob/master/Libraries/Image/Image.android.js#L51

But I agree that an example for multiple source image would be a nice addition.

[2020-09-09 07:25] MrGVSV opened #2206 "Improve Native UI Components Documentation"
## Description

There is very little detail in the documentation for Native UI Components. The documentation should be updated for both iOS and Android to reflect the basics of what can be done.

Links: [Android](https://reactnative.dev/docs/native-components-android) | [iOS](https://reactnative.dev/docs/native-components-ios)

## What is the problem?

The documentation is very sparse when it come

[2020-09-09 09:01] Simek commented on #2206
Refs #706, #1064, #1569, #1708 and more.

[2020-09-10 15:46] lopeselio opened #2208 "Request for Dark Theme with theme toggle for developers"
This is just a small feature request. Would do a world good.

Introduction
I'd like to suggest implementing a Dark theme toggle switch, the same way Redux website https://redux.js.org/ and Redux Toolkit website https://redux-toolkit.js.org/ have that small toggle switch at the right upper corner of the top navbar.

Details
It really hurts your eyes when you read other Redux documents with dark the

[2020-09-10 16:02] Simek commented on #2208
Hi @lopeselio, this feature and many more will be available after the Docusuaurs upgrade to V2, which is currently in progress. You can check out the #2146 issue and referenced fork for the details.

[2020-09-10 17:50] lopeselio commented on #2208
That's amazing. Really waiting ...

[2020-09-11 03:42] #747 closed

[2020-09-12 04:38] damusix opened #2210 "Can we keep documentation sites about documentation?"
I would like to politely and respectfully propose we keep politics out of our work environments. I'm all for showing support for what you believe in, but it would be nice if we could keep code docs about code docs and not politics. Not everyone agrees with the principles or political views of BLM and it's a bit annoying / triggering / distracting to see my favorite tools constantly spamming me pol

[2020-09-13 18:45] doxpopuli commented on #2210
What, do you, like, um, not care about black people or something? Sorry (not sorry) to make you uncomfortable, but the RN dev team (some of the most privileged human beings -- mostly white, mostly male, all ridiculously well compensated for their labor -- to ever walk this earth) _will_ waste precious screen real estate on your cheap laptop's low resolution display (because you aren't privileged e

[2020-09-14 00:34] gaearon commented on #2210
Thanks for your concern. We’ve made a decision to add the banner and we understand there would always be people who agree or disagree with it because this decision is not neutral. There’s not much to be gained from discussing this, and as you can see above, threads like this, even when well-intentioned, tend to attract trolls. I think it would be nice to make the banner dismissible, especially giv

[2020-09-14 00:34] #2210 closed

[2020-09-17 20:38] #2178 closed

[2020-10-11 23:56] #1441 closed

[2020-10-12 22:55] betoharres commented on #2107
I'd like to give my cent as RN user just starting to make Native Modules for RN ecosystem:
First thing I did was to check official docs, and I rapidly executed bob create command to bootstrap my new project.
Second thing I did was to try to follow along the docs on how to build such native module, and to be honest, it didn't helped me to show a simple native view and I got confused because of the

[2020-10-17 03:44] Naturalclar commented on #1579
@mitulsavani I believe this is the blogpost :) https://reactnative.dev/blog/2020/07/23/docs-update

[2020-10-25 06:02] luism3861 commented on #1579
hi @rachelnabors  what happened if i have contributed in another issues i have to complete this form form for stickers or t shirt ?

[2020-10-29 04:19] #2054 closed

[2020-10-29 04:19] #2208 closed

[2020-10-29 10:36] slorber opened #2275 "Simplify the CI / CD / hosting setup"
During the Docusaurus v1 / v2 migration that we have done with @Simek (https://github.com/facebook/react-native-website/pull/2273), I noticed a few things that could be improved regarding the CI / CD / hosting setup.

We didn't do these changes as part of the migration, because:
- We didn't want to disrupt the existing setup, in addition to the already large migration project
- I'm not sure who at

[2020-10-29 10:38] Mobashir1995 opened #2276 "Is Website is down?"
I see that React Native website is down. When I want to visit the website then it returns the following

[code]

[2020-10-29 10:39] Simek commented on #2276
Unfortunately yes, we are working on it.

[2020-10-29 11:06] Simek commented on #2276
The new website should be shortly up and running. I'm sorry for your inconvenience.

Meanwhile you can take a look at the upcoming changes listed in #2263.

[2020-10-29 11:20] slorber commented on #2275
# Docusaurus v1->v2 migration: downtime post-mortem

This is __funny__ because I wrote the above issue while the v2 deployment was not totally finished.

I wrote about the risks of GH pages, and the unability to have 2 prod deployments side by side.

Obviously, the inevitable happened. Due to some missing config (absence of website/static/CNAME file to setup GH pages custom domain), the v2 site de

[2020-10-29 11:35] slorber commented on #2276
fixed :)

[2020-10-29 11:37] Simek commented on #2276
@Mobashir1995 Can you confirm that website is working for you? 🙂

[2020-10-29 13:10] #2276 closed

[2020-10-30 02:01] ricardobeat opened #2285 "Wrong links in the partners section"
## Description

The link to Callstack under the **Facebook Supported, Community Driven** section in the index page (https://reactnative.dev) actually points to microsoft.com. Most curiously, the "2nd highest" link points to callstack.com.

## Documentation version

(index page)

[2020-10-30 10:57] Simek commented on #2285
Hi @ricardobeat, thank you for reporting the issue. It looks like there is a problem with rehydration (React), code for this page looks fine:
* https://github.com/facebook/react-native-website/blob/master/website/src/pages/index.js#L439

Same with the SSR output:
![unknown](https://user-images.githubusercontent.com/719641/97697126-daa3e700-1aa6-11eb-9d5b-582b72fb7a23.png)

I will try to mitigate t

[2020-10-30 11:00] slorber commented on #2285
On reactnative.dev homepage:

![image](https://user-images.githubusercontent.com/749374/97697186-f0191100-1aa6-11eb-8d68-0b4992f55da7.png)

You are right, the Callstack link links to a Microsoft domain, and other links are interverted.

Yet:
- The code is fine (https://github.com/facebook/react-native-website/blame/master/website/src/pages/index.js#L439)
- The SSR markup is fine.
- The links are f

[2020-10-30 15:16] #2285 closed

[2020-10-30 16:32] Simek opened #2291 "Broken links and trailing slash issues on the website"
## Description

Currently the trailing slash is been added to the initial links leading to the React Native website which results in broken links (leading to 404 page) for some users on the initial page that they are visiting, for example:
* `https://reactnative.dev/docs/components-and-apis` becomes `https://reactnative.dev/docs/components-and-apis/`
* `https://reactnative.dev/docs/testing-overvie

[2020-10-31 13:06] MohamadKh75 opened #2293 "Wrong link for environment-setup"
## Description

There is a link in the [main page](https://reactnative.dev/docs/getting-started/) to `environment-setup` which redirects to [here](https://reactnative.dev/docs/getting-started/environment-setup)!

It's broken and should be [this address](https://reactnative.dev/docs/environment-setup/)

## Documentation version

It's 0.63

[2020-10-31 13:21] Simek commented on #2293
It looks like another issue related to #2291.

[2020-10-31 13:23] MohamadKh75 commented on #2293
There is an extra `getting-started/` in the URL so I guess it's more than a single slash :grin:

[2020-10-31 13:29] Simek commented on #2293
This is exactly the same problem 🙂 After the page loads navigate our of it and then navigate back, the link will be correct:
<img width="499" alt="Screenshot 2020-10-31 142721" src="https://user-images.githubusercontent.com/719641/97780489-4d838f80-1b85-11eb-83bf-c1259c92028f.png">

[2020-10-31 14:02] matt-oakes opened #2295 "Blog RSS and Atom feeds not found"
## Description

The RSS and Atom feed URLs are now returning 404 errors. I have just received this as a notification from [Feedrabbit](https://feedrabbit.com/), so it's likely broken in the past 24 hours as it was working before that.

The URLs used to be:

* http://reactnative.dev/blog/feed.xml
* http://reactnative.dev/blog/atom.xml

## Documentation version

0.63

[2020-10-31 14:13] Simek commented on #2293
Closing in favor of #2291.

[2020-10-31 14:13] #2293 closed

[2020-10-31 14:28] betoharres commented on #2206
I agree, and as a newbie that would like to start creating native modules to react-native on android:
Where's the imports? where should I search for such information? I'd like to contribute if at least I'd know where to look at :/
I don't get it why the person omitted such info; I'm scavenging popular repos just to copy/paste these things

[2020-10-31 14:36] Simek commented on #2295
Hi @matt-oakes, thank you for reporting that!

I have a PR ready to be merged, but just want to leave note that RSS feed will be now available under URL - http://reactnative.dev/blog/rss.xml - and the Atom feed link would not change. 🙂

[2020-10-31 14:39] #2295 closed

[2020-10-31 16:25] #2291 closed