[2017-12-02 23:46] 814k31 opened #4 "Watchman dependency not mentioned on the first getting started page"
I followed the instructions
[code]

However it didn't work because there was no mention of watchman (in this page specifically)
Is it possible to add that?
https://facebook.github.io/react-native/docs/getting-started.html

[2017-12-03 16:43] philglazer opened #7 "TypeError: Cannot read property 'undefined' of undefined"
<img width="865" alt="screen shot 2017-12-03 at 8 42 26 am" src="https://user-images.githubusercontent.com/3047514/33527435-f1a9fb24-d805-11e7-8993-e851d5c71231.png">

Haven't modified any code - this is what pops up after a few seconds on the tutorial for me. Looks like this happens on all other pages, too.

[2017-12-04 10:13] liamsheppard opened #9 "Edit button is linking to versioned_docs instead of docs"
I was confused when clicking the Edit button that I was being taken into the `versioned_docs/version-X.XX` folder.

I'm assuming this is incorrect, based on this quote from `README.md`:

[2017-12-04 10:36] matthieuh opened #10 "FlatList link in scrollview doc redirect to a 404 page"
On https://facebook.github.io/react-native/docs/scrollview.html page at

`FlatList` link redirect to a `404 - Page not found error` (https://facebook.github.io/react-native/flatlist.md)

[2017-12-04 13:54] gaearon commented on #9
This also confused me. It directed me to the versioned page for a very old version of the docs.

[2017-12-04 17:31] prabodhmeshram opened #14 "404 Issue on Sectionlist page for Flatlist link"
On url
https://facebook.github.io/react-native/docs/sectionlist.html

At

`If you don't need section support and want a simpler interface, use  <FlatList>.`

The Flatlist link is leading to 404 page.

[2017-12-04 17:39] prabodhmeshram opened #15 "404 on Geolocation view for PermissionAndroid API Link"
On Url:

https://facebook.github.io/react-native/docs/geolocation.html

At line
`ACCESS_FINE_LOCATION permission using the PermissionsAndroid API.`

The link is invalid for _PermissionAndroid_ API, it is leading to 404

[2017-12-04 18:52] #15 closed

[2017-12-04 18:52] #10 closed

[2017-12-04 18:54] #14 closed

[2017-12-05 02:26] sumanta-ghosh opened #22 "Proper doc about packaging the apps and deployment"
There is a ton of example how to use the react native components but there is no doc how to package the code and deploy it. Mainly there is no doc about
react-native bundle

So please add doc for it or if anybody knows good resource for it then please share it

[2017-12-05 20:58] hramos commented on #9
For now, you may have noticed I've been merging changes made against `docs/` as well as `versioned_docs/`. These are mostly changes that fix broken links and other issues related to the transition, as we do want those changes to be applied to past versions.

[2017-12-05 21:01] hramos commented on #7
The screenshot you posted is from https://facebook.github.io/react-native/docs/flexbox.html. I have not seen this error yet, on Chrome or Firefox. Can you share a bit more information about your browser and OS? Does this repro for anyone else?

[2017-12-05 21:02] hramos commented on #4
There's several permutations depending on the platform you're developing on and the platform you're targeting. Can you tell us more about which version of the guide you followed? Watchman is mentioned in the iOS and macOS version of the guide, for example.

[2017-12-05 21:03] hramos commented on #4
Sorry - you're following the Quick Start it seems. Watchman should not be required by CRNA unless something changed recently. Can you tell us more about what did not work?

[2017-12-05 21:28] brentvatne opened #30 "Timer documentation should mention that timers are paused when backgrounded"
https://facebook.github.io/react-native/docs/timers.html

It's common for people to ask something like: "hey I did setInterval(() => /* get location */, 1000) but it doesn't do anything when i background the app, what do i need to do?" -- we should explain that it isn't so simple, and link to the headlessjs doc as well as information about ios and android background execution models.

[2017-12-05 21:30] brentvatne commented on #22
I think the reason for this is that it is no different from packaging and deploying an app for iOS and Android without React Native, and plenty of guides for those exist elsewhere. It would be a large and unnecessary burden for people who work on React Native docs to have to re-write this exact same documentation again and keep it up to date. Maybe we can have a section that points to some decent

[2017-12-05 21:42] brentvatne commented on #4
@hramos - it seems that on some machines it's needed :\ if we're unable to start the packager due to fs event notif limits we do provide specific instructions for how to get it work without watchman and also link to watchman -- https://github.com/react-community/create-react-native-app/blob/882f1d23766b827429b2b1fbfd4afc513796a652/react-native-scripts/src/util/packager.js#L77-L116

the bet we're m

[2017-12-05 21:42] brentvatne commented on #4
cc @dikaiosune

[2017-12-05 22:15] hramos opened #33 "The Basics and Guides should not be versioned"
We currently allow readers to switch the website version. This lets them see the docs as a snapshot for a given React Native release. For example, what were the APIs for ScrollView back in 0.20 versus 0.50?

Our goal with the content in The Basics and Guides is to provide information that is relevant today, with the assumption that the user is on the latest release.

In order to make this work und

[2017-12-06 00:16] 814k31 commented on #4
Yeah I tried to run it on my mac book air (I think its like an 09 or something)
I'll uninstall watchman a bit later and get the error message back if you need however I found the error was caused by not having watchman on my machine which worked fine after installing it

In regards to watchman being purposely left out of the docs, feel free to close this issue.
I just thought I'd create it incase

[2017-12-06 19:25] dikaiosune commented on #4
This should probably be tracked somewhere else (metro maybe?) but it would be very nice to either replace watchman with a non-global per-process watcher, or to bundle watchman as platform specific npm packages and use its `--state-dir` and `--foreground` flags to isolate it to a specific packager instance. This would get people more accurate file watching without needing to install it separately f

[2017-12-07 00:18] #9 closed

[2017-12-07 16:05] RyanMitchellWilson opened #39 "Many versions of the docs are missing View styles"
In the documentation for the View component the style attribute is pretty much empty.
<img width="1031" alt="screen shot 2017-12-06 at 2 32 41 pm" src="https://user-images.githubusercontent.com/11371200/33724769-8bee76f4-db2d-11e7-96ee-74897ee9446b.png">

I reported this 7 months ago when it first started happening in version .43-.44 but it was close because the docs were moved to this project.

I

[2017-12-07 16:08] brunolemos opened #40 "Docs doesn't show props descriptions"
<img width="706" alt="image" src="https://user-images.githubusercontent.com/619186/33725040-26a7a77c-db58-11e7-981c-3479a45e3b4a.png">

[2017-12-07 16:25] hramos commented on #40
Can you link to the doc that contains these props?

[2017-12-07 16:28] hramos commented on #39
Should be fixed in latest now: http://facebook.github.io/react-native/docs/view.html#style links to http://facebook.github.io/react-native/docs/view-style-props.html

TODO: Older versions are linking to styles.html instead: http://facebook.github.io/react-native/docs/0.40/view.html#style

[2017-12-07 17:01] AudyOdi commented on #40
@hramos I think this one is from `VirtualizedList` https://facebook.github.io/react-native/docs/virtualizedlist.html

[2017-12-07 17:09] brunolemos commented on #40
^ yes, `VirtualizedList`

[2017-12-07 17:57] RyanMitchellWilson commented on #39
Awesome thanks! I remember there being more styles you can apply to views, is this all of them? I remember there being a link to layoutProps, shadowProps and transforms, could those be readded as well?
![bcdd075c-3ff2-11e7-97e6-5c1e332ad697](https://user-images.githubusercontent.com/11371200/33730493-5b4ba872-db3d-11e7-9599-3b1aa9e65285.png)

I can create a separate issue for that if needed.

[2017-12-07 18:53] hramos commented on #39
Re-opening as this was autoclosed by my commit.

[2017-12-07 21:10] brentvatne opened #47 "Improving UX Guide (ongoing)"
@frantic wrote in https://github.com/facebook/react-native/issues/14979

This is a rough checklist:

- [x] hitSlop
- [ ] tab bar
  - tab selected tab to pop
  - if empty stack, scroll to top
- [x] touchable with ripple
- [ ] keyboard:
  - [x] autofocus and return key
  - [x] space under keyboard and dismissing
  - [x] keyboard type, capitalization and autocorrect
- [ ] animated with useNativeDrive

[2017-12-07 21:12] brentvatne opened #48 "Videos broken on Improving UX section"
A bit ironic, but yeah, no videos play for me. https://facebook.github.io/react-native/docs/improvingux.html

![](http://url.brentvatne.ca/nBDAKX.png)

[2017-12-07 23:15] hramos commented on #48
Taking a look. Seems like the mp4 assets are missing:

[code]

[2017-12-07 23:17] spencercarli commented on #48
I'm happy to tackle this but not sure where to find the resources that are MIA. I found a [KeyboardAvoidingView gif](https://github.com/facebook/react-native-website/blob/master/docs/assets/KeyboardAvoidingView/example.gif) but no mp4s in the project.

[2017-12-07 23:17] #48 closed

[2017-12-08 04:09] lwinkyawmyat opened #50 "Support Link is fails"
- [other channels](https://facebook.github.io/react-native/support.html) link is fails in [How to contribute](https://facebook.github.io/react-native/docs/contributing.html) page.

![How to contribute](https://user-images.githubusercontent.com/13135332/33750580-4628b2d4-dc03-11e7-8ad0-9c2ec6e04809.png)

[2017-12-08 14:11] charpeni commented on #50
Thank you for bringing this up, I'll fix this.

[2017-12-08 15:04] #50 closed

[2017-12-10 19:20] ivandevp opened #55 "Broken link in Handling Text Input (docs)"
There's a link to the old React Documentation in `Handling Text Input`.

The broken link is `React docs on controlled components`:

![screen shot 2017-12-10 at 1 18 29 pm](https://user-images.githubusercontent.com/9284690/33808474-b4702218-ddac-11e7-92d7-b4a5b2068cdf.png)

The link open the following url:

![screen shot 2017-12-10 at 1 18 40 pm](https://user-images.githubusercontent.com/9284690/33

[2017-12-12 02:29] ivandevp commented on #55
I'll close this issue since the PR #56 was accepted and this was fixed.

[2017-12-12 02:29] #55 closed

[2017-12-12 17:28] #40 closed

[2017-12-13 11:50] ravirajn22 opened #61 "Algolia DocSearch dropdown is not shown when viewing versioned docs"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](https://facebook.github.io/react-native/docs/contributing.html)?

yes

### Environment

 Environment:
    OS:  macOS Sierra 10.12.6
    Node:  6.11.0
    Yarn:  1.3.2
    npm:  5.4.2
    Watchman:  4.7.0
    Xcode:  Xcode 8.3.3 Build version 8E3004b
    Android Studio:  2.3 AI-162.4069837
    Chrome - 63.0.3239.84

[2017-12-13 16:25] hramos commented on #61
Looks like the dropdown is only triggered when viewing the latest version's docs. After navigating to 'next' or to a previous release, the drop down is not shown. Looks like anything that changes the base URL of the docs will cause this to happen.

[2017-12-14 05:25] ravirajn22 commented on #61
Please fix it soon, kind of tough to navigate and find features without search option.

[2017-12-14 19:25] Bhullnatik opened #69 "[Images] How are images directories chosen?"
I noticed a lot of images are not displayed correctly because the link doesn't exist, for example almost every image in [`Performance`](https://facebook.github.io/react-native/docs/performance.html) points to [`/docs/assets/`](https://github.com/facebook/react-native-website/tree/master/docs/assets) while the images are in [`/website/static/img`](https://github.com/facebook/react-native-website/tr

[2017-12-14 19:58] hramos commented on #69
I already ran a script last month that went through every markdown file and ensured the necessary images were present in `/docs/assets`, but the 'static/img' directory needs some clean up. The images we are using in the docs are all in `/docs/assets` , therefore `/react-native/docs/assets/<image name>` should work.

In order to clean up the static img directory we just need someone to go through e

[2017-12-14 19:59] hramos commented on #61
You'll probably want to take a look at the `pages/` files in this repo. It may also be a bug with Docusaurus itself. Ping me here if you open a PR on either repo and I can take a look.

[2017-12-14 20:20] Bhullnatik commented on #69
@hramos I don't think your script worked because, I didn't try every page, but I can confirm it doesn't work for [`Performance`](https://facebook.github.io/react-native/docs/performance.html) and [`Debugging`](https://facebook.github.io/react-native/docs/debugging.html).
If you launch [`Performance 2. Reading the Trace`](https://facebook.github.io/react-native/docs/performance.html#2-reading-the-t

[2017-12-14 21:25] hramos commented on #69
I see what happened. See https://github.com/facebook/react-native-website/pull/70 where this should now be fixed, and hopefully the script will catch future errors.

[2017-12-14 21:41] #69 closed

[2017-12-14 23:05] rigdern opened #71 "Can't click on link/button that appears next to each prop title"
Each prop title has a link/button to the left of it:

![image](https://user-images.githubusercontent.com/199935/34018662-be3a100c-e0df-11e7-9067-678e120d4d81.png)

This link/button only appears when you hover over the text representing the prop name. Consequently, you cannot click on the link/button because it disappears when you attempt to hover over it in order to click it.

Adam Comella
Microso

[2017-12-15 05:57] Obooman opened #72 "i18n Crowdin project management"
I want to add i18n zh-Hans version of react-native, but files in crowdin is empty

[2017-12-15 06:00] Obooman opened #73 "Experimental document block"
I'm the maintainer of [react-native-ART-doc](https://github.com/react-native-china/react-native-ART-doc), how can I contribute this part to API list?

[2017-12-15 11:00] dpgailey commented on #7
@hramos I'm also seeing the same behavior on Chrome 62.0.3202.94 / Mac 10.12.5

[2017-12-17 23:18] calvinmikael commented on #47
This is a great idea and I support you fully in your endeavors.

[2017-12-18 23:58] hramos opened #77 "Animated doc missing property type defs"
Scroll to the bottom of http://facebook.github.io/react-native/docs/animated.html - there's a few empty prop types.

[2017-12-19 00:00] hramos commented on #73
Right now, the docs only list components and APIs that ship with core React Native.

At some point in the future, it might make sense to include docs for components that are not part of core - especially if we split out frequently used components into their own modules - but at this point in time I recommend hosting the docs in your library's own GitHub repo.

[2017-12-19 01:45] charpeni opened #78 "AppState doc get currentState() is broken"
The first method of AppState should be the getter of currentState.

![image](https://user-images.githubusercontent.com/7189823/34136541-604455f4-e434-11e7-97c5-d303558ebf30.png)

[2017-12-19 01:56] #73 closed

[2017-12-19 02:06] Tonours commented on #71
Can i take this one ?

[2017-12-19 15:42] hramos commented on #71
Thanks for the report. Looks like an issue with Docusaurus, the site generator. I've duplicated this issue in their repo. I'll leave this open until it's fixed in Docusaurus.

[2017-12-19 15:44] hramos commented on #71
@Tonours's comment hadn't loaded when I posted above (I had an old tab open). Thanks for looking into it, interesting to see it might be an issue with our CSS and not on Docusaurus's side. Let me take a look and make sure this is not something we need to upstream to Docusaurus.

[2017-12-19 15:47] hramos commented on #71
Fix looks great, merged.

[2017-12-19 15:47] #71 closed

[2017-12-19 15:47] Tonours commented on #71
@hramos Hi ! Yes at the beginning i thought it was in Docusaurus but this is an override in react-native.css :-)

[2017-12-19 17:31] hramos commented on #72
The site is not currently set up for internationalization. It's something we might do later in 2018, after we do some additional work on the docs. We do not want to encourage people to localize the docs to additional languages when we're planning on rewriting a good chunk of them.

[2017-12-20 14:30] charpeni opened #87 "Version in header overlap search input on mobile devices"
<img src="https://user-images.githubusercontent.com/7189823/34211821-455b4600-e568-11e7-8b77-77d8fac9e859.png" height="500" />

[2017-12-20 15:12] hramos commented on #87
Good one. Might be worth fixing upstream in Docusaurus as I can see this happening on any client site with a long enough name - unless it turns out this was introduced by one of our own CSS rules.

[2017-12-20 15:21] floriancargoet opened #89 "Broken "Release notes" links on versions.html"
On https://facebook.github.io/react-native/versions.html all the "Release notes" links point to this URL: `https://facebook.github.io/react-native/-rc.0` which returns a 404.

[2017-12-20 16:25] hramos commented on #89
Fixed in #86 though there's still one broken link for the RC release notes.

[2017-12-20 16:29] #89 closed

[2017-12-22 06:56] raunaqss commented on #47
Any guidelines for anyone who wants to contribute towards completing the above checklist?

I've worked on a lot of the above in my react native apps, would love to help others save a bunch of time (and/or face).

[2017-12-22 18:03] hramos opened #92 "Sync contribution guide to CONTRIBUTING.md"
Prior to the repo split, whenever the website was built, a script would grab the contents of `docs/contributing.md` and insert them into `CONTRIBUTING.md` in the root of the `facebook/react-native` repo.

This allowed us to easily link to nicely-rendered contribution docs on the web while still having an offline, easy to find, copy in the repo itself. GitHub will also highlight any `CONTRIBUTING.m

[2017-12-23 17:43] sachingadagi opened #94 "Broken link in docs / getting-started.md"
The hyperlink with caption `Create React Native App` (**line  156**)  is broken here at
[https://github.com/facebook/react-native-website/blob/master/docs/getting-started.md](https://github.com/facebook/react-native-website/blob/master/docs/getting-started.md)

[2017-12-26 06:04] raunaqss commented on #47
@brendanv

Hi Brent, I wanted to know if the repo was open to PRs with added content for the above list? If yes, what are the constraints within which the new content should be added (length, screenshots, links to resources, etc)?

As I've mentioned above, I'd love to contribute towards completing the above checklist. Look forward to your response!

Thanks

[2017-12-26 23:17] CVeniamin opened #97 "Fix url in getting started page"
Fix F8 app tutorial url link

[2017-12-27 15:18] farzd opened #101 "Search in header is not working"

[2017-12-28 10:24] LouisJS opened #102 "FlatList Doc"
It seems like the FlatList component is recommended in every version of the doc, even though it was only introduced from 0.43.

It would be better to provide a proper ListView docs for the version anterior to 0.43

[2018-01-01 03:46] fotoflo opened #109 "suggest linking to some tutorial on getting a simulator setup"

[2018-01-01 18:31] getaaron opened #110 "sectionlist doesn't display properly"
https://github.com/facebook/react-native-website/blob/master/docs/sectionlist.md shows several props like `initialNumToRender`, `keyExtractor`, etc

https://facebook.github.io/react-native/docs/sectionlist.html shows only `stickySectionHeadersEnabled` with a blank type and no description:

![image](https://user-images.githubusercontent.com/789577/34470069-82ca534c-eeef-11e7-899c-f3c70d29508a.png)

[2018-01-01 18:33] getaaron commented on #110
CC @hramos

[2018-01-02 05:05] carlbennettnz opened #112 "Link needed in blurb about App Transport Security exception"
From the [Networking page](https://facebook.github.io/react-native/docs/network.html):

The part about disabling it completely has a link, but how to add an exception for specific domains is not. Linking to a resource that explains how to do this would be useful, particularly for users of create-react-native-app, which seems to hide things like the info.plist file mentioned in [this article that a

[2018-01-07 07:14] onstash opened #119 "Some images in "Debugging" page are not loading."
<img width="1440" alt="screen shot 2018-01-07 at 12 39 50" src="https://user-images.githubusercontent.com/4272832/34647405-055fc5be-f3a8-11e7-8edc-eaed2852eef4.png">

This issue is most likely present because the latest `master` changes haven't been deployed, perhaps. All / most images related issues have been fixed in https://github.com/facebook/react-native-website/pull/70, as far as I understan

[2018-01-08 09:03] finian opened #123 "FlatList doc not showing all props since 0.49"
There are many props (like `ListEmptyComponent`) in flatlist.md file, but the web page just show one prop (numColumns). Something broken?

![image](https://user-images.githubusercontent.com/992451/34664239-d8134f92-f495-11e7-83a6-a98893c7121a.png)

![image](https://user-images.githubusercontent.com/992451/34664224-c57332ee-f495-11e7-86dc-028a5cb1bc37.png)

[2018-01-08 21:50] rick-schubert opened #126 "Remove out of date reference to ResponderEventPlugin.js"
The file ResponderEventPlugin.js is nowhere to be found in the source code of react-native although it is referenced by name 33 times in 6 files. ResponderEventPlugin can be found inside of Libraries\Renderer\ReactNativeRenderer-prod.js though.

Having had a look at ReactNativeRenderer-prod.js I realised that there are neither details nor documentation inside of this file. Thus, I would propose to

[2018-01-11 15:09] Eligioo opened #132 "Document recommended NodeJS and NPM version for React Native"
For the docs/getting-started.md is it an idea to document the best or minimal version of at least NodeJS for React Native?

[2018-01-11 15:12] #132 closed

[2018-01-12 18:33] hramos commented on #94
Fixed.

[2018-01-12 18:33] #94 closed

[2018-01-12 20:46] hramos commented on #119
Looks like this is now fixed.

[2018-01-12 20:46] #119 closed

[2018-01-12 20:46] #97 closed

[2018-01-13 16:47] AudyOdi commented on #123
@finian The current react native docs website (0.53-RC) has it fixed.
![image](https://user-images.githubusercontent.com/11345526/34908048-01aa7ebe-f8bc-11e7-91e9-11d089f1c10a.png)

[2018-01-15 08:18] #123 closed

[2018-01-17 09:14] eyalcohen4 opened #143 "Broken Link - Direct-Manipulation.md"
Hey! Great docs.

The link referenced to ref-callback in the [Direct-Manipulation](https://facebook.github.io/react-native/docs/direct-manipulation.html) section is broken.

Here's a link to the [code](https://facebook.github.io/react-native/docs/direct-manipulation.html), and the [broken link](https://reactjs.org/more-about-refs.md#the-ref-callback-attribute).

Thanks!

[2018-01-18 15:22] lwinkyawmyat commented on #110
Now, I can see it.

![sectionlist](https://user-images.githubusercontent.com/13135332/35105304-b3c1169a-fc99-11e7-9e6a-3107c0de137b.png)

[2018-01-19 06:26] lwinkyawmyat opened #148 "Broken saveImageWithTag method on CameraRoll Docs"
The `saveImageWithTag` method are broken on [CameraRoll Docs](https://facebook.github.io/react-native/docs/cameraroll.html) pages.
Start from [v0.45](https://facebook.github.io/react-native/docs/0.45/cameraroll.html).

<img width="883" alt="cameraroll" src="https://user-images.githubusercontent.com/13135332/35137479-016e2cba-fd18-11e7-977b-195b2ff4294f.png">

[2018-01-19 10:17] floriancargoet opened #149 "Links in blog/atom.xml feed are broken"
In the blog's [atom feed](http://facebook.github.io/react-native/blog/atom.xml), links to articles are broken.
They point to, e.g.,
 - /blog/2018/01/18/implementing-twitters-app-loading-animation-in-react-native.html (which redirects to https://code.facebook.com)
 - instead of **/react-native**/blog/2018/01/18/implementing-twitters-app-loading-animation-in-react-native.html

[2018-01-19 23:56] hramos commented on #149
Great find! This may require fixing in the Docusaurus project itself: https://github.com/facebook/Docusaurus

[2018-01-20 18:59] quinlanj opened #150 "Error in simulator when visiting the site"
When I visit https://facebook.github.io/react-native/docs/flexbox.html , around 15-20 seconds after the page loads, the simulators error with `TypeError: Cannot read property 'undefined' of undefined`, even though nothing has changed in the text box. I'm running osx 10.12.6 with Chrome Version 63.0.3239.132 (Official Build) (64-bit).

![screen shot 2018-01-20 at 10 55 00 am](https://user-images.gi

[2018-01-22 15:40] tapanprakasht commented on #110
@hramos I think this issue has resolved. Need to close this issue.

[2018-01-22 15:41] #110 closed

[2018-01-22 18:34] hramos commented on #148
Thanks! Feel free to open a PR, should be a simple plain text fix.

[2018-01-22 18:36] hramos commented on #150
I haven't seen this happen, I'll leave it open in case other people see the same issue.

[2018-01-22 18:56] charpeni commented on #150
I haven't seen this issue either on OSX or Windows.

It may looks like a memory issue to me, have you tested it on another page with multiple simulators or monitor your RAM?

[2018-01-25 08:41] kbrgl commented on #7
Same on Chrome 63, macOS 10.13.2

[2018-01-25 18:08] hramos commented on #101
Duplicate of #61

[2018-01-25 18:08] #101 closed

[2018-01-25 18:21] hramos commented on #61
@s-pace has some insight about this, copying over from another issue:

I think this may need to be fixed upstream in Docusaurus (see my comment here https://github.com/s-pace/react-native/commit/4bf072ad4e93152c88fceeedc1ee633cecbc6499).

[2018-01-25 18:39] hramos commented on #61
https://github.com/facebook/Docusaurus/pull/418

[2018-01-26 14:26] escaton opened #158 "Default text color on Android"
Lets add a notification that it will be inherited from activity theme. See https://stackoverflow.com/questions/6468602/what-is-default-color-for-text-in-textview/33176972

[2018-01-26 19:03] hramos commented on #149
I've opened a PR to fix this: https://github.com/facebook/Docusaurus/pull/421

[2018-01-26 20:56] hramos commented on #109
Can you elaborate?

[2018-01-26 20:56] #109 closed

[2018-01-27 17:51] #78 closed

[2018-01-29 16:36] jugutier opened #163 "Native modules template"
Hi,

Trying to build a first RN custom module, [the ios guide](native-modules-ios.md) Is very comprehensive but I was wondering if there is some sort of template repo that I could use to bootstrap my native module, if it doesn't exist I'm happy to start working on it.

Thanks :)

[2018-01-29 18:28] hramos commented on #163
I am not aware of one, go for it!

[2018-01-29 18:40] jugutier commented on #163
@hramos thanks for the quick turnaround 👍

Is there a guideline for project structure? I started looking at [react native camera](https://github.com/react-native-community/react-native-camera) for reference but it seems to be slightly different  to other native components in the community org.

Just started to do my first manually, with `react-native init ModuleTest` and then manually creating a F

[2018-01-30 22:32] jugutier commented on #163
Finally got it to work. Documented now in #169. Please check it out and see if it makes sense to have available for everyone as a quick jump start into doing a native module project setup.

[2018-01-31 02:49] mikeyrayvon commented on #7
Same on Chrome 63, macOS 10.13.1

[2018-01-31 03:18] AlexXiong97 commented on #7
@philglazer I have a similar error, I was curious how it happens so I opened up [react-native-web-player](http://dabbott.github.io/react-native-web-player/), from where I saw error message in my console.log

It turns out that `GET /fav.ico 404` is the error.

Thus I go ahead and check on google, it seems to be well-acknowledged problem. It seems during next Chrome update, Chrome will support "disa

[2018-02-03 04:24] isaacchien commented on #112
I'll work on this.

[2018-02-03 16:45] charpeni commented on #112
@carlbennettnz does the PR #177 is enough?

[2018-02-03 17:22] michaelasumcinei opened #181 "How Contribute with Translations for React Native Docs ?"
Hello

I would like to translate the React Native Docs in Italian.

I can submit the contributions on Github as I am one of the contributors of Utopian.io

Is there any guide or repository for it?

I look forward to understand how to get started.

Any help appreciated

Thank you

Best Regards
Michael Asumcinei

[2018-02-04 07:03] gedeagas commented on #181
Hello @digitalplayer-steemit.
Currently, there is no official translation method for react-native docs ( there is one but currently not active https://crowdin.com/project/react-native-official ).

But if you interested in translating the react docs ( not react-native ) to Italian you can do it in here
https://crowdin.com/project/react

for now, I didn't know the exact date when the crowdin transla

[2018-02-04 07:09] gedeagas opened #182 "There has been a change in react-navigation website. Should we update the docs ?"
So in current docs, we have a section about React Navigation but because there is a change in react-navigation documentation website some of the links in the docs are broken.

Can I go ahead and make the necessary change in the current docs ? or just leave it like that for the time being.

[2018-02-04 07:09] gedeagas commented on #182
Referencing an issue
https://github.com/facebook/react-native/issues/17850

[2018-02-04 07:15] gedeagas commented on #182
never mind, I didn't see the latest commit that fixes this issue

i am closing this issue

[2018-02-04 07:15] #182 closed

[2018-02-04 15:16] digitalplayer-steemit commented on #181
I started to work on Open Source translations with the Utopian.io project and I translated on crowdin for react. I would like to continue to translate reactjs documentation but Utopian.io is now supporting only contributions done on Github not anymore crowdin and as I can see React team instead doesn't accept Github collaboration :-) if the react translation team could consider my Github contribut

[2018-02-05 23:51] hramos commented on #181
We're not yet ready to start accepting translations at this time. We already have the infrastructure in place through our static site generator, Docusaurus, which uses CrowdIn as the source. We might overhaul the doc structure at some point this year, and it would be a shame to throw away all the work people put in on translations when that happens.

[2018-02-09 02:52] carlbennettnz commented on #112
Hey, sorry, just saw this. Good improvement, thanks 👍

Only concern is that the `Info.plist` referred to in the linked resource is hidden by create-react-native-app. When I tried to create my first app, I found similar instructions, but never found this file.

[2018-02-09 18:40] hramos commented on #102
Hi LouisJS, this is intentional as every doc under Guides is being treated as "unversioned". What this means is that we will show the same up to date content, regardless of which version of the site you're looking at. Ultimately, the goal of the version switcher is to show you the API and Component docs for that given version. The Guides, though, remain the same regardless of which version you are

[2018-02-09 18:40] #102 closed

[2018-02-09 18:42] isaacchien commented on #112
Oh, I see what you mean. In that case, would the developer have to add React Native to a native iOS app then?

[2018-02-09 19:25] carlbennettnz commented on #112
Not sure. I gave up after getting stuck on this and went back to PWAs instead.

[2018-02-10 12:54] lai32290 opened #194 "Link broken: Page Navigating Between Screens"
At [Navigating Between Screens page](https://facebook.github.io/react-native/docs/navigation.html), links to [React Navigation Getting Started Guide](https://reactnavigation.org/docs/intro/) and [Intro to Navigators](https://reactnavigation.org/docs/navigators/) are getting 404.

![Navigating Between Screens page screenshot](https://user-images.githubusercontent.com/903193/36062297-b823566c-0e50-1

[2018-02-10 12:57] lai32290 commented on #194
Probably

**React Navigation Getting Started Guide** link is changed to https://reactnavigation.org/docs/getting-started.html

**Intro to Navigators** maybe is changed to https://reactnavigation.org/docs/hello-react-navigation.html

[2018-02-12 01:27] wachunei opened #198 "Link broken: Easing#back Wolfram plot"
Link in Easing.back() docs is broken
https://facebook.github.io/react-native/docs/easing.html#back

[2018-02-18 19:28] yassinecc commented on #194
A fix in #179 has been merged but the website still has the broken links

[2018-02-18 19:49] LuigiBaute opened #204 "Hi, I would like to collaborate with your project by serving as a translator into Spanish, which is my native language. I would like to translate the document README.md and CONTRIBUTING.md"

[2018-02-19 18:15] charpeni commented on #204
Duplicate of #181.

Please see this answer: https://github.com/facebook/react-native-website/issues/181#issuecomment-363261257

[2018-02-19 18:15] #204 closed

[2018-02-26 12:16] Time-erhu opened #220 "how to delete old version form version.json"
when i want to delete old version in version.json for 0.5 。 I delete three file， versioned_docs,versioned_sidebars,version.json in 0.5 about. but not work ,may i  lost something delete?

[2018-03-01 16:20] hramos commented on #220
Docusaurus does not support deleting versions (https://docusaurus.io/docs/en/versioning.html).

Can you describe what you'd like to achieve?

[2018-03-01 16:21] hramos commented on #198
Unfortunately it looks like it is gone. Feel free to delete it.

[2018-03-01 16:21] #150 closed

[2018-03-01 17:57] hramos opened #230 "Update Layout doc with link to the new Yoga website"
Yoga has a new website, which includes a neat interactive playground: https://yogalayout.com/

We can link to the new site and let people know it's a good place to try things out if you have any layout-related questions.

[2018-03-05 11:38] benadamstyles opened #233 "Refactor PanResponder example to avoid componentWillMount()"
React Native v0.54 uses React v16.3, which [deprecates various lifecycle methods](https://github.com/reactjs/rfcs/blob/master/text/0006-static-lifecycle-methods.md) including `componentWillMount()`. In the [`PanResponder` docs](https://facebook.github.io/react-native/docs/panresponder.html), the recommended approach is to set up `PanResponder` methods in `componentWillMount()`. Could the docs now

[2018-03-06 15:59] kelset commented on #47
Just seen this right now, sorry @raunaqss !

AFAIK there are no big constraints, but by looking at the current page ideally every point of the list should have a GIF showing the improvement & a link to an Expo Snack that shows the code to improve the UX.

cc @brentvatne

[2018-03-06 17:45] frantic commented on #47
To be honest I think we set the bar for this document a little too high, I
myself stopped contributing because I simply didn’t have enough time to
craft gif+snack for every example.
On Tue, Mar 6, 2018 at 5:59 PM Lorenzo Sciandra <notifications@github.com>
wrote:

[2018-03-06 19:09] #220 closed

[2018-03-06 20:21] JacobAMason opened #236 "Handling Text Input"
The page at https://facebook.github.io/react-native/docs/handling-text-input.html is rendering the majority of the documentation twice beginning with the phrase "For example." The markdown document seems fine though, so I'm not sure what's going on.

[2018-03-06 20:48] charpeni commented on #236
Nice catch!

Looks like some recent changes introduced this weird behavior.

[2018-03-06 20:56] charpeni commented on #236
Thanks for the reporting, Hector just fixed this and it should be deployed in a few minutes.

[2018-03-06 20:56] #236 closed

[2018-03-07 19:36] yashovardhanagrawal commented on #194
It is working fine, I think this issue is no longer needed

[2018-03-07 19:42] yashovardhanagrawal commented on #143
I think this is the link
https://reactjs.org/docs/refs-and-the-dom.html#adding-a-ref-to-a-dom-element

[2018-03-07 19:44] #194 closed

[2018-03-14 00:25] #198 closed

[2018-03-14 00:56] #143 closed

[2018-03-14 14:20] iAmao commented on #230
@hramos can I have this?

[2018-03-14 19:41] hramos commented on #230
Go for it! Anything with this tag is up for grabs.

[2018-03-14 23:21] rhazegh opened #255 "[TextInput] autoGrow documentation is missing"
Clicking on `autoGrow` in documentation leads nowhere:

<img width="807" alt="screenshot 2018-03-14 14 48 04" src="https://user-images.githubusercontent.com/2200559/37424437-d396d306-2796-11e8-90b5-970ec71588c0.png">

http://facebook.github.io/react-native/docs/textinput.html#autogrow leads nowhere.

[2018-03-15 15:14] hramos opened #256 "Document how zIndex works"
`zIndex` support was added back in 2016 in https://github.com/facebook/react-native/commit/d64368b9e239b574039f4a6508bf2aeb0806121b yet we still get issues opened about it. It seems to stem from a misunderstanding of how `zIndex` works. See the thread at https://github.com/facebook/react-native/issues/698 where it's clarified that, even on the web, `zIndex` only applies to the ordering between sib

[2018-03-20 11:39] lianhuilui commented on #22
I also spent a lot of time researching on how to do this. I got stuck following the docs for "Generating Signed APK" particularly when running **`./gradlew assembleRelease`** because I had not "[ejected from CNRA](https://github.com/react-community/create-react-native-app/blob/master/react-native-scripts/template/README.md#ejecting-from-create-react-native-app)" and didn't know I had to do that fi

[2018-03-27 23:11] divyanshu-rawat commented on #230
@hramos  Can, I work on this?

[2018-03-28 08:21] pietro909 opened #273 "Undocumented AppState value "unknown""
In the docs [Basic Usage](https://facebook.github.io/react-native/docs/appstate.html#basic-usage) is said that:

I never experienced it, but I usually get a string with `unknown` as a value during initialization. This is undocumented [on the list](https://facebook.github.io/react-native/docs/appstate.html#app-states).

I have two questions:

1 - is the `null` warning still valid?
2 - what is `unkn

[2018-04-02 14:34] heisty opened #278 "ERROR START SERVER WEBSITE"
ERROR: No 'original_id' field found in .../version-0.10/modal.md.Perhaps you forgot.....

can't start server why?

[2018-04-03 04:39] Jerameel opened #280 "How to submit a component?"
Hi,  I have made a component for react native and I would like to submit it the official component list. Is this possible?

Repository: https://github.com/Jerameel/react-native-snackbar-js

[2018-04-03 10:09] heisty opened #281 "Error: No 'original_id' field found in D:/Official Project Files/react-native-website/website/versioned_docs/version-0.10/modal.md."
D:\Official Project Files\react-native-website\website>yarn start
yarn run v1.5.1
$ docusaurus-start
Starting Docusaurus server on port 3000...
No 'original_id' field found in D:/Official Project Files/react-native-website/website/versioned_docs/version-0.10/modal.md. Perhaps you forgot to add it when importing prior versions of your docs?
D:\Official Project Files\react-native-website\website\nod

[2018-04-05 16:02] arley9511 opened #284 "invalid response for blob"
# inbalid response for blob(only IOS)

![29695533_1806777219365165_5160976962235138048_n](https://user-images.githubusercontent.com/26047073/38375137-150680e0-38bb-11e8-84d4-cce4f4a3d1c7.png)

# Environment

- react-native -v: 0.54.3

- node -v: v8.9.4

- npm -v: 5.8.0

Then, specify:

- Target Platform: iOS

- IOS version: 11.2

- Build tools: react-native run-ios --simulator='iPhone 6'

# Steps

[2018-04-05 16:04] kelset commented on #284
You are opening this in the wrong repository.

[2018-04-05 16:04] charpeni commented on #284
This is the react-native-website. You should post this on [react-native repository](https://github.com/facebook/react-native) instead.

[2018-04-05 16:04] #284 closed

[2018-04-05 16:33] charpeni commented on #280
Sorry, only core components are documented here.

Community components could be shared/listed here:
- https://native.directory/
- https://github.com/jondot/awesome-react-native

I'll close this issue, but your contributions to the community are really appreciated.

[2018-04-05 16:33] #280 closed

[2018-04-06 05:48] ronaldroe commented on #281
Having the same issue. Please help.

[2018-04-07 21:27] arleytriana opened #287 "Document extended geolocation.stopObserving() method"
The documentation of the extended [geolocation.stopObserving()](https://facebook.github.io/react-native/docs/geolocation.html#stopobserving) method is missing.

[2018-04-09 19:10] chimere opened #291 "warning react-native > fbjs-scripts > gulp-util@3.0.8: gulp-util is deprecated"
I can't seem to init the AwesomeProject tutorial. i always get this notice.

<details>
react-native init AwesomeProject
This will walk you through creating a new React Native project in /xxxxx/xxxxx/Developer/AwesomeProject
Using yarn v1.5.1
Installing react-native...
yarn add v1.5.1
info No lockfile found.
[1/4] 🔍  Resolving packages...
warning react-native > fbjs-scripts > gulp-util@3.0.8: gulp-

[2018-04-09 21:24] charpeni commented on #291
You're currently in the react-native-website repository which is powering the documentation.

You're looking for [react-native repository](https://github.com/facebook/react-native).

I'll close this issue.

[2018-04-09 21:24] #291 closed

[2018-04-09 21:26] charpeni commented on #287
Thank you for the reporting, are you up to add the missing documentation?

[2018-04-10 18:42] divyanshu-rawat commented on #112
@charpeni it would be great if you can close this issue as PR for the same has already been merged.

[2018-04-10 18:44] #112 closed

[2018-04-11 16:19] ronaldroe commented on #281
Tried updating Docusaurus to `@latest`. No joy.

[2018-04-11 22:48] michaeleisel opened #294 "Tutorials use a mix of yarn and npm instead of just sticking with one"
In https://facebook.github.io/react-native/docs/getting-started.html it uses npm, but in https://facebook.github.io/react-native/docs/integration-with-existing-apps.html, it uses yarn. At least for me, a relative newcomer to JS, I find this confusing. Does yarn have a similar "yarn start" capability? Does mixing two package managers in a single project cause any issues? It would be great to have a

[2018-04-11 23:03] michaeleisel opened #295 "Fix issue with Podfile in tutorial"
In https://facebook.github.io/react-native/docs/integration-with-existing-apps.html, it says `glog` when it should say `GLog` in the Podfile. The former capitalization causes `pod install` to fail.

[2018-04-12 01:28] michaeleisel opened #296 "Site says to use index.js, when App.js was created for me"
When I generated my project, it created it with App.js, but in https://facebook.github.io/react-native/docs/integration-with-existing-apps.html, it talks about how index.js should be used. This confuses me, as now I don't what to name it, and if this impacts other parts of that tutorial.

[2018-04-13 12:50] Naoto-Ida opened #302 "Incorrect ActivityIndicator example"
Hi I noticed that the example shown in the simulator(?) on the [docs for ActivityIndicator](https://facebook.github.io/react-native/docs/activityindicator.html) shows an ActivityIndicator which is not true to the implementation.

How can I send you guys a PR for this?

[2018-04-14 11:44] stmoreau commented on #287
@charpeni I see no activity on this one. Can I work on it?

[2018-04-14 11:47] stmoreau commented on #294
Have also witnessed the same.

I would like to work on it if it's up for grabs.

I guess we should stick to `yarn` instead of `npm`, right?

[2018-04-14 12:59] arleytriana commented on #287
@charpeni Thanks, but @stmoreau want to work on the issue. Just wanted to mention that this method is not part of the [Geolocation web spec](https://developer.mozilla.org/en-US/docs/Web/API/Geolocation).

Link to the source code:
https://github.com/facebook/react-native/blame/7e58e2cbf6910a6b34e932e6494b2fb8ed6bf466/Libraries/Geolocation/Geolocation.js#L157-L172

[2018-04-14 16:38] stmoreau commented on #287
Thank you @arleytriana !

Much appreciate it! ❤️

[2018-04-16 14:59] jpujol880807 commented on #281
Same issue here
Arguments:
  C:\Program Files\nodejs\node.exe C:\Program Files (x86)\Yarn\bin\yarn.js start

PATH:
  C:\Users\julio\bin;C:\Program Files\Git\mingw64\bin;C:\Program Files\Git\usr\local\bin;C:\Program Files\Git\usr\bin;C:\Program Files\Git\usr\bin;C:\Program Files\Git\mingw64\bin;C:\Program Files\Git\usr\bin;C:\Users\julio\bin;C:\Python34;C:\Python34\Scripts;C:\ProgramData\Oracle\Jav

[2018-04-16 15:54] charpeni commented on #302
Thanks for the reporting.

You can contribute by reading the [Contributing section](https://github.com/facebook/react-native-website#contributing) and the docs for the `ActivityIndicator` can be edit here: https://github.com/facebook/react-native-website/blob/master/docs/activityindicator.md

[2018-04-16 16:51] charpeni commented on #287
Fixed in #307.

[2018-04-16 16:51] #287 closed

[2018-04-18 18:20] amyrlam opened #316 "Fix author images in blog"
While investigating https://github.com/facebook/react-native-website/pull/314, I noticed that the URL to some author's profile images was broken:

(1)

![image](https://user-images.githubusercontent.com/1372946/38950317-e782c2f2-42f9-11e8-8687-43326491dc53.png)
Image from http://facebook.github.io/react-native/blog/2017/08/30/react-native-monthly-3.html

It seems like the Twitter URL could be used

[2018-04-26 16:45] ronaldroe commented on #281
This issue is also a duplicate of:
#278

[2018-04-30 19:42] jacoboliveira opened #330 "how do i put the state in several checkboxes"
I have the following problem I have a list of checkboxes and would like to put a state in them

`

     import React, {Component} from 'react';

     import { Platform, StyleSheet, Text, View,ScrollView,CheckBox } from 'react-native';
     import Checkbox from 'react-native-custom-checkbox';

    export default class App extends Component {
    constructor(props){
        super(props);
        thi

[2018-05-01 06:50] 814k31 opened #331 "InputAccessoryView example code has errors on website"
Default example code on `https://facebook.github.io/react-native/docs/inputaccessoryview.html` has errors on the website.

Just reporting it... Haven't attempted to fix it. Have fun!

<img width="903" alt="screen shot 2018-05-01 at 2 48 29 pm" src="https://user-images.githubusercontent.com/9160551/39464271-e84eeb8e-4d4e-11e8-9565-57b3e754ae5c.png">

[2018-05-02 10:15] moar55 opened #333 "Shouldn't this be called Android/Apple TV?"
I am referring to this readme: `react-native-website/docs/building-for-apple-tv.md`

[2018-05-03 08:01] carpben opened #338 "Mobile display screen on the React-Native tutorial site doesn't display certain images"
Mobile display doesn't display certain images. Example:
https://facebook.github.io/react-native/docs/using-a-scrollview.html
`<Image source={require('/react-native/img/favicon.png')} /> `
![image](https://user-images.githubusercontent.com/13496178/39564777-3ac09b4a-4ebe-11e8-869d-38ea45fea80d.png)

[2018-05-04 13:02] charpeni commented on #278
Both of you are on Windows?

[2018-05-05 12:37] ronaldroe commented on #278
Here's the full error:

[code]

[2018-05-07 23:51] drochetti opened #345 "Lack of documentation for `.native.js` extensions"
Although supported, `.native.js` extension docs can't be found anywhere. There are GitHub issues on related projects talking about it, but nothing official that projects can refer to. Since this is a common feature used by projects that share code between React Native and ReactJS there should have official documentation for it.

[2018-05-09 00:30] saigowthamr opened #351 "Lang attribute is missing"
Lang attribute is missing in home route  https://facebook.github.io/react-native/ # #

[2018-05-10 23:51] amyrlam commented on #316
It turns out that using the URL https://twitter.com/grabbou/profile_image?size=original doesn't work with Docusaurus. That URL redirects you to a link like https://pbs.twimg.com/profile_images/988860423897313281/L9ErG_lr.jpg.

The pbs.twimg.com link changes when you upload a new profile picture, see [this Twitter documentation](https://developer.twitter.com/en/docs/accounts-and-users/user-profile-

[2018-05-12 18:40] MarkOSullivan94 opened #362 "How to Contribute Guide: Missing information on how to test local changes"
Spent a bit of time reading the [How to Contribute guide ](https://facebook.github.io/react-native/docs/contributing.html)and I couldn't find information on how to run local changes to the React Native project on my existing React Native projects.

Would love it if someone could do a detailed explanation within the guide along with how to run the tests on Circle CI / any other CI services which is

[2018-05-15 04:45] TechGuyVN opened #364 "Android can't load url https"
`I` have a problem with WebView. Something the  https url can't load on Android.
I using Samsung device SM-G532G - 6.0.1.
This is my code:
import {WebView} from 'react-native';
`
<View style={[ApplicationStyles.body, config.backgroundColorStyle]}>
                            <WebView
                                mixedContentMode={'always'}
                                scalesPageToFit={true}

[2018-05-16 19:37] charpeni commented on #233
Thank you for taking this @andrwsalcdo.

Where would you add this? If it's inside the PanResponder docs, I don't think it worth mentioning as after the refactoring, beginners won't notice the changes from the previous version.

[2018-05-16 19:37] charpeni commented on #364
Unfortunately, this is the repository of React Native documentation (Website).

Please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/react-native) for any questions.

[2018-05-16 19:37] #364 closed

[2018-05-16 19:39] charpeni commented on #362
Thanks for bringing this up.

Is this what you're looking for? https://facebook.github.io/react-native/docs/building-from-source.html

[2018-05-16 19:54] charpeni commented on #281
Duplicate of #278.

[2018-05-16 19:54] #281 closed

[2018-05-16 19:55] andrwsalcdo commented on #233
ah fair, but for those beginners that were learning from outdated resources? eh, it's probably a bit of a stretch, but I thought I ask.

[2018-05-16 20:13] MarkOSullivan94 commented on #362
Yep! That's perfect.

Would it be possible for that link to be included in the How to Contribute Guide @charpeni?

[2018-05-16 20:26] charpeni commented on #362
Sure, are you up to do the PR?

[2018-05-17 13:29] charpeni commented on #362
Thank you, your contributions are really appreciated.

[2018-05-17 13:29] #362 closed

[2018-05-18 01:02] amyrlam commented on #316
Commented on https://github.com/facebook/react-native-website/pull/356 but copying here.

It seems like a better long-term solution may be to just have `authorImageURL` link to Gravatar or a similar service for all the blog post author images.

[2018-05-18 14:40] #295 closed

[2018-05-21 21:18] amitassaraf opened #368 "Basic networking documentation is weak"
I've been sitting here trying for 5 hours to figure out how to do the most basic HTTP request possible that would be Gzipped both on iOS and Android. The documentation doesn't cover *at all* compression while this is such a HUGE part of networking on mobile devices. Without it, requests could take more than 3x as long making the user experience terrible.

Again after 5 hours I am still uncertain o

[2018-05-23 10:01] kelset opened #370 "React Native and tooling: a round up"
I feel like (from looking at the issues that get open constantly) there is an overall incomprehension/misunderstanding of how many moving parts are interconnected to make a React Native app project run.

In particular, there are two kinds of issues I see appearing every now and then:

- the **FOMO effect**: people see a new version of a tool, install it right away without any necessary reason (but

[2018-05-25 10:19] jneuendorf opened #375 "Running on device (android) documentation"
Hi,

I struggled getting my app running on an android device (from _macOS_). Steps 1 und 2 worked well but when I ran the app I got the following problems:

1. `SDK location not found. Define location with sdk.dir in the local.properties file or with an ANDROID_HOME environment variable.`
The `.gitignore` created by RN even contains `local.properties`.
2. The SDK package licenses have not been acc

[2018-05-25 13:37] GantMan commented on #370
Here's an interesting part to add. Some of those tools are optional.  Like XCode... though it's at the core, if you're doing Android dev on a Windows machine you should never see watchman or Xcode!

I found this problem difficult to solve, but do a pretty ok job for my [solidarity plugin for react native](https://github.com/infinitered/solidarity-react-native).

Things my plugin has noticed that I

[2018-05-25 13:43] kelset commented on #370
Thanks for the feedback Gant!

[2018-05-25 13:50] GantMan commented on #370
Let's definitely discuss.  If react-native rolled out with a `.solidarity` file it's a few bytes.  They could then optionally install solidarity and take advantage of it if they have problems.  It wouldn't increase the bundle size.  Or go full-awesome and bring it in as a dev dependency to work hand in hand with envinfo (which it already does).

[2018-05-25 17:14] brunops opened #377 "Website is down"
<img width="1123" alt="screen shot 2018-05-25 at 10 09 00 am" src="https://user-images.githubusercontent.com/1735844/40557223-4c734dfe-6004-11e8-850b-294ed2e5d335.png">

🤔

[2018-05-25 17:22] wlfcss commented on #377
maybe you should try again?

[2018-05-25 17:51] brunops commented on #377
it's back now

[2018-05-25 17:51] #377 closed

[2018-05-26 15:19] wzup opened #378 "Broken link"
Here https://github.com/facebook/react-native/tree/master/ReactAndroid#building-react-native-for-android

This link is broke https://facebook.github.io/react-native/docs/android-building-from-source.html

https://facebook.github.io/react-native/docs/android-building-from-source.html

[2018-05-29 12:26] Mohamed3on opened #383 "WebView methods missing from Docs"
Hi, I noticed some WebView methods such as `goBack` and `goForward` are missing from the RN docs, even though they are still working and were present in earlier docs:
https://facebook.github.io/react-native/docs/0.6/webview.html
Is this unintended, or is there a reason behind their removal?

[2018-05-29 15:53] hramos opened #385 "Add a redirect for android-setup.html"
Older versions of React Native would link to https://facebook.github.io/react-native/docs/android-setup.html whenever `react-native android` would fail. The URL has been fixed in recent versions, but it should not be a lot of effort to add a redirect to the website to ensure people find the help they need (they're looking for the Getting Started Guide).

[2018-05-30 01:12] charpeni commented on #378
Fixed in https://github.com/facebook/react-native/pull/19450.

[2018-05-30 01:12] #378 closed

[2018-05-30 06:59] Noitidart opened #387 "I want to add a "Removing unnecesary default permissions guide" under "Guides (Android)" menu section"
I want to add a guide on how to remove the default permissions Android comes with under the "Guides (Android)" section seen here in screenshot:

![](https://i.imgur.com/niOVvQQ.png)

Does anyone know how to do this?

My guide will be based on this article here - https://medium.com/building-with-react-native/how-to-remove-unnecessary-android-permissions-from-react-native-apps-1x05-c5c98b6c93a8

[2018-05-30 08:28] JnPhJnPh opened #389 "Failed to generate a signed key"
Hi, guys,

I was following the tutorial here to generate a signed APK: https://facebook.github.io/react-native/docs/signed-apk-android.html

But it failed even at step one: Generating a signing key.
"keytool -genkey -v -keystore my-release-key.keystore -alias my-key-alias -keyalg RSA -keysize 2048 -validity 10000
bash: $: command not found"

As I'm completely new to this, any help would be appreci

[2018-05-30 15:56] endiliey commented on #278
Hi @ronaldroe @heisty

I am a contributor of Docusaurus, I can see that this error is due to markdown header being parsed incorrectly as being empty, and some error is thrown later on because of that.

Can you try to re-clone the repo, bump your docusaurus version in `website/package.json` to the latest version
[code]
Then`yarn install` and see if you can start the server ? (`yarn start`)

I belie

[2018-05-30 16:30] #385 closed

[2018-05-30 16:43] endiliey commented on #389
Are you on windows:
On Windows `keytool` must be run from `C:\Program Files\Java\jdkx.x.x_x\bin`.

If you are not on Windows:
1. Ensure jre is installed & Search the path where your java was installed
find / -name jre
2. Move to that java directory (where jre was installed)
cd /path/to/jre/location
3. Follow that instruction
keytool -genkey -v -keystore my-release-key.keystore -alias my-key-alias

[2018-06-04 13:32] #389 closed

[2018-06-07 10:25] nilscox opened #400 "TextInput .focus() method is not documented"
Hi!

I want to programmatically focus a React Native `TextInput`, and as far as I understand from stackoverflow and github issues, there is a `.focus()` method that I can invoke on the `TextInput` ref. This does work as expected.

Sadly, I can't find any documentation about this method. So is it part of the `TextInput` public API? Is it safe to use?

Thanks.

[2018-06-15 18:40] #387 closed

[2018-06-15 22:29] jaredly commented on #77
srsly
![image](https://user-images.githubusercontent.com/112170/41491939-3ddad01c-70b9-11e8-948a-9a330bae445f.png)

[2018-06-15 23:39] iosdev-republicofapps opened #408 "Threading of native to RN events is not specified"
At https://facebook.github.io/react-native/docs/communication-ios.html#calling-react-native-functions-from-native-events it says that "Note that using events gives us no guarantees about execution time, as the event is handled on a separate thread."

What does this mean?  A separate thread than what?

If my RCT module has methodQueue main queue, will my events be handled on the main thread?

Also,

[2018-06-17 01:49] parammittal16 commented on #338
Hi @carpben I want to work on this issue.

[2018-06-19 00:54] hramos commented on #77
For anyone interested in fixing this - you can look up the docblocks in the react-native repo and get the missing text there. Shouldn't be much trouble to add these back, we just missed them during the migration to plain markdown docs.

[2018-06-19 20:49] lll000111 opened #414 "Free RN course from Harvard on edX: Add link somewhere?"
This is not an ad - I get an edX newsletter because I took (and still take) lots of free courses on that platform. Today a new course was announced, from Harvard:

https://www.edx.org/course/cs50s-mobile-app-development-with-react-native

13 weeks at 6-9 hours per week.

Maybe that should/could be added somewhere?

[2018-06-20 07:32] AmeerHamzaRiaz opened #415 "Missing documentation of background geolocation for Android"
In Geolocation [documentation](https://facebook.github.io/react-native/docs/geolocation.html), it is stated that geolocation can be made compatible to be run in background for IOS but does not states that for Android whether it works in background or not.

[2018-06-20 13:29] bcallaars commented on #149
I think the feeds are still not working, as they point to `https://facebook.github.io/blog/atom.xml`.

[2018-06-20 13:35] endiliey commented on #149
@bcalaars this will be fixed when this repository updated their docusaurus version 😊

[2018-06-24 05:10] ighotouch opened #421 "The link to NativeMethodsMixin.js returns a 404 screen"
<img width="918" alt="screen shot 2018-06-24 at 6 05 27 am" src="https://user-images.githubusercontent.com/3287439/41816136-c7510df4-7774-11e8-84cb-e8a83603a40f.png">

The link `NativeMethodsMixin` redirects user to a 404 page on github `https://github.com/facebook/react/blob/master/src/renderers/native/NativeMethodsMixin.js`

Here is the link to the page showing this bug: https://facebook.github.

[2018-06-24 06:46] ighotouch commented on #421
Hello i like to help out with this issue, is there any specific implementation you have in mind?

[2018-06-25 13:51] kelset commented on #414
I think that maybe it could be added to a newly dedicated section in this page https://facebook.github.io/react-native/docs/more-resources.html or maybe just add it to the [awesome-react-native](https://github.com/jondot/awesome-react-native) repo.

[2018-06-26 01:39] ulises-castro opened #425 "Problem when you want to upgrade gradle and it doesnt to download."
### I cant upgrading gradle / I cant download gradle

Hi, I just come to here because I don't want you spend time find out this bug like I did.

It seems a ubuntu 18.04 bug, cause It contains JDK by default and when you get JDK 8, therefore, it ruin somethin related with SSL protocol, They became in a headache (big headache).

[code]
Here is the solution.

https://stackoverflow.com/a/50688351/8616

[2018-06-26 13:59] charpeni commented on #421
Thank you for reporting this issue!

Sure, your help would be much appreciated.

I'd say we can remove the `.js` extension from the file name and instead link to https://github.com/facebook/react-native/blob/fb2ec1ea47c53c2e7b873acb1cb46192ac74274e/Libraries/Renderer/oss/ReactNativeRenderer-prod.js#L5793-L5813.

[2018-06-26 14:10] ighotouch commented on #421
Thanks @charpeni for the clarification. Will do so.

[2018-06-26 14:53] wh1t3cAt1k opened #426 "Missing documentation for Animated.ValueXY"
Encountered today, but https://github.com/facebook/react-native/issues/16967 was closed due to being stale.

https://facebook.github.io/react-native/docs/animated#valuexy does not describe the signature of the `ValueXY` constructor.

For example, it is not clear what is the difference between creating a `ValueXY` with an explicit set of coordinates vs. no coordinates at all.

[2018-06-26 19:19] charpeni commented on #149
Docusaurus has been updated, it should be fixed by now. Let's close this, thanks!

[2018-06-26 19:19] #149 closed

[2018-06-26 21:24] OtacilioN opened #427 "Is https://facebook.github.io/react-native/ Offline?"
I am trying to access the page https://facebook.github.io/react-native/ and also https://facebook.github.io/react-native/docs/getting-started.html and it is returning an error 404 File not found, it is just here?

[2018-06-26 21:28] OtacilioN commented on #427
I asked for some friends to open the link in different internet connections and everyone is getting a 404. We are all in Brazil, is that some problem with our DNS?

[2018-06-26 21:30] OtacilioN commented on #427
Now also asked for friends from different countries, everybody reported a 404.

[2018-06-26 22:00] hramos commented on #427
The latest commit was missing a necessary file. @sophiebits fixed this over in the React Native repo, and I'm pushing an updated commit to this repo now.

[2018-06-26 22:00] #427 closed

[2018-06-26 22:07] hramos opened #428 "Update test suite to catch 404s"
https://github.com/facebook/react-native-website/commit/34de6d5fc0bbdd5451d8d443ffcd057fd9ffe757 brought the React Native website down because it was missing a single untracked file (`versioned_docs/version-0.5/removing-default-permissions.md`). We only deploy to React Native's `gh-pages` branch when tests run successfully, and in this commit's case, the [tests were all green](https://circleci.com

[2018-06-27 13:04] rjperri opened #432 "Hello World not working on Learn the basics page"
Hello,

I just started looking at this react-native. On this page https://facebook.github.io/react-native/docs/tutorial
there's an error for the sample Hello World App. I guess the 'View' component needs to be imported.

Thank you.

[2018-06-27 16:03] charpeni commented on #432
Thank you for reporting this issue, it has been fixed by #430.

[2018-06-27 16:03] #432 closed

[2018-06-28 18:15] hramos commented on #428
Update: the underlying issue has been fixed in Docusaurus, https://github.com/facebook/Docusaurus/issues/805.

[2018-06-28 22:39] #428 closed

[2018-06-28 22:40] hramos commented on #428
@charpeni fixed this, thanks! We'll update Docusaurus once the new release is available.

[2018-07-01 22:13] LCarlos-Rodriguez opened #440 "adding shadow to a view on an android app"
this is just a question

are the shadow props supported on the android platform or only on the iOS platform,

[2018-07-03 15:21] charpeni commented on #440
Unfortunately, this is the repository of the React Native documentation.

Please refer to [Stack Overflow](https://stackoverflow.com/questions/tagged/react-native) for any questions.

[2018-07-03 15:21] #440 closed

[2018-07-03 15:25] charpeni commented on #414
I agree with kelset, you can submit it to [awesome-react-native](https://github.com/jondot/awesome-react-native) repo whose more resources section is referring to.

[2018-07-03 17:52] lll000111 commented on #414
"Awesome RN" is under "Popular libraries".

Okay guys, if nobody gives enough of a f...k to even consider the category, why should I as a complete outsider care. Yeah, issue closed, I agree.

[2018-07-03 18:20] charpeni commented on #414
I'm sorry you take this that way.

I mean your link to the course is interesting, but I don't think we should maintain a list of tutorials, videos, and books when awesome-react-native is already doing that job.

Let's reopen it then and discuss how we can reword the introduction of awesome-react-native in the more resource section. How'd you see that?

[2018-07-04 08:23] kelset commented on #414
@lll000111 I **highly** recommend you tone down your wording. Your behaviour is not acceptable.

[2018-07-04 08:59] lll000111 commented on #414
@kelset *You* don't decide what **I** find acceptable.

[2018-07-04 13:05] #414 closed

[2018-07-08 10:01] Jerameel opened #448 "Indicate that open jdk can also be used."
Open jdk should be an option and should be shown in the instructions on getting started.

I would like to create a PR for this one.

[2018-07-09 09:50] James2516 opened #452 "KeyboardAvoidingView lacking documentation"
https://facebook.github.io/react-native/docs/keyboardavoidingview.html
The difference between `height`, `position` and `padding` for the `behavior` prop should be documented.

[2018-07-10 17:20] iffy opened #453 "Getting started macOS+Android missing step to add device"
In the [Using a virtual device](https://facebook.github.io/react-native/docs/getting-started#using-a-virtual-device) section of the getting started docs, it says:

But if you've just installed Android Studio (like I have), there's no such icon.  This is all I've got:

<img width="778" alt="screen shot 2018-07-10 at 11 19 11 am" src="https://user-images.githubusercontent.com/161727/42526453-15a739f

[2018-07-11 16:23] TheAlmightyBob opened #455 "WebView docs falsely claim to support initialScale"
#64 was merged to document the change proposed in https://github.com/facebook/react-native/pull/17190 (now https://github.com/facebook/react-native/pull/17583), but that change has not been merged, so this is documenting a nonexistent feature.

[2018-07-15 15:18] patrickkempff commented on #453
@iffy You can click the "Configure" button (located bottom right in the dialog) and select 'AVD Manager'.

PR's are welcome to improve this :)

[2018-07-17 07:06] golderzhang opened #460 "Error when connect "https://cdn.rawgit.com" urls"
When I browse https://facebook.github.io/react-native/docs/tutorial,
related **_"cdn.rawgit.com"_** urls connect failed.
Example:

Mac OS: 10.13.3
Browser: Safari & Chrome

[2018-07-17 09:11] endiliey commented on #460
Works fine for me. Are you behind a proxy. That might've caused that

<img width="959" alt="screenshot" src="https://user-images.githubusercontent.com/17883920/42807847-795c3eb6-89e4-11e8-944f-b7f47be92d45.PNG">

[2018-07-20 00:57] #455 closed

[2018-07-23 07:52] divyanshu-rawat commented on #460
abcd

[2018-07-25 10:01] Stophface opened #470 "Android: Example on Native Moduls wrong"
Following [this](https://facebook.github.io/react-native/docs/native-modules-android.html) example I encountered various errors in your code which makes the example not usable.

[Number one](https://facebook.github.io/react-native/docs/native-modules-android.html#the-toast-module)

[code]

That won't work because the package (`package com.facebook.react.modules.toast;`) of each developer following

[2018-07-26 13:54] Stan64 opened #472 "Getting started referencing Android API 23"
0.56 now runs on Android API 26. Should not the documentation also help users install the right testing environment?

Below **Getting Started > macOS > Android** it shows you how to install the API 23 SDK to use with the Android Virtual Device.

[2018-07-26 23:23] #453 closed

[2018-07-26 23:33] charpeni commented on #470
Thank you for bringing this!

Are you up to submit a PR? Your help would be greatly appreciated.

[2018-07-27 07:19] Stophface commented on #470
@charpeni sure

[2018-07-27 07:39] Stophface commented on #470
@charpeni I made two pull requests. One for `native-modules` and one for `native-ui-components`.  The changes in the `native-ui-components` are rather big as the documentation was just simply wrong or very(!) hard to follow. I hope the changes are to your standards.

[2018-07-31 14:18] hramos opened #485 "Update WebView documentation with inline HTML workaround"
See https://github.com/facebook/react-native/issues/19986#issue-337246750, this workaround should be documented.

[2018-07-31 18:50] patrickkempff commented on #448
@Jerameel It would be awesome if you can create and PR for this one! 👍

[2018-08-02 10:26] kelset commented on #472
Can you submit a PR to update it? I'll merged it ASAP

[2018-08-02 13:05] charpeni commented on #485
Will be fixed by PR #458.

[2018-08-03 14:04] Stan64 commented on #472
@kelset I've never done this before so I hope I did this correct:
https://github.com/facebook/react-native-website/pull/492

[2018-08-03 14:18] kelset commented on #472
Hey thanks :)
I'll check it asap :)

[2018-08-08 20:46] #485 closed

[2018-08-09 09:52] philipp-spiess opened #505 "Latest (RC) build breaks links in articles"
I just stumbled over a dead link in one of the RN guides, specifically the link to the Animations guide in: https://facebook.github.io/react-native/docs/animated

After looking into the markdown source the link is correct. It seems like the build process generate version-specific links: `https://facebook.github.io/react-native/docs/0.57-RC/animations#animated-api` this seems like a good idea howev

[2018-08-09 12:40] Stan64 commented on #472
Closing this as it was merged and is now in the documentation.

[2018-08-09 12:40] #472 closed

[2018-08-09 13:01] charpeni commented on #505
Thanks for catching this!

@hramos @endiliey It looks like `defaultVersionShown ` is not used once we're on a doc 🤔 .

[2018-08-09 14:18] endiliey commented on #505
Hi @charpeni, can I clarify the wanted behavior ? If this is correct, I can start working on a fix.

## Bug

If the current `defaultVersionShown` is 0.56.

*Wanted Behavior*
https://facebook.github.io/react-native/docs/animations#animated-api is v0.56 docs
and https://facebook.github.io/react-native/docs/0.57-RC/animations#animated-api is v0.57-RC docs

*Current Behavior*
https://facebook.github.i

[2018-08-09 16:30] JoelMarcey commented on #505
@charpeni Interesting catch here. Thanks.

@endiliey I believe it was always the intention to have the latest version not have an explicit version in the link. If you choose a `defaultVersionShown` that is not the latest version, while it is shown by default, it still shows the version number in the link. So I think the current behavior is the one we always wanted. `next` is always shown for stuff

[2018-08-09 17:03] endiliey commented on #505
Changing the behavior to no 1 might potentially break someone's else website since it has been the current behavior for quite a while. Since it is intended, fix no 2 shouldn't be too hard. Just a matter on how we build the link.

I could send a fix (or anyone who wanted to send a PR to Docusaurus 😉) when everyone agrees on which options we are going ahead with.

[2018-08-09 17:57] bg-wilkesreid opened #507 "Layout props page has incorrect links"
The table of contents links (alignContent, alignItems, etc) all link to ...docs/0.56/layout-props#anchor rather than ...docs/layout-props#anchor like they should.

Just thought I'd bring awareness to that little glitch.

[2018-08-09 17:57] bg-wilkesreid commented on #507
Just realized this is the exact same as issue 505. Sorry.

[2018-08-09 17:57] #507 closed

[2018-08-09 18:45] charpeni commented on #505
Thanks all, I've removed `defaultVersionShown` for now, let's close this issue.

[2018-08-09 18:45] #505 closed

[2018-08-09 20:28] #448 closed

[2018-08-10 10:26] holographicleah opened #509 "Version Numbers in Getting Started Doc"
Hello, I've been working on my first project with React Native and have been [following the guidelines for Windows and developing for Android.](https://facebook.github.io/react-native/docs/getting-started).

I have noticed that the version numbers on the text and the images aren't matching up:
![screenshot 78](https://user-images.githubusercontent.com/20614250/43953014-960ff684-9c8f-11e8-8594-f9c1

[2018-08-11 02:14] stephenhuh opened #510 "<SectionList> requires renderItem"
Render function from create-react-native-app:
[code]
With this code we get an "Invariant Violation: no renderItem".
[Doc Links](https://facebook.github.io/react-native/docs/sectionlist)
The docs only list `sections` as required. I tried to find the appropriate code in the original react-native repo to point this in case this is a bug, but was unsuccessful.

[2018-08-13 15:07] SKempin opened #513 "Clarification of @2x and @3x image usage"
It is not explicitly clear that when using `@2x` and `@3x` the image must have dimensions specified on it's `style` attribute in order to ensure it displays at the same consistently size across devices on different screen densities.

For example, to display an image at 100 x 100 across base, `@2x` and `@3x` devices requires the image `style` attribute to be set at `width: 100, height: 100`.

The i

[2018-08-16 23:30] kidcosmic opened #515 "Documentation for File, Blob, XMLHttpRequest, FormData"
All we have is a blog post... a few gists scattered around.

What, where how and why can we do a `{uri, name, type}` in an API

Request docs for these apis:
[code]

The big question:
Are the files loaded fully into memory or are they streamed over the pipe?

[2018-08-17 15:18] DonGiulio opened #516 "Documentation inconsistency"
I found in the docs an inconsistency in the versions required for the installation of Android for Mac.

the text mentions `Look for and expand the Android 6.0 (Marshmallow)` and `Android SDK Platform 23` but the screenshot shows that Android 8.0 is used and different packages selected. and version 26 is checked.

similarly, below the text mentions: `then make sure that 23.0.1 is selected.` while t

[2018-08-23 15:00] dennishansen opened #525 "useNativeDriver does not explicitly define supported properties"
Does it work for colors? Would be nice to have a list of supported/non-supported properties.

[2018-08-25 15:14] charpeni commented on #470
Your two PRs have been merged, let's close this issue.

Let me know if you think it should remain open.

[2018-08-25 15:14] #470 closed

[2018-08-27 18:30] #77 closed

[2018-08-29 00:30] hramos commented on #516
We've been bumping the Android SDK deps in recent weeks. Docs have fallen out of sync, unfortunately. We'd appreciate a PR to bring them up to speed. You can look at the changelogs to understand the actual recommended versions.

[2018-09-05 08:42] osdiab commented on #452
I think the purpose of what exactly the `KeyboardAvoidingView` is supposed to do is generally very unclear.

The purpose of keyboard avoiding in general, not specifically this component, in my opinion is that it's supposed to prevent an element from being covered by the keyboard. For example, if you have a form element like a text input, you want to prevent the keyboard from obscuring that input (

[2018-09-05 08:46] osdiab opened #545 "KeyboardAvoidingView keyboardVerticalOffset prop purpose, description unclear"
More specificity for #452.

[The docs for the `keyboardVerticalOffset` prop for `KeyboardAvoidingView`](https://facebook.github.io/react-native/docs/keyboardavoidingview#keyboardverticaloffset) explains vaguely what you're supposed to provide, but doesn't make that clear nor explain what exactly it's useful for.

Perhaps I have a fundamental misunderstanding of `KeyboardAvoidingView`, which I've m

[2018-09-05 16:14] thepeted opened #547 "Search functionality not working"
MacOS High Sierra, 10.13.6
Chrome: Version 68.0.3440.106 (Official Build) (64-bit)

Type a search phrase in to the search bar (top right of screen) and hit enter:  Nothing happens.
I had a look in the console for any errors, could not see anything.

[2018-09-06 08:44] TVke commented on #547
I get a 404 error for asset: [https://cdn.jsdelivr.net/docsearch.js/1/dist/cdn/docsearch.min.js.map](https://cdn.jsdelivr.net/docsearch.js/1/dist/cdn/docsearch.min.js.map)

[2018-09-12 17:11] elios264 opened #551 "0.57 Getting Started docs"
React native 0.57 updated it's android dependencies so `Android SDK Platform 23` is no longer valid,

So do these docs need to be updated?

`Next, select the "SDK Tools" tab and check the box next to "Show Package Details" here as well. Look for and expand the "Android SDK Build-Tools" entry, then make sure that 23.0.1 is selected.`

[2018-09-13 18:57] audiolion commented on #547
+1 search is broken on 0.57 version of the site

[2018-09-15 14:29] #351 closed

[2018-09-15 22:13] feargswalsh92 commented on #547
![image](https://user-images.githubusercontent.com/19194339/45590959-ce299800-b8f9-11e8-8e77-896a1d6362cb.png)
Definitely still working in 0.56 version on the site so it's gotta be something that was introduced inbetween.

[2018-09-17 17:23] Ashoat opened #564 "React Native Components Known issues"
After some discussion [here](https://github.com/react-native-community/discussions-and-proposals/issues/9), we've decided to start adding "known issues" sections to the docs pages for components.

This is the "known issue" definition we agreed on:

## Purpose of this issue

1. To reference the Markdown template we'll use for listing these issues, as well as an example PR that adds a "known issues"

[2018-09-18 23:01] feargswalsh92 commented on #547
Seemingly fixed by magic or #560 can be closed.

[2018-09-19 16:31] audiolion commented on #547
working again 👍

[2018-09-19 16:37] #547 closed

[2018-09-21 07:27] carstenhag opened #571 "Broken links @ Getting Started"
https://github.com/facebook/react-native-website/blob/master/docs/getting-started.md

Broken links @ 

Create React Native App also has a **user guide** you can reference if you have questions specific to the tool.

If you can't get this to work, see the **Troubleshooting** section in the README for Create React Native App.

 If you know that you'll eventually need to include your own native code,

[2018-09-24 11:21] filmhomage opened #576 "Broken links 'CRNA user guide' @ upgrading to new React Native versions"
Broken links @ upgrading to new React Native versions

<img width="938" alt="crna_broken_link" src="https://user-images.githubusercontent.com/4126751/45949569-9a86f600-bffc-11e8-90e1-1405dbef47b4.png">

### Line
https://github.com/facebook/react-native-website/edit/master/docs/upgrading.md#L12

### Broken link
[CRNA user guide](https://github.com/react-community/create-react-native-app/blob/master

[2018-09-26 07:17] levynir opened #579 "0.56 breaking change not documented"
In 0.55 the following code worked:
[code]
In 0.57 the same code produces an runtime error
[code]

This is an issue documented at this comment on the react-native project.
https://github.com/facebook/react-native/issues/2519#issuecomment-405094187

This is a breaking change that is not documented in the CHANGELOG.txt for neither the 0.56 or 0.57

This change seems to be introduced in 0.56

[2018-09-28 14:45] stan69b opened #583 "react-native-custom-webview: Accessible WKWebView inside RCTWKWebView Class"
Hello,
We are using React native to build an app which depend on a Framework we built for our client.
The Framework itself cannot be changed anymore and we found that some of our implementations are pretty specific.

The probleme is the following:
We need (using this tutorial : https://github.com/facebook/react-native-website/blob/master/docs/custom-webview-ios.md ) to create a custom Webview (but

[2018-09-28 14:49] #583 closed

[2018-09-28 14:49] stan69b commented on #583
Wrong Git, has been transferred to react native git and not react native website

[2018-09-28 14:59] charpeni commented on #583
No worries, you may want to check this repo instead: https://github.com/react-native-community/react-native-webview

[2018-10-03 18:18] dooboolab commented on #255
@rhazegh This is removed according to PR #188

[2018-10-04 07:42] nicostuhlfauth opened #592 "Alternative to CRNA - Update Documentation"
The [Quick Start](https://facebook.github.io/react-native/docs/getting-started.html) recommends using `create-react-native-app`, though it has been merged with expo CLI. I really want to build my first RN app, but without using expo. So, how do we get started now? Any tips? Please update the documentation 😄

[2018-10-04 08:46] stam commented on #592
create-react-native-app now is deprecated in favor of expo-cli. But expo-cli by default builds your app on their servers, which is a no-go for most companies.

I normally use `react-native init` to start, but wonder why this isn't reflected in the react-native docs.

[2018-10-04 19:34] brentvatne commented on #592
It doesn't default to this, you can do this if you need an account but if you'd like to build it on your own you can do [this stuff](https://github.com/expo/expo#standalone-apps) or detach/eject.

I don't think it's a no-go for most companies to do this either, many companies use CI services like CircleCI to run builds, it's no different in this case.

[2018-10-09 14:52] proworkdev opened #607 "Platform.isTVOS is not working shows undefined."
[Configuration](https://facebook.github.io/react-native/docs/building-for-apple-tv)
made changes but still getting undefined.

[2018-10-10 03:47] #278 closed

[2018-10-13 13:23] jigarakatidus opened #617 "Broken Anchor Tag - Getting Started Docs"
`<a href="getting-started.html" onclick="displayTab('guide', 'quickstart')">Expo/a>`

Notice the incorrect closing anchor tag. Complete paragraph is hyperlinked due to this.

[2018-10-14 10:52] MarkOSullivan94 opened #624 "Building React Native from source: Step 4 no longer working?"
Having issues getting it working using the current instructions and have opened an issue on the GitHub project for React Native: https://github.com/facebook/react-native/issues/21776

Curious if these instructions need to be updated?

[2018-10-14 19:02] niftylettuce opened #626 "Prop Type for <Text> and <View> not documented?"
I was using the `prop-types` package to declare a `static propTypes` in my component.  However I'm uncertain what to use for `<Text>`.  I see that for `<View>` we now should use [ViewPropTypes](https://github.com/facebook/react-native/issues/13999).  Should we use [TextStylePropTypes](https://github.com/facebook/react-native/blob/master/Libraries/Text/TextStylePropTypes.js)?

I suggest that we do

[2018-10-17 17:48] charpeni commented on #617
Fixed in b159246.

[2018-10-17 17:48] #617 closed

[2018-10-21 16:30] jamesgeorge007 commented on #400
@nilscox It is mentioned there in the [Official docs](https://facebook.github.io/react-native/docs/textinput)

[2018-10-22 14:07] LamineSadounBB opened #635 "react-native/docs/images network Images link violate ATS req. on IOS"
[This link](https://facebook.github.io/react/logo-og.png) in the network images section of the docs makes an http request which causes the image not to load on IOS.

![screen shot](https://user-images.githubusercontent.com/44065109/47297046-08b1df00-d5e2-11e8-88db-ac3c2abb3b8a.png)

## Change to links to:

https://reactjs.org/logo-og.png

[2018-10-23 13:38] charpeni commented on #635
Thanks for the reporting, are you up to submit a PR?

[2018-10-23 14:21] LamineSadounBB commented on #635
Will submit PR tonight.

[2018-10-29 04:25] ethanneff opened #645 "Are Stylesheet.create({}) docs outdated?"
Following this comment here https://github.com/DefinitelyTyped/DefinitelyTyped/issues/29265#issuecomment-430783289.

It seems that `Stylesheet.create({})` no longer offers performance gains. Is this true? Should the docs (https://facebook.github.io/react-native/docs/stylesheet) be updated to reflect this change?

[2018-10-31 08:46] n1ru4l opened #651 "Blog Link in Header redirects to http"
When clicking the "Blog" Link in the header on https://facebook.github.io/react-native/ I get a 301 redirect from https://facebook.github.io/react-native/blog/ to http://facebook.github.io/react-native/blog/

[2018-10-31 09:13] Vaxela opened #652 "problem Permissions VIBRATE"
Hello everyone i have a problem with permissionsAndroid i need the permissions for VIBRATE but this permissions was not in the LIST of permissionsandroid, what can i do ? To grante this permissions for my application

[2018-10-31 09:36] kelset opened #653 "Add docs for how to easily test & use react native forks"
More clear guidelines on how to do this will allow the community to make patch or share feature easily.

Related issue:
#21776
#21967

---

Original issue: https://github.com/facebook/react-native/issues/22030 by @gengjiawen.

[2018-11-01 23:02] hramos opened #660 "Animations in "Improving UX" do not auto-play"
The [Improving User Experience](http://facebook.github.io/react-native/docs/improvingux) doc has a few mp4s that are unfortunately not playing automatically on page load.

They are embedded as such:

[code]

Loading the file directly at http://facebook.github.io/react-native/img/textinput.mp4 shows the movie plays back normally.

Modern browsers prevent videos with sound from automatically playing

[2018-11-02 17:37] hramos commented on #645
#629 has been merged.

[2018-11-02 17:37] #645 closed

[2018-11-02 19:29] hramos commented on #652
I don't think this issue belongs here. You can try using other community channels: http://facebook.github.io/react-native/help

[2018-11-02 19:29] #652 closed

[2018-11-03 11:19] NPadrutt opened #662 "React Navigation Tutorial"
Hi

I'm a complet beginner with React Native / WebApps and playing around with the tutorials to test out some basic concepts. One of the first tutorials I did was the one about navigation: https://facebook.github.io/react-native/docs/navigation#react-navigation.

After having added all the code, I had several errors on launch in the end due to several missing imports and export declarations. For e

[2018-11-05 01:02] dlferro opened #664 "Android NativeEventEmitter Documentation"
Android Native module documentation needs to be updated to leverage NativeEventEmitter.

[2018-11-08 09:36] teameh opened #671 "Documentation requiresMainQueueSetup missing"
As asked [before](https://github.com/facebook/react-native/pull/16916#issuecomment-347106733). There are no docs on `requiresMainQueueSetup`.

[The docs only state](https://facebook.github.io/react-native/docs/native-modules-ios#threading):

But this seems to be not enough since I'm getting:

[code]

I could write some docs if someone can explain why `- (dispatch_queue_t)methodQueue` is not enough

[2018-11-09 02:05] bartolkaruza commented on #653
Relevant issue from rn repo: https://github.com/facebook/react-native/issues/22118

[2018-11-09 02:14] bartolkaruza commented on #653
In addition to documentation, would it help if this was a script that handles setting up a fork? This script could make sure you are not on the facebook/react-native repo, check the common error of wrong Android NDK version, remove the relevant line from .gitignore and run the `./gradlew :installArchives` step.

[2018-11-09 08:50] kelset commented on #653
Sounds like a good second step, but I think that we should start with the docs first 😄

Btw what's this step about?

I don't think I've ever run it 😅

[2018-11-09 10:30] bartolkaruza commented on #653
It's the [gradle task](https://github.com/facebook/react-native/blob/master/ReactAndroid/release.gradle) that builds the Android .aar/.jar binaries. They are not committed in the source repo, only built on publishing to NPM. As far as I know, it's the only part of the RN that makes this forking business a bit complicated, because all other dependencies are just there in the main repo as source fil

[2018-11-09 10:35] kelset commented on #653
Understood - @grabbou once the PR is up would you mind doublechecking it? I feel you have way more experience than me in this 😅

[2018-11-09 13:40] grabbou commented on #653
Sure, would love to take a look. In fact, at Callstack, we are constantly setting up various React Native forks for internal purposes and this process is usually taking more than we would like it to take. Happy to look into any improvements.

[2018-11-10 09:32] bartolkaruza commented on #653
I can write the first draft tomorrow if no-one else has anything written up yet? I want to take the time to run through the process end-to-end on a current version. It has been a few RN releases since I've had to set up a fork.

[2018-11-11 03:05] gengjiawen commented on #653
Also for non android dev and ci users, we can use docker to demonstrate how to do the android release.
see https://github.com/react-native-community/discussions-and-proposals/pull/36.

[2018-11-11 04:35] bartolkaruza commented on #653
I've noticed gradle 4.4 hanging on the `installArchives` task, in the configuration phase. This symptom can be resolved by using the `--no-daemon` flag, but I think there is something wrong in the gradle plugins that is causing this in the first place.

[2018-11-11 04:39] gengjiawen commented on #653
Building aar using docker
[code]

[2018-11-11 04:53] gengjiawen commented on #653
@bartolkaruza Maybe network issue, I have not run into this issue using docker.

[2018-11-11 05:01] bartolkaruza commented on #653
It could be an OS difference as well, isn't docker running a Linux base image? I was building on OSX.

[2018-11-11 20:32] wolfe719 opened #676 "Missing Getting Started Instruction for iOS"
When doing an initial install for MacOS and iOS, the step "cd AwesomeProject; react-native run-ios" will fail without running "npm install" in the AwesomeProject directory.

I have no idea why (newbie to React Native), but it was very hard to figure out.

Could the instructions be:

  cd AwesomeProject
  npm install
  react-native run-ios

[2018-11-12 16:39] kelset commented on #653
BTW, check also this section https://facebook.github.io/react-native/docs/building-from-source as I feel there may be some overlap.

[2018-11-16 11:15] renishdeveloper opened #680 "I want the click event of the Section list header"
How to make the section list header clickable in the Section list https://facebook.github.io/react-native/docs/sectionlist#rendersectionheader

[2018-11-19 23:15] hrastnik opened #684 "React Navigation documentation is outdated"
React Navigation has recently released version 3.0.0 of the library. The library has changed the API while the API used on the React Native docs is not working.

https://github.com/facebook/react-native-website/blob/master/docs/navigation.md

[2018-11-26 04:33] bartolkaruza commented on #653
@gengjiawen I've moved it to a separate page and added you as contributor to my fork of the website, feel free to add your addition/modification. I've split the page into two sections; building/publishing. Building suggests `building from source` or using your docker image, recommending the latter.

[2018-11-27 22:33] BrodaNoel commented on #440
@LCarlos-Rodriguez use `elevation` to set shadows in Android

[2018-11-27 22:34] BrodaNoel opened #687 "Elevation doesn't work on Android when the View has no backgroundColor defined"
Hi everyone!

After a lot of hours dealing with [elevation](https://facebook.github.io/react-native/docs/view-style-props#elevation) bugs, I realized that Android doesn't draw the shadow if the `View` has no `backgroundColor` defined.

Here you can see the example:
* Open https://snack.expo.io/HkB64rs07
* In bottom bar, enable Preview and select Android device
* In the device you'll see a white bo

[2018-11-28 09:57] slorber commented on #645
does anyone know why the StyleSheet behavior was modified?

[2018-12-01 07:51] gengjiawen commented on #653
@bartolkaruza Just create the pr, I will review it.

[2018-12-01 23:43] KeevanDance commented on #684
I'll go ahead and try and submit a pull request for this one!

[2018-12-02 01:08] KeevanDance commented on #662
Correct, the full code for those examples would be something like this (assuming i don't make a typo)

`// App.js`

[code]

`// HomeScreen.js`

[code]

and the structure would be similar for ProfileScreen as well...

Hope this is what you were talking about?

First thing, the react-navigation docs are out of date as November 17, 2018 because of the 3.0 release (I submitted a PR to update the docs)

[2018-12-03 08:14] NPadrutt commented on #662
Thanks keevan for the detailed answer. This was exactly what I was talking about.

[2018-12-03 08:14] #662 closed

[2018-12-04 11:55] bartolkaruza commented on #653
#675

[2018-12-06 15:22] amjad-haffar opened #698 "mergeDebugResources FAILED"
hi ,
when i type react-native run-android
i get this

[2018-12-12 17:26] techieyann opened #706 "Native Modules Setup page vague and/or wrong"
There's an [open issue](https://github.com/frostney/react-native-create-library/issues/65) for react-native-create-library regarding the Haste map. Basically, it boils down to metro not following sym-links when building the haste module map (which is the [very first issue](https://github.com/facebook/metro/issues/1) of the metro bundler).

As I commented in the react-native-create-library issue, I

[2018-12-17 12:12] kelset commented on #564
Found a potential known issue -> https://github.com/facebook/react-native/issues/16263 (seems to be caused by Google, look at the last comment)

[2018-12-19 19:48] aleclarson opened #717 "AppRegistry page is a skeleton"
[docs/appregistry.md](https://github.com/facebook/react-native-website/blob/master/docs/appregistry.md) is very lacking. 😢

Is there information elsewhere about the various methods of `AppRegistry`?

Code examples of common use cases would be extremely helpful.

[2018-12-26 23:05] matheusmonte opened #723 "llocal.properties file in windows configuration"
Hi,

I used work with react-native on MacOS, but recently, I starting help a team that use windows and We found a lot of problems to run on Windows. One of this is the necessary to have a local.properties file in project root.

Is this really necessary? If yes, Can we add to [Getting Started](https://facebook.github.io/react-native/docs/getting-started.html) page ?

[2019-01-01 04:55] jginsburgn opened #725 "Missing documentation for UIManager"
I was trying to find out how to use a [`PopupMenu`][1] with RN. While browsing the documentation, I found no mention of how this would be possible without an external plugin. I jumped to searching in Google and found a small snippet, in a comment of [#3004][2] of react-native's git, referring to `UIManager` and its `showPopupMenu` API. I believe this is a powerful native feature of which documenta

[2019-01-04 14:56] Joao-Leite commented on #706
Hi,

Were you able to make your module from an external library folder work somehow?
I'm trying to follow the tutorial on react's documentation page (and some others) , but im not managing to make it work. I tried to copy the module to the node-modules directory but I still get errors like "Unable to resolve module.." and others.

How did you manage to do it?

Thanks,
João Leite

[2019-01-04 16:36] lizraeli opened #731 "Missing documentation for FormData"
React Native uses a polyfill for FormData, which is part of the react-native repo: [react-native/Libraries/Network/FormData.js](https://github.com/facebook/react-native/blob/master/Libraries/Network/FormData.js).

It would be very helpful if this is documented somewhere on the react-native website, since it appears that react-native is using the web version of FormData, [which has a different API]

[2019-01-04 16:39] zackzachariah commented on #731
+1 to this, since documentation would also allow for proper typing in Typescript (which currently attempts to force you to use the ES-standard FormData that doesn't actually work on React Native).

[2019-01-06 01:35] techieyann commented on #706
I didn't make it work directly, but I was able to develop a package.

I directly made changes in the `./node_modules/my_new_package` directory and copied to the external library folder to use git.
Once it's functional you can install it directly from the GitHub repo or publish to npm as you wish.

[2019-01-07 09:38] Joao-Leite commented on #706
Thank you for you reply.
I finally managed to make it work by sending the module to a GitHub Repo, but I didn't understand why copying the folder directly to the node_modules didn't work before downloading the dependency from git, as the end result is the same.
Thanks again

[2019-01-07 17:59] techieyann commented on #706
It sounds like you were trying to just add a directory into `./node_modules` but you need to have an equivalent line in your `./package.json` for npm to make it available.

[2019-01-10 17:41] th317erd opened #736 "TextInput scrollEnabled prop is marked as iOS only, but it also effects Android"
In the documentation for TextInput, the `scrollEnabled` property is marked as `iOS` only, yet the property also disables/enables scrolling on Android. I was having this issue: https://github.com/facebook/react-native/issues/12799 and thought I would try `scrollEnabled={false}`, even though I was on Android. Surprisingly it actually worked, prompting me to write this issue that the property isn't i

[2019-01-10 18:06] chipzz opened #737 "Documentation using deprecated service rawgit"
Seeing this with an old version of firefox, newer versions or Safari don't show the issue. The iframes show text like this:
https://rawgit.com/#19410754303789723334
"RawGit is now in a sunset phase and will soon shut down. It's been a fun five years, but all things must end."

[2019-01-14 20:19] carstenhag commented on #571
can be closed i guess

[2019-01-14 20:19] #571 closed

[2019-01-17 11:49] wairoku opened #743 "Hello world is not Beautiful."
Hi,team!
React-native is so cool!
Thank you!

When you display Hello world, if you write it as it is, Hello world is displayed at the top of the screen.
When it is displayed as it is, characters are covered on the display of the clock!
![image](https://user-images.githubusercontent.com/43041701/51314979-7b711000-1a94-11e9-8459-f7ef96625b1a.png)

If you write the code below it will be displayed in

[2019-01-18 02:01] charpeni commented on #743
Thanks for reporting!

Would you be up to submit a PR?

[2019-01-22 19:24] dctalbot opened #746 "Missing documentation for SwipeableListView and SwipeableRow"
RN Core introduced a SwipeableListView component in [v0.27.0](https://github.com/facebook/react-native/releases/tag/v0.27.0)

The missing docs [was noted](https://github.com/facebook/react-native/issues/8005) in the react-native repo in 2016 and subsequently moved to [a canny ticket ](https://react-native.canny.io/feature-requests/p/missing-docs-for-swipeablelistview).

It's 2019 and there is stil

[2019-01-22 19:29] SteveGF opened #747 "AccessibilityState - What does it mean to say a button that has focus is selected?"
From the docs:
"AccessibilityState tells a person … the state of the element currently focused on. …
selected - Used when the element is in a selected state. For example, a button is selected."

I'm wondering what it means to say a button with focus is "selected".  I can understand how this could apply to a checkbox being checked (i.e. selected) or a radio button being selected.  Is that what this

[2019-01-24 05:16] deadcoder0904 opened #750 "Redirect HTTP to HTTPS"
When I click on **Blog** it loads HTTP URL like http://facebook.github.io/react-native/blog so maybe redirect to HTTPS :)

[2019-01-26 17:46] corollari commented on #660
It seems this issue was solved by #696, should this be closed?

[2019-01-28 00:35] neirongkuifa opened #762 "Documentation wrong on Navigating Between Screens page"
There is no createAppNavigator method in react-navigation. I guess it should be createAppContainer.

[2019-01-29 09:32] ghost opened #768 "ScrollView method getScrollResponder is not listed in the document"
The getScrollResponder method  of ScrollView is not listed in the document. I dont realize this method is exist and I waste hours to try to handle scrollview scroll animation problem by myself in a weird way. This method would save me a lot time if I know this method in advance. I hope the team would include the method in the document. Thanks.

![image](https://user-images.githubusercontent.com/23

[2019-01-29 12:58] #72 closed

[2019-02-01 13:41] jimmywarting commented on #731
just throwing it out there, but here is a more complete polyfill that is closer to the spec
https://www.npmjs.com/package/formdata-polyfill

Don't know if it works with react-native doe

[2019-02-01 18:32] hramos opened #773 "Remove NavigatorIOS from the docs"
This component was removed in https://github.com/facebook/react-native/commit/0df92afc1caf96100013935d50bdde359b688658. References to it need to be removed from navigation.md, and the navigatorios.md doc will need to be updated.

I believe that simply removing navigatorios.md from versioned_docs/0.58 and docs/ may not work, as Docusaurus might have trouble handling the removal. We may need to add

[2019-02-04 16:54] gedeagas commented on #773
PR Submitted https://github.com/facebook/react-native-website/pull/776.
what do you think about the wording @hramos?

[2019-02-05 18:32] hramos opened #779 "Remove TabBarIOS from the docs"
This component was removed from core in https://github.com/facebook/react-native/commit/02697291ff41ddfac5b85d886e9cafa0261c8b98 and should be removed from the docs.

I believe that simply removing tabbarios.md may not work, as Docusaurus might have trouble handling the removal. We may need to add a notice instead, explaining the component has been removed from core.

[2019-02-05 18:52] #773 closed

[2019-02-05 19:01] #779 closed

[2019-02-08 00:54] charpeni commented on #684
Thanks for doing this @KeevanDance!

I'll close this issue.

[2019-02-08 00:54] #684 closed

[2019-02-09 16:09] alexabruck opened #784 "Installing react-navigation not enough if not using expo"
The documentation suggests that you just need to install `react-navigation`, import it and you're ready to go. But this is only true if you're using expo!

If you're not using expo, and you're targeting ios, you also need to install `react-native-gesture-handler` and link all native dependencies with the command`react-native link react-native-gesture-handler`. If you're targeting Android even more

[2019-02-11 12:03] renankof commented on #671
+1

[2019-02-11 12:04] stormriderc commented on #671
+1

[2019-02-11 12:08] lhcgoncalves commented on #671
+1

[2019-02-11 12:36] ptellesfilho commented on #671
+1

[2019-02-11 22:33] charpeni opened #785 "GIF and WebP support on Android is outdated"
[GIF and WebP support on Android](https://facebook.github.io/react-native/docs/image#gif-and-webp-support-on-android) seems outdated according to this comment: https://github.com/facebook/react-native/issues/21216#issuecomment-460297264

[2019-02-11 22:35] charpeni commented on #762
Fixed by #770.

[2019-02-11 22:35] #762 closed

[2019-02-11 22:39] charpeni commented on #680
Not sure what you mean?

[2019-02-11 23:05] charpeni commented on #671
Thanks for reporting.

Please use GitHub's reactions.

[2019-02-11 23:15] charpeni commented on #576
Resolved.

[2019-02-11 23:15] #576 closed

[2019-02-11 23:15] charpeni commented on #551
Resolved.

[2019-02-11 23:15] #551 closed

[2019-02-12 19:27] hramos opened #787 "Document how React is upgraded in React Native"
Upgrading React in React Native is a multi-step process that requires re-building the renderer, [among other things](https://github.com/facebook/react-native/issues/21967#issuecomment-434113687). This is not clear to folks using React Native (see https://github.com/react-native-community/discussions-and-proposals/issues/88). Let's document somewhere that upgrading React yourself is not encouraged.

[2019-02-12 23:34] hramos opened #789 "Testing: Document how to generate new snapshots"
We should document how snapshots can be regenerated, probably as part of the contributors guide as this will mainly concern people sending PRs to RN. See https://github.com/facebook/react-native/pull/23409#issuecomment-462985904 for details.

[2019-02-12 23:46] #660 closed

[2019-02-14 08:21] jatinkumarg commented on #785
I think changing the **animated-gif** from ` 'com.facebook.fresco:animated-gif:1.10.0' ` to ` 'com.facebook.fresco:animated-gif:1.12.0' ` should work.
If correct, can I update the document?

[2019-02-14 20:25] god830novo commented on #7
Same error

[2019-02-18 02:14] numyio opened #797 "DatePickerIOS option MinuteInterval are strings and not integers"
[https://facebook.github.io/react-native/docs/datepickerios#minuteinterval](https://facebook.github.io/react-native/docs/datepickerios#minuteinterval
)

Per the documentation, minuteInterval options are integers but minuteInterval expects a string element

Thank you!

Example:

` <DatePickerIOS
          style={styles.dateScroll}
          date={this.state.chosenDate}
          mode='time'

[2019-02-18 17:41] adyouri opened #798 "Broken link in docs/javascript-environment"
*enabled transformations* points to `https://github.com/facebook/react-native/blob/master/babel-preset/configs/main.js#L16`.

[2019-02-19 18:25] hramos opened #799 "Document how to upgrade React Native without react-native-git-upgrade"
react-native-git-upgrade was removed from React Native. Let's update the Upgrading doc and remove references to git upgrade.

[2019-02-21 09:37] sophister opened #800 "can Text support multiple fontFamily"
Hi, it seems web can not set **multiple** font families to `Text` style `fontFamily`, just like this

[code]

I can't find some related doc from react native website

[2019-02-21 16:13] rickhanlonii commented on #800
Hey @sophister, you're right this isn't supported

I think the best place to add it would be [here](https://facebook.github.io/react-native/docs/text#limited-style-inheritance) because we already talk about how fontFamily is handled (as well as below on the page where the prop is defined)

Are you interested in submitting a PR?

[2019-02-22 06:43] sophister commented on #800
@rickhanlonii  I've submitted this PR [https://github.com/facebook/react-native-website/pull/802](https://github.com/facebook/react-native-website/pull/802), plz take a look

[2019-02-25 02:25] cpojer commented on #800
Thanks!

[2019-02-25 02:25] #800 closed

[2019-02-26 23:23] charpeni commented on #797
It looks like `minuteInterval` is an integer following these flow types:

- [RCTDatePickerManager.m](https://github.com/facebook/react-native/blob/1151c096dab17e5d9a6ac05b61aacecd4305f3db/React/Views/RCTDatePickerManager.m#L39)
- [RCTDatePickerNativeComponent.js](https://github.com/facebook/react-native/blob/5f3afb9fe55ffdc726c64874d7c898cbed43d5ce/Libraries/Components/DatePicker/RCTDatePickerNati

[2019-02-26 23:34] charpeni commented on #798
Thanks for reporting, I'll submit a PR.

[2019-02-26 23:37] charpeni commented on #510
Fixed by #665.

[2019-02-26 23:37] #510 closed

[2019-02-26 23:39] charpeni commented on #513
Thanks for reporting, would you be up to send a PR?

[2019-02-26 23:40] charpeni commented on #460
Looks like rawgit is deprecated: #737.

[2019-02-26 23:44] charpeni commented on #737
Filed an issue: https://github.com/dabbott/react-native-web-player/issues/39

[2019-02-28 09:55] SKempin commented on #513
@charpeni I am unsure if this is correct, can you confirm? If so I will create a PR.

[2019-03-01 12:41] adyouri commented on #798
Thanks!

Also:
[Direct Manipulation](https://facebook.github.io/react-native/docs/direct-manipulation): `see receiveComponent in ReactNativeBaseComponent.js` is also outdated.

[2019-03-03 11:10] unbug opened #815 "Feeback for React Native's website/documentation"
**I'll keep updating this issue, let me know you guys want to hear any specific part of the docs.**

# Missing the basic of ReactJS
You might expect many FE(web) start to build client apps with RN, but the fact is FE(web) don't really have much chance to build the client app. because, in many companies, FE(native) and FE(web) are a totally different team. FE(native) focus on Object-c/Swift/Java/Ko

[2019-03-03 11:10] unbug commented on #815
@cpojer

[2019-03-06 05:49] adriancuco commented on #680
Hi,
How about adding  onPress inside renderSectionHeader as follows?

 renderSectionHeader={({ section }) => (
            <Text style={styles.SectionHeaderStyle}> {section.title}   onPress={this.DoSomething.bind(this,
                     section.title)}>
          )}

[2019-03-09 18:53] CyberMew opened #824 "Docs example not running"
In https://facebook.github.io/react-native/docs/text, the examples are not running and it shows `TypeError: Cannot read property 'undefined' of undefined`

[2019-03-10 16:27] dodicandra opened #826 "i'm newbie, get error"
i've only started react native,but every run on my devices is always an error for it,i've tried fixing nothing
![image](https://user-images.githubusercontent.com/48325708/54088034-e8659f80-438b-11e9-898d-b5a6e32f9b90.png)

[2019-03-11 09:23] rickhanlonii commented on #826
Hey @dodicandra, thanks for trying React Native!

Unfortunately this issue tracker is not a help forum

We [StackOverflow](https://stackoverflow.com/questions/ask) where there is an active [react-native](https://stackoverflow.com/questions/tagged/react-native) tag for questions

[2019-03-11 09:23] #826 closed

[2019-03-12 13:13] #798 closed

[2019-03-20 01:11] charpeni commented on #824
I do not have any issues on my side with Chrome 73.

What's your browser?

[2019-03-20 01:15] charpeni commented on #815
👋 Hey @unbug!

We're always trying to make the documentation better, so thanks for your well-organized feedback, it's really appreciated. We'll keep that in mind.

[2019-03-20 01:44] #233 closed

[2019-03-20 02:10] charpeni opened #844 "Remove references to deprecated lifecycles"
We have some references to `componentWill*` which are deprecated lifecycles.

### Native Modules Android

[code]

[code]

#### Location

- [/docs/native-modules-android.md](https://github.com/facebook/react-native-website/blob/852a035c116fdcdf78ffa1ba53d7499c2bf3e3a9/docs/native-modules-android.md)

#### What to do?

- [x] The first part on mixins could be simply removed as mixins are not the futu

[2019-03-20 07:05] jamesgeorge007 commented on #844
@charpeni I would like to take this up 👏

[2019-03-20 13:58] charpeni commented on #844
Sure, let me know if you have any questions.

[2019-03-20 15:28] EricAtPlanGrid commented on #725
I’m happy to write this up, at least for iOS. I haven’t gotten to the Android port yet. Should this be a separate document or part of one of the existing ones?

[2019-03-20 15:31] EricAtPlanGrid commented on #671
We can close this issue now that #813 landed.

[2019-03-20 21:02] teameh commented on #671
Ah that is great 😃👍.

But not completely, since `methodQueue` is still not explained. can we reopen it?

[2019-03-21 09:22] jginsburgn commented on #725
Acually `Popup Menu` is only applicable in Android.

[2019-03-21 14:21] JofBigHealth opened #848 "Remove deprecated AlertIOS in docs in favour of unified Alert"
As per title. Confused me a bit when running tests after upgrading to 0.59.1 to find they were all failing 🙃 (Our mock of `AlertIOS` in our jest setup file was failing).

Building the actual app does, however, result in a redbox explaining that `AlertIOS` has been deprecated in favour of `Alert`.

[2019-03-21 14:33] jamesgeorge007 commented on #844
@charpeni Kindly have a look at #849 and suggest the required changes :+1:

[2019-03-23 13:50] CyberMew commented on #824
I’m using Chrome 72 but just updated to 73 with the same problem.

[2019-03-23 13:52] CyberMew commented on #824
<img width="1196" alt="Screen Shot 2019-03-23 at 9 51 26 PM" src="https://user-images.githubusercontent.com/4715911/54866948-e05b2600-4db5-11e9-9a1d-f790e529afdd.png">
Screenshot of issue.

[2019-03-23 13:53] CyberMew commented on #824
Nevermind, could be an extension messing with the example, since incognito seems to be working. Closing issue.

[2019-03-23 13:53] #824 closed

[2019-03-27 13:34] alex-fournier opened #855 "Bad prop name in SectionList for ItemSeparatorComponent and SectionSeparatorComponent"
https://facebook.github.io/react-native/docs/sectionlist#itemseparatorcomponent
https://facebook.github.io/react-native/docs/sectionlist#sectionseparatorcomponent

Actual : [leading/trailing][Item/Separator]
Should be : [leading/trailing][Item/**Section**]

[2019-03-30 17:55] rickhanlonii commented on #230
Thanks @divyanshu-rawat!

[2019-03-30 17:55] #230 closed

[2019-03-30 20:18] #421 closed

[2019-04-01 17:55] AlbertVilaCalvo opened #863 "Broken link to "packager config file" in the Images guide"
There's a broken link on the Images guide page:

http://facebook.github.io/react-native/docs/images

The borken link is on the this text:

The current URL is https://github.com/facebook/react-native/blob/master/local-cli/util/Config.js#L68 which gives a 404.

[2019-04-02 21:09] andres-torres-marroquin opened #864 "Update documentation for requireNativeComponent for iOS"
The documentation for iOS still says that `requireNativeComponent` can receive a couple arguments which is not relevant anymore. #840 tried to fix this but missed some text in `native-components-ios.md`

Thanks!

[2019-04-07 19:18] #855 closed

[2019-04-07 20:23] #848 closed

[2019-04-09 17:45] #651 closed

[2019-04-09 17:45] #750 closed

[2019-04-10 05:45] nexus0212 commented on #799
I would like to take this up 👏

[2019-04-10 06:34] venkatmithunk opened #877 "No documentation found on how to add listener to KeyDown Press event. Is it possible to add listener or is it missing feature?"
Hi, I want to persist keyboard after hardware keydown press event. I am not able to find any documentation or questions related to it.
![Screenshot_1554876682](https://user-images.githubusercontent.com/41567130/55856659-941b2e80-5b88-11e9-9803-2048271bdcd8.png)

[2019-04-10 10:16] xstable opened #878 "PermissionsAndroid - useless example for **rationale**-Buttons"
In the Docs I found the example to request for Permissions:
https://facebook.github.io/react-native/docs/permissionsandroid

There, somebody added this as `rationale` object:
[code]

I think the button's make no sense here!

**WHY?**
If the user press any of those buttons, it absolutley has no effect to grant the permissions, because the System-Dialog for PermissionRequest will popup afterwards.

[2019-04-10 11:02] juliankrispel opened #880 "Undocumented: `onSelectionChange` does not work when `multiline` is not enabled"

[2019-04-10 14:43] elucaswork opened #882 "TextInput's autoComplete prop isn't available it but it's documented as available"
I just found misinformation in the docs: in [TextInput](https://facebook.github.io/react-native/docs/0.58/textinput#autocomplete) says the `autoComplete` prop is available (since 0.58) but this feature is not available it in any version, it's only in #master, as can be seen here https://github.com/facebook/react-native/commit/f15145639dab1e8d7a1c79a127b7d45c91d025a8.

`autoComplete` prop's PR http

[2019-04-11 00:56] wagnermaciel opened #883 "Typo in ScrollView documentation"
There seems to be a typo here in scroll view documentation for the `keyboardShouldPersistTaps` prop. In particular, the sentence describing the "handled" option.

**Current**:
"the keyboard will not dismiss automatically when the tap was handled by a children"

**Proposed change**:
"the keyboard will not dismiss automatically when the tap was handled by children of the scroll view"

[Link to the d

[2019-04-12 09:08] #880 closed

[2019-04-13 14:40] sryze opened #886 "Outdated information in Building React Native from source"
https://facebook.github.io/react-native/docs/building-from-source

he step where it says:

does not work for me in iOS build. I always get the same error on app launch:

I tried the following ways to install react-native from source:

1. Clone react-native to disk, create a symlink to the repo in node_modules
2 Clone react-native to disk, install it with `npm install path/to/repo`

[2019-04-15 21:05] dev6james opened #889 "Clarify use of UIManager for LayoutAnimation on Androod"
https://facebook.github.io/react-native/docs/layoutanimation.html

This page says the following:

What is unclear is if this needs to be done once globally, or on a per component basis. This should be made clearer.

[2019-04-15 21:07] dev6james commented on #889
Note: I don't know what the answer to that is, because it's not in the docs. Lol.

[2019-04-18 18:11] elucaswork commented on #886
Looks like @cpojer is working to update it (https://twitter.com/thymikee/status/1115272689063735296).

(Btw I also feel the pain to make a local android build from master https://twitter.com/estevao_lucas/status/1078646624027590657 https://twitter.com/estevao_lucas/status/1113299034922471425. Right now I have build working but I'm always afraid to update it, concerned with upcoming changes on mast

[2019-04-18 18:12] elucaswork commented on #882
cc @cpojer

[2019-04-18 22:56] charpeni commented on #882
Thanks for flagging that, I'm sending a PR.

[2019-04-18 23:02] #882 closed

[2019-04-19 22:14] chadlavi opened #892 "prop `anchor` of `ActionSheetIOSOptions` is not documented"
(cc @alloy)

the prop `anchor` that can be passed in the options for `ActionSheetIOS.showActionSheetWithOptions({...})` is not documented, but, per the code, [definitely does exist](https://github.com/facebook/react-native/blob/master/Libraries/ActionSheetIOS/ActionSheetIOS.js#L46) (h/t to @iRoachie for finding that line). This should be documented.

Cf. also https://github.com/DefinitelyTyped/Def

[2019-04-21 17:53] MoOx commented on #815
Some things that bother me...:
- lots of props are missing in various components
- order of props in docs is sometimes totally random (that's seems totally a weird choice)

I still don't get why docs for components aren't close to them. Because when a change is made to a component, it's VERY (too) easy to not update docs...

@cpojer is there any plan for RN docs to make them better? I think the 2

[2019-04-23 08:20] cpojer commented on #815
@MoOx Yes! We hope to redo most of the website. If you could document the inconsistencies, that would help a ton!

[2019-04-24 10:57] JofBigHealth opened #900 "Proposal: expand documents to include "native" configuration"
# Why

I subscribe to various threads in RN and Community helping users with problems that are really native platform issues and not RN at all. For instance, the network security settings necessary to get RN debugger working. Users get very frustrated with these issues and are occasionally put off from using the library completely. Going to Stack Overflow can be confusing and overwhelming to new u

[2019-04-29 10:42] #892 closed

[2019-04-29 13:54] cpojer commented on #815
Thank you so much for writing up this issue. I am currently working on an umbrella task for the new React Native website and I'm including many of the things you listed. I'll close this issue for now but be on the lookout for a new master task soon :)

[2019-04-29 13:54] #815 closed

[2019-05-03 16:56] ramyareye opened #907 "Touchables Document"
Hello,

According to https://kmagiera.github.io/react-native-gesture-handler/docs/component-touchables.html shall react native Touchable docs like https://facebook.github.io/react-native/docs/touchableopacity be updated?

It came to my mind cause I had problem with TouchableOpacity from react-native package.

Regards

[2019-05-08 19:36] rickhanlonii commented on #907
Hey @ramyareye, sorry that I don't quite understand - what would our docs be updated to say?

[2019-05-09 13:19] cpojer opened #917 "📘 What would you like to learn about React Native?"
We are planning on revamping our guides for React Native: https://facebook.github.io/react-native/docs/getting-started

Many of the existing guides and the overall flow of the documentation were written in 2015 and do not reflect well what it is like to build apps with React Native in 2019. We have an idea of what we'd like to improve and will share a plan soon but we'd like to hear from the commu

[2019-05-09 13:59] Divine1 commented on #917
i'm not able to find docs on the android/ios sdk versions & nodejs,npm versions supported by each expo releases.

i'm starting to think below issue is because of expo-cli not being compatible with node 10.15.3, because the expo-cli installed without any issue in node 8.11.* . i didnot check in node 9.*.

https://github.com/expo/expo-cli/issues/412

if there is any docs available for this then plea

[2019-05-09 14:12] yousefelgoharyx commented on #917
mmmm, ig better UI would be great

[2019-05-09 15:18] ecreeth commented on #917
## What I would like more is to improve the documentation, more components and a proper implementation of the navigation.
#### What parts that you discovered that were important were missing from the website?
- A better design
- Detail a little more the operation of the APIs and components

#### What things would you remove from the website because they are outdated and confusing?
I consider that

[2019-05-09 15:44] orta commented on #917
I learned by diving through the f8 app via https://makeitopen.com - I think a video series where you guide someone through building a small(er) and self contained app, wrapping up with showing how to write some tests and feel comfortable looking at it in iOS/Android sims.

Something like this probably already exists, but could be re-done with some more production values and be classed as official

[2019-05-09 15:49] tsdmrfth commented on #917
When i new to React Native,  as i remember i was very stuggling when i try to make some components that's why i would like to see working examples in both android and iOS with the example codes.

[2019-05-09 16:06] Steffi3rd commented on #917
#### What parts that you discovered that were important were missing from the website?
* Storybook like
* Demo with Expo is very bad UX (waiting... ui... interaction...)
* Best community packages
* Examples like : https://reactnativeexample.com/

#### What things would you remove from the website because they are outdated and confusing?
* **CRNA**  : For a new React Native developer, it was VERY i

[2019-05-09 16:11] saxenanickk commented on #917
There has to be some good documentation on ART.

[2019-05-09 16:23] pie6k commented on #917
I've 'wasted' literally 1000's of lines of code because I didn't know about `LayoutAnimation` and I was creating complex animations (like reordering, unmounting) myself. I know it's my fault but it's so useful that it could be more exposed (as ex-web dev I didn't expect such things to be possible).

Maybe something like 'if you're web dev - this is MUST READ for you'

[2019-05-09 17:57] glauberfc commented on #917
1. You could add more details on *Contributing* docs section, teaching people how use RNTester.
2. I think that will be great if you teach people how Google Play and App Store works, and how deploy an app these stores.
3. It would be nice if there is a section with a tutorial like [makeitopen](https://makeitopen.com/).

[2019-05-09 17:57] ofiron01 commented on #917
Best practices for debugging, HOW-TOs, known issues, troubleshooting

[2019-05-09 18:01] ghmeec commented on #917
Adding App testing in real devices such as via expo, would be great

[2019-05-09 18:05] rrramanan commented on #917
• Important that missing from website?
- Detailed page that can help newbies about important areas (eg. nav, redux, RNBase) info listed and let user redirects from there.
- Left pane (menu) UI improvement
- Dark mode

[2019-05-09 18:16] ramyareye commented on #907
We faced an unusual problem on touching a button last week! so we replaced TouchableOpacity imported from react-native with the same one from react-native-gesture-handler .
So it came to ma mind to guide users to use that library if there is a need for a pure native one!

[2019-05-09 18:55] AndreiCalazans commented on #917
**Which parts that you found out were important were missing from the website?**

 - Cover the essential knowledge one is expected to have when dealing with Xcode and Android Studio for React Native Apps. Many Devs coming from Web get completely lost in these environments.

- How to add fonts.
- How to set up Launch/Splash screen.
- How to set up Launch Icons.
- For the FlatList component would be

[2019-05-09 19:08] amielmon commented on #917
More documentation on event listeners!! More specifically scrolling actions.

[2019-05-09 19:34] Andarius commented on #917
More documentation on flexbox like the one [here](https://medium.com/wix-engineering/the-full-react-native-layout-cheat-sheet-a4147802405c)

[2019-05-09 19:39] ecreeth commented on #917
**This is the best place for learn Flexbox**
https://yogalayout.com/

[2019-05-09 19:48] Andarius commented on #917
I prefer to have a quick overview like [![flexbox.png](https://i.postimg.cc/c4JvFTdn/flexbox.png)](https://postimg.cc/7bpP63GH)

[2019-05-09 20:10] e-molochko commented on #917
Please, add more detailed description for component's/method's properties and their descriptions

[2019-05-09 20:54] CodingItWrong commented on #917
I'd love a page with quicker access to the docs for each component. Usually when i go to the docs I want to look up a specific component, but I have to scroll down in the sidebar to get to the Components section. If there was a Components or API page that just had those Components as the only things in the sidebar, that'd make navigation quicker. Kind of like http://api.emberjs.com/ember/release

[2019-05-10 00:06] sunday58 commented on #917
I did love to see more images on the documentation, cause image explains practically than just text..

And more explained documentation on intent to make your app access other default apps on your phone..example; Camera, gallery, musicplayer etc.

[2019-05-10 02:38] tiancihe commented on #917
IMO, detailed docs are way more better than videos. So, my suggestion is to focus the effort on the doc rather than videos, and maybe a whole lot more detail on how to set up properly, maybe even how to set up for react-native-windows.

[2019-05-10 05:04] dev6james commented on #917
This comes to mind immediately (LayoutAnimation) https://github.com/facebook/react-native-website/issues/889

Beyond that,  more on the native debbuging and profiling experience.  This tiny amount in the docs makes a new RN dev feel hopeless the second they run into a tricky native issue.  Even pointing to guides in the android and iOS docs would be handy if anything more is considered out of scop

[2019-05-10 07:54] tijs commented on #917
I would love to see a guide on packaging up react native code as re-usable NPM packages. There are some short references to create-library but no step by step reference. Ideally this would cover:

* packaging up pure JS code
* adding (natively linked) dependencies
* packaging up native modules
* adding flow and/or typescript definitions

[2019-05-10 08:49] hemith opened #918 "collapsible sidebar & on page navigation"
I have added 2 lines to siteConfig.js in my local env.

I think It have given a nice navigation experience.
How about commit these config lines as default ?

<img width="1430" alt="nice_navigation" src="https://user-images.githubusercontent.com/10476866/57514300-20b53a00-734b-11e9-993a-a586b0822b9f.png">

[2019-05-10 10:22] rickhanlonii commented on #907
Not sure what that issue was but the React Native docs will continue to document the React Native core Touchable component 👍

[2019-05-10 10:22] #907 closed

[2019-05-10 10:24] ramyareye commented on #917
First as a web developer I think I'm happy that I started with CRNA instead of expo! Why? cause it forced me to dive in and learn faster, I don't know why but still I can't find reason to go with Expo. I think working on react-native requires knowledge about native codes.

Second I think there should be a complete guide to start with Visual Studio Code, it saves bunch of time.

Third is about lear

[2019-05-10 10:47] Fausto95 commented on #917
Well documented native modules in react-native with Swift and Kotlin

[2019-05-10 10:59] RoyEde commented on #917
My suggestion is to add more examples whenever possible, at least for common usage.

* Things like `LayoutAnimation` can be absolutely confusing without proper examples.

* Some common patterns would be appreciated (for example, with the `Animated` API).

We absolutely need a scroll back to top button on the page. Or at least a button that goes straight to the components props index again.

[2019-05-13 09:34] ivan-kolesov opened #923 "ScrollView, method scrollTo, parameter duration doesn't working"
Method scrollTo ( https://github.com/facebook/react-native-website/blob/master/docs/scrollview.md ) has parameter duration, that can be applied to android devices. But source codes don't have any realization https://github.com/facebook/react-native/blob/0.59-stable/Libraries/Components/ScrollView/ScrollView.js#L744-L748

[2019-05-14 11:11] michalchudziak commented on #917
I think a bit deeper documentation of native classes of React Native might be helpful, especially when it comes to integration with native apps. I've had to figure out a lot by scouring through the codebase, perhaps with well-documented classes, the entry level would decrease :)

[2019-05-15 05:27] pavermakov commented on #917
It would be nice to have more info about how the AppState works  in react-native. For example, how it behaves when native popups show up on android and the AppState changes all of a sudden. I have no prior experience with java, so I was frustrated when I first encountered this.

Also, it would be nice to include screenshots for all available components.

[2019-05-15 09:09] snamstorm opened #928 "Using HTTPS WEBSOCKET with RN iOS & Android Release build"
Does RN work with https, ssl, wws and if yes, what do I need to configure and where?

Know the documentation under [networking](https://facebook.github.io/react-native/docs/network#websocket-support) has information on how to use websockets but nothing is mentioned about using websockets with HTTPS

IOS explicitly block NON https connections so it's a complete block in RELEASE BUILD mode

[2019-05-15 09:44] PrithviPrithvi commented on #928
@snamstorm I'm also facing the same issue, does anyone know how to use WebSocket over HTTPS.

[2019-05-15 13:56] #516 closed

[2019-05-15 13:57] cpojer opened #929 "☂️ Website Redesign and Documentation Rewrite"
The content and look of the React Native website are outdated. Many of the existing guides and the overall flow of the documentation were written in 2015 and do not reflect well what it is like to build apps with React Native in 2019. When we asked what people [dislike about React Native](https://github.com/react-native-community/discussions-and-proposals/issues/104), documentation issues came up

[2019-05-15 13:59] cpojer commented on #917
Thanks everyone for all of your suggestions. I now created an umbrella task to track the website rewrite: https://github.com/facebook/react-native-website/issues/929

We need a **ton** of help to make this happen. If you are interested, check out the umbrella issue and send some PRs :)

[2019-05-15 13:59] #917 closed

[2019-05-15 14:34] glauberfc commented on #929
Can this website be made w/ Gatsby?

[2019-05-15 14:35] cpojer commented on #929
We are not considering a technical rewrite of the code. Docusauraus works fine for us at this time.

[2019-05-15 14:41] saxenanickk commented on #929
Would love to contribute in this.

[2019-05-15 15:17] glauberfc commented on #929
@cpojer I'm comparing `ScrollView.js` and `ScrollView.md` files and I have some questions:

1. Should all props inside `type IOSProps` be annotated w/ `@platform ios`. The prop below hasn't this annotation on the file:

2. Should the props be listed on alphabetical order?

3. In this part of the docs there is a link for View props indicating that this component enhance these props, but there is no

[2019-05-15 15:19] cpojer commented on #929
@glauberfc:
* Yes, IOSProps are usually ios specific.
* Yes, alphabetical order is ideal.
* You are right that seems to be missing. Wanna send a PR just for the touchable props?

[2019-05-15 15:25] glauberfc commented on #929
@cpojer Do I need only create a file named `TouchableProps.md`? Is there some text explaining each of these props?

[code]

[2019-05-15 16:11] ndejesus1227 commented on #929
I got dibs on View and Text!

[2019-05-15 17:32] yangshun commented on #929
@glauberfc would love to know your reasons for moving to Gatsby 😄

[2019-05-15 17:44] glauberfc commented on #929
@yangshun I thought the new React site was made with Gatsby. I think this because all sites made w/ Docusaurus are very similarly and the React website is a bit more "styled"

[2019-05-15 18:05] ndejesus1227 commented on #929
So I made a PR for View, do my eyes deceive me or is there literally no `Text.js`???

[2019-05-15 22:08] orta commented on #929
I think this is 'just' updating docusaurus BTW

[2019-05-15 22:15] yangshun commented on #929
Yep there's now a siteConfig option called `docsSideNavCollapsible` and you can set it to `true`.

[2019-05-15 22:50] ndejesus1227 commented on #929
@yangshun @orta Sorta related to gatsby, I think it would be cool to implement MDX for handling these docs.

Every section for an API could be a component instead, should be much easier to reason about/read/contribute that way :O

[2019-05-15 22:52] yangshun commented on #929
@ndejesus1227 Docusaurus 2 will support MDX. Unfortunately we haven't implementing versioning and hence cannot port React Native website to Docusaurus 2. Check out https://endiliey.com/2019/05/16/docusaurus-2-technical-preview/ for a preview.

[2019-05-16 01:56] AbdelkhalekESI commented on #929
Hi guys , i'd like to contribute , any contribution guide available and from where we should start?

[2019-05-16 09:32] cpojer commented on #929
@yangshun any chance you could help us update Docusaurus so we can make the sidebar collapsible?

[2019-05-16 10:39] ksrini73 commented on #929
I would love to contribute on this.

[2019-05-16 11:19] glauberfc commented on #929
@cpojer On [ScrollView](https://github.com/facebook/react-native/blob/master/Libraries/Components/ScrollView/ScrollView.js) the prop `showsHorizontalScrollIndicator` hasn't the `@platform ios` annotation, but are inside `type IOSProps`. Is it a missing or is it right?

[2019-05-16 12:01] cpojer commented on #929
@glauberfc
1. Seems like it's available on Android: https://github.com/facebook/react-native/blob/faaa92bb04467f1d8cef0fe7ce309643486b7a0d/ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactHorizontalScrollViewManager.java#L73
2. I would assume we have both, one is the boolean to toggle the behavior the other is an event that is run when scrolling to top.

[2019-05-16 12:04] glauberfc commented on #929
I agree w/ you @ndejesus1227. I would like there is a way of import the component file and document it w/ MDX like in [Docz](https://www.docz.site/). So, this will avoid us to copy and paste many times and will keep the docs updated.

[2019-05-16 14:50] SSTPIERRE2 commented on #929
Having worked with RN in it's early stages and learning from the older documentation I find this super exciting! The changes outlines here look excellent 🤘

[2019-05-16 16:32] yangshun commented on #929
@cpojer will do so! I'll also enable a bunch of other useful defaults and see if you guys like it.

[2019-05-16 22:25] glauberfc commented on #929
If there was something like [this](https://www.youtube.com/watch?v=Yl6WARA3IhQ) on Docusaurus would help a lot on the API updates. People would use a pattern to document all APIs and the JS file would be converted on a markdown file

[2019-05-16 22:44] yangshun commented on #929
@glauberfc That would be possible with plugins in Docusaurus 2. I have to add a backward-compatible versioning ability to D2 before we can move RN website to D2.

[2019-05-17 10:46] glauberfc commented on #768
#929

[2019-05-17 14:02] ndejesus1227 commented on #929
I took care of View, I can't seem to find Text.js so I'm gonna pass on that one.

I'd like to call dibs on Button and FlatList! (Going for Button first)

[2019-05-21 11:17] raajnadar commented on #929
@cpojer I went through the Vibration docs and found no changes and didn't find any file for `Transform.js`

[2019-05-22 01:44] vitorverasm opened #948 "Update TextInput with new APIs"
Adding APIs for #929

- Added APIs:
    - inputAccessoryViewID `[IOSProps]`
    - autoCompleteType `[AndroidProps]`
- Alphabetize

[2019-05-22 15:06] vitorverasm commented on #948
* Just found that autoComplete was already there, just with the wrong reference(_autoCompleteType_).

[2019-05-23 02:34] hawthord opened #955 "React Native CLI Installation Link Unclear"
Installing React Native CLI as a prerequisite to contributing is simple, but finding the instructions to do so is not. The link on [https://github.com/facebook/react-native/wiki/How-to-Contribute](https://github.com/facebook/react-native/wiki/How-to-Contribute) is still several jumps short of providing clear instructions, and searching online leads to other sites with different instructions.

Sinc

[2019-05-23 03:54] hawthord opened #956 "Yarn Usage"
Please add a line under the Development Workflow header of https://github.com/facebook/react-native/wiki/How-to-Contribute instructing the user to navigate to the cloned repo folder before running the 'yarn' command. This is not clearly specified on either the React Native GitHub or the linked Yarn site.

This may make it difficult for an inexperienced developer to recognize whether they have inst

[2019-05-23 08:50] rickhanlonii commented on #956
Hey @hawthord! Thanks a ton for your feedback, I've updated the [wiki](https://github.com/facebook/react-native/wiki/How-to-Contribute) to instruct the user to open the cloned directory

I think it's ok for [Getting Started](facebook.github.io/react-native/docs/getting-started.html) to instruct to install with npm since it's a global install and not inside a repo using yarn, I think this is standa

[2019-05-23 08:50] #956 closed

[2019-05-23 08:54] rickhanlonii commented on #955
Hey @hawthord thanks again for the feedback!

Have you see our new guide for [Submitting Your First PR](https://github.com/facebook/react-native/wiki/Pull-Requests#getting-ready-to-submit-your-first-pull-request). This is designed to provide more specific instructions with explanations of each step

I'd support your updates as well if you want to submit a PR and tag me!

[2019-05-23 08:55] rickhanlonii commented on #955
Also, please continue to give us this feedback, it is super useful!

Feel free to comment on our umbrella issue for the website/docs rewrite as well https://github.com/facebook/react-native-website/issues/929

[2019-05-23 08:55] #955 closed

[2019-05-23 09:03] #948 closed

[2019-05-24 10:24] rickhanlonii commented on #918
Thanks for the suggestion @hemith!

We have the collapsible sidebar on now - I think the issue with the on page nav is that our doc pages aren't all correctly organized into the correct headers so the nav isn't organized well

We can consider turning it on after #929 👍

[2019-05-24 10:24] #918 closed

[2019-05-24 10:26] rickhanlonii commented on #883
Fixed, thanks!

[2019-05-24 10:26] #883 closed

[2019-05-24 10:31] rickhanlonii commented on #383
Hey @Mohamed3on thanks for submitting!

Not sure if the methods were removed in previous versions on purpose, but WebView was removed from core and the new docs are [here](https://github.com/react-native-community/react-native-webview)

[2019-05-24 10:31] #383 closed

[2019-05-24 10:33] rickhanlonii commented on #863
This file was moved to `react-native-community/cli`, @thymikee any idea where the new link should go?

[2019-05-24 11:04] rickhanlonii commented on #509
Hey @holographicleah, sorry for the delay here!

Looks like this section has been removed so I'm going to close this, but thanks for your feedback!

[2019-05-24 11:04] #509 closed

[2019-05-24 11:04] rickhanlonii commented on #509
@holographicleah how did your first project go? Would love to hear more feedback from you!

[2019-05-24 12:25] thymikee commented on #863
These should now be defined in `metro.config.js` file, see the docs on where to put this: https://facebook.github.io/metro/docs/en/configuration#assetexts

[2019-05-24 12:43] rickhanlonii commented on #863
Thanks @thymikee!

@AlbertVilaCalvo want to submit the PR?

[2019-05-24 17:54] ecreeth commented on #929
#947

[2019-05-25 13:43] AlbertVilaCalvo commented on #863
@rickhanlonii I've opened a PR: https://github.com/facebook/react-native-website/pull/960

[2019-05-27 00:28] JensKolb opened #963 "Image cache property is not documented"
On the documentation of the Image Component, under the "source" property section, there is mentioned a "cache" property, which is not documented there. I guess it is referencing the "Cache Control (iOS Only)", which is documented in the "Images"-Guide. There should be a link to that section, as it is hard to find otherwise.

[2019-05-30 01:25] brunolemos opened #968 "Allow me to link to the native docs steps, not the expo one"
I'd like to be able to send a link to a beginner (e.g. https://facebook.github.io/react-native/docs/getting-started.html#native) with the `React Native CLI Quickstart` tab open, not the `Expo CLI Quickstart` one.

Is that currently possible?

![image](https://user-images.githubusercontent.com/619186/58601717-7735da00-8260-11e9-8e5d-dfe0d63de01d.png)

[2019-05-30 10:24] #863 closed

[2019-05-30 11:59] MohamadKh75 commented on #929
I want to create a PR and sort all of the guides (iOS and Android too) alphabetically. I won't change "The Basics" category as it needs to be sorted in the other way!
Shall i start or it can be done by Docusaurus?

[2019-05-30 18:00] hramos commented on #929
I'd prefer the order of guides to be intentional. Think of it as a story. What should the progression look like as you ramp up on React Native?

[2019-05-31 10:48] raajnadar commented on #968
No, You can't at-least with the current page structure.

[2019-06-03 15:18] ericlewis commented on #61
This seems to not be broken anymore.

[2019-06-04 11:28] madeleke opened #985 "Search not working"
After pressing enter to search, nothing happens...literally nothing.

[2019-06-04 16:10] ecreeth commented on #985
It seems that the search is only enabled in the [API](https://facebook.github.io/react-native/docs/0.59/getting-started) and [DOCS](https://facebook.github.io/react-native/docs/0.59/activityindicator) pages

[2019-06-04 19:40] Schacal commented on #985
I also encountered with the search problem. When I'm trying to use search box in react-native website - nothing happens...

[2019-06-04 19:59] madeleke commented on #985
Nothing changes on there

[2019-06-06 06:12] raajnadar commented on #929
cc @cpojer can you update the original post and also check my last comment https://github.com/facebook/react-native-website/issues/929#issuecomment-494348891

[2019-06-06 19:22] rafalgiemza opened #991 "Broken link in docs to geolocation"
React Native version:

## Steps To Reproduce

1. Open [docs -> JavaScript Environment -> Polyfills -> navigator.geolocation](https://facebook.github.io/react-native/docs/javascript-environment#polyfills)
2. You will be redirected to [broken geolocation link](https://facebook.github.io/react-native/docs/geolocation.md#content)

Describe what you expected to happen:

simply change **href** attribute

[2019-06-07 17:17] abhinavsagar opened #997 "No travis in this repository"
Should we add a `travis.yml` ?

[2019-06-07 17:59] hnrqsss opened #998 "The input search on documentation´s page is not working correctly"
On the react-native's page the input on the right top of the page doesn't works.
[https://facebook.github.io/react-native/](https://facebook.github.io/react-native/)

React Native version: 0.59
Mac OS  10.14.5 Mojave

Before this bug when i'm  write something in the input and if there is a match with i wrote, shows at the bottom of the input. Today nothing appears even when i press enter.

## Step

[2019-06-08 00:41] kphillisjr opened #999 "Broken URL - Memory Use in Extensions"
I was reading the documentation over IOS and noticed a broken link. The page needing updates is  https://facebook.github.io/react-native/docs/app-extensions  and the broken link is to the video for Conrad Kramers talk on Memory Use in Extensions. The current link is leading to a parked website ( along with complaints about invalid SSL certificates). Either way, a more current link for this video c

[2019-06-10 07:17] nitaking commented on #998
It seems to occur only on the top page.

![2019-06-10 16 15 59](https://user-images.githubusercontent.com/10850034/59178841-29dc3580-8b9b-11e9-94f5-79f95914c9a7.gif)
![2019-06-10 16 16 16](https://user-images.githubusercontent.com/10850034/59178848-2e085300-8b9b-11e9-992c-1a5b71feb5be.gif)

[2019-06-10 22:16] methodbox commented on #61
Are you guys aware this is still broken? The docs are effectively unusable without search.

This seems to break every couple of weeks.

[2019-06-10 22:25] methodbox commented on #998
I'm not sure WTF is happening in your GIF (why is there 2 instances of the site on two different pages?) but it's broken for me for the entire site.

I was only able to get it to work again by clearing cache in Chrome which makes me suspect it's related to garbage collection somehow, or how the site sets cookies.

There is a suggestion in another thread that only the drop-down for the smart search

[2019-06-10 22:26] methodbox commented on #985
FYI:  https://github.com/facebook/react-native-website/issues/61 and https://github.com/facebook/react-native-website/issues/998

[2019-06-10 22:36] methodbox commented on #985
In the meantime, try this; it seems to work on docs prior to the latest version (0.60-rc ... which you don't seem to be able to change without specifying the initial URL):  https://facebook.github.io/react-native/docs/**0.59**/getting-started

[2019-06-10 23:09] madeleke commented on #985
I dig that

[2019-06-10 23:09] #985 closed

[2019-06-11 07:59] s-pace commented on #61
The crawl is pretty long and was stopped. Can you check now @methodbox ? Should be fine

![image](https://cl.ly/93ae54c67bf8/download/Image%202019-06-11%20at%209.58.37%20AM.png)

[2019-06-11 10:18] andidev opened #1005 "Removing Default Permissions not updated after PR 23504"
Removing android.permission.SYSTEM_ALERT_WINDOW in release builds is no longer needed since [PR 23504](https://github.com/facebook/react-native/pull/23504)

this should be reflected in
https://facebook.github.io/react-native/docs/removing-default-permissions

[2019-06-11 12:41] methodbox commented on #61
Not sure what you mean by, "the crawl is pretty long...". Can you clarify?

It seems to be working now. However, your test image shows the actual home page; note that this was particularly and issue **after** searching and/or on the actual docs page. Both seem to work okay now, though.

[2019-06-11 14:21] s-pace commented on #61
The daily crawl was too long so it was not correctly done. Should be fixed now :)

[2019-06-11 15:36] #1005 closed

[2019-06-12 03:48] autumnleaves1 opened #1007 "PickerIOS这一节太丑了，不知道什么时候加了个css,希望改进一下"
![image](https://user-images.githubusercontent.com/23214175/59322261-eeab4500-8d07-11e9-857d-a2f80b76cc5c.png)
![image](https://user-images.githubusercontent.com/23214175/59322289-08e52300-8d08-11e9-89c5-6478de39a52e.png)

[2019-06-12 07:53] rafalgiemza commented on #991
@cpojer thanks :)

[2019-06-12 07:53] #991 closed

[2019-06-12 11:02] rickhanlonii commented on #1007
Hey @autumnleaves1, thanks for filing an issue. Can you help me understand what the issue is here? I can't tell from the screenshots.

[2019-06-12 11:29] autumnleaves1 commented on #1007
Sorry,I did not describe my point clearly.
I just want to say that the list on left in the first picture should be left and should not be moved. That should be like the second picture。
I think it should be that your adaptation is not doing well.
As a programmer, looking at the uncomfortable
![image](https://user-images.githubusercontent.com/23214175/59347769-16220200-8d48-11e9-9714-62cd908270d5.pn

[2019-06-12 13:30] ecreeth commented on #929
@cpojer The properties of this component has not changed: [ActivityIndicator.md](https://github.com/facebook/react-native/blob/master/Libraries/Components/ActivityIndicator/ActivityIndicator.js)

[2019-06-12 14:00] ecreeth commented on #929
@cpojer The properties of this component has not changed: [RefreshControl.md](https://github.com/facebook/react-native/blob/master/Libraries/Components/RefreshControl/RefreshControl.js)

[2019-06-12 16:05] ecreeth commented on #929
@cpojer The properties of this component has not changed: [Picker.md](https://github.com/facebook/react-native/blob/master/Libraries/Components/Picker/Picker.js)

[2019-06-12 16:08] ecreeth commented on #929
@cpojer The properties of this component has not changed: [PickerItem.md](https://github.com/facebook/react-native/blob/master/Libraries/Components/Picker/Picker.js#L25)

[2019-06-12 19:01] ecreeth commented on #999
@kphillisjr now you can close it

[2019-06-13 15:20] #963 closed

[2019-06-13 15:45] methodbox commented on #998
Not sure if you guys saw, but this is resolved now per: https://github.com/facebook/react-native-website/issues/61

So this one can probably be closed.

[2019-06-13 15:52] #998 closed

[2019-06-13 18:13] ecreeth commented on #929
@cpojer The properties of this component has not changed: [ProgressViewIOS](https://github.com/facebook/react-native/blob/master/Libraries/Components/ProgressViewIOS/ProgressViewIOS.ios.js)

[2019-06-13 18:53] ecreeth commented on #929
@cpojer The properties of this component has not changed: [SafeAreaView](https://github.com/facebook/react-native/blob/master/Libraries/Components/SafeAreaView/SafeAreaView.js)

[2019-06-13 18:59] ecreeth commented on #929
@cpojer The properties of this component has not changed: [SegmentedControlIOS](https://github.com/facebook/react-native/blob/master/Libraries/Components/SegmentedControlIOS/RCTSegmentedControlNativeComponent.js)

[2019-06-13 19:02] yangshun commented on #929
@ecreeth Consider consolidating your updates in one single post/comment and updating it when there are new things to add!

[2019-06-13 19:11] ecreeth commented on #929
@cpojer The properties of this component has not changed:
- [SegmentedControlIOS](https://github.com/facebook/react-native/blob/master/Libraries/Components/SegmentedControlIOS/RCTSegmentedControlNativeComponent.js)
- [SafeAreaView](https://github.com/facebook/react-native/blob/master/Libraries/Components/SafeAreaView/SafeAreaView.js)
- [ProgressViewIOS](https://github.com/facebook/react-native/blo

[2019-06-14 12:40] rickhanlonii commented on #999
It will be fixed in the next version release, but the broken link is still live on the site. We would need to update the 0.59 version to fix on the live site

[2019-06-17 08:41] cpojer commented on #929
@ecreeth thank you so much for doing this! I just updated the list above :)

[2019-06-17 14:04] ecreeth commented on #929
@cpojer The following **components** or **API's** have been removed or merged:

- `AlertIOS` see [#23318](https://github.com/facebook/react-native/pull/23318)

[2019-06-17 14:48] cpojer commented on #929
@ecreeth can you remove these docs via a PR?

[2019-06-17 14:51] ecreeth commented on #929
Of course yes!

[2019-06-18 06:32] usrbowe opened #1042 "Proposal: Introduce ErrorBoundary as must-have"
I would like to add `ErrorBoundary` introduction into RN documentation.
And highlight how crucial this is to be implemented.
It makes the app much less prone to fatal crashes, just because of some `name of undefined` errors.
I know it is well described in React documentation, but for RN purpose I would focus on explaining how easily app can crash and add ErrorBoundary as one of the ways, to preven

[2019-06-18 10:00] rickhanlonii commented on #1042
Hey @usrbowe, this is a great idea! Where do you think it would go? We should be sure that this is RN specific and not just re-stating what's in the React docs. It would also be great to explain how error boundaries interact with reboxes

[2019-06-18 20:06] SaraChicaD commented on #929
On the `Slider` [repo](https://github.com/react-native-community/react-native-slider) the [Slider.js](https://github.com/react-native-community/react-native-slider/blob/master/js/Slider.js) file matches the [docs](https://github.com/react-native-community/react-native-slider#props).

On the RN web docs, which I understand are deprecated, `onSlidingStart` is [missing](https://facebook.github.io/rea

[2019-06-19 04:37] usrbowe commented on #1042
Hi @rickhanlonii,

I think it can be either under [Improve UX](https://facebook.github.io/react-native/docs/improvingux) or create a new section under **Guides**.

I also thought about the fact, that the documentation already exist in React docs, but I would like to highlight importance of having this component at least in root of app, to prevent app crashes, which can be prevent, when using this

[2019-06-19 09:52] rickhanlonii commented on #1042
I think under Improve UX makes sense! I would push back on creating a new guide since we're in the process of reviewing the guides and docs we have now to clean them up

I agree this would improve UX, there should be at least a root error boundary. One thing that may help is if the starter template included an error boundary so it exists out of the box

Yeah this is what I mean!

[2019-06-19 10:13] #785 closed

[2019-06-19 10:37] rickhanlonii opened #1045 "Proposal: Don't completely remove pages for Lean Core removed components"
## Overview

We currently have a few open and merged PRs which are removing the documentation pages for components removed in the Lean Core effort.

I see a few issues with this:
- **Confusion**: Users that have been checking the React Native site for these docs will suddenly not be able to find them
- **Discovery**: Users that are on an old version of React Native will not know to check the docs

[2019-06-19 19:29] troublediehard opened #1047 "where is `mCallerContext` is coming from?"
I'm looking into https://facebook.github.io/react-native/docs/native-components-android
**2. Implement method createViewInstance**

[code]

And I can't get what is `mCallerContext` here.

I see it was declared in previous doc version https://github.com/facebook/react-native-website/commit/904ebf71561659760671101b25819505adb68a86#diff-41344f6faadc245b9057c22783be36b4

Any ideas?

[2019-06-21 04:48] usrbowe commented on #1042
Yep, it can be just a mention with a link to React docs for more details.
And if it can be included in default template and one paragraph explaining its purpose, with highlighted issue when running on DEV.
I think this would be sufficient 👍

[2019-06-21 15:09] shau-kote opened #1048 "FlatList and SectionList aren't mentioned in Animated API"
The Animated Library [provides](https://github.com/facebook/react-native/blob/master/Libraries/Animated/src/Animated.js) the FlatList and SectionList components, but they aren't mentioned in [the Animations Guide](https://facebook.github.io/react-native/docs/animations) neither in [the Animated Reference](https://facebook.github.io/react-native/docs/animated).

I've made a PR for this: https://git

[2019-06-24 14:45] MBLHarrison opened #1056 "Text {'\n'} dosen't display new lines correctly in preview"
In the [Text](https://facebook.github.io/react-native/docs/text#accessibilitylabel) documents, the first example is meant to be showing new lines, but on the actual mobile output accompanying it, there are no new lines where there should be.

![image](https://user-images.githubusercontent.com/17315707/60028226-e0a9dc80-9696-11e9-8ae8-652366af395f.png)

After the header in the bigger bold text, the

[2019-06-25 08:53] RobinCsl opened #1058 "Question: Are the instructions for production AppTransportSecurity complete?"
Hi :wave:
I was just preparing an app for production and read in the docs that it was necessary to enable ATS for iOS by removing `localhost` from the list of domain exceptions. (cf. https://facebook.github.io/react-native/docs/running-on-device#1-enable-app-transport-security)

However, upon closer inspection of the `info.plist` file, I see that there is this other key in the `NSAppTransportSecur

[2019-06-26 13:48] divs246 opened #1061 "Double Display of hide show password field"
![Simulator Screen Shot - iPhone X - 2019-06-26 at 19 17 52](https://user-images.githubusercontent.com/46372904/60185274-38874580-9847-11e9-8e30-282ff5757d7c.png)
Whenever we are including hide show password input package it is taking icon also as a one field it is appearing two input boxes as output.

[2019-06-27 10:10] frags51 opened #1064 "Incomplete Documentation for native-modules UI component"
https://github.com/facebook/react-native-website/blob/master/docs/native-components-android.md#2-implement-method-createviewinstance

Here, there is a variable called `mCallerContext`, but it has not been defined anywhere.

Could you please clarify as to what that is?

[2019-06-30 22:37] EnKrypt opened #1065 "Documentation for annotations such as "@flow" and "@format""
On creating a new react native project using`react-native init`, we see that many .js files have these annotations within comments at the top of the file.

For example, the generated App.js looks as such :

![](https://i.imgur.com/vkij37z.png)

`@flow` and `@format` are not vanilla Javascript constructs, yet there is no mention of it in the React Native documentation or anywhere else for that matt

[2019-07-01 15:02] emclab opened #1067 "Docs:Image example on remote network file does not work"
Here is [Image example](https://facebook.github.io/react-native/docs/image) that does not work:

      <Image
          style={{width: 50, height: 50}}
          source={{uri: 'https://facebook.github.io/react-native/docs/assets/favicon.png'}}
        />

I tested with other online image and it does not work as well. The only example I made work is with local image file (image1.jpg) which resides

[2019-07-01 16:26] #1067 closed

[2019-07-02 17:23] ecreeth opened #1071 "[Proposal] add tutorials section"
The main objective of this is to help people who are beginning to know **React Native** to better understand how applications are **created**, **designed**, **tested** and **distributed** using this framework. Part of #929

like [`makeitopen`](https://makeitopen.com/)

I propose to create a section of "**Tutorials**", which will be divided into the following parts:

1. Application design
2. Integr

[2019-07-03 13:08] ecreeth commented on #7
@philglazer that's works very nice for me

[2019-07-03 18:49] siddiquiehtesham opened #1076 "Missing "react-native start" in the Getting started docs"
I recently downloaded the latest version of react-native and was trying to run the app. After I ran react-native run-android I was getting the error of metro bundler. I found the solution that **react-native start** needs to be running a metro bundler server which is missing in the docs.

[2019-07-03 21:55] jaybabak opened #1077 "Search Doesn't Work"
Search doesn't work on the main react github.io site. Tried searching for something in the search bar -> press enter = no results displayed. Also seeing some console errors. Not a browser specific issue.

[2019-07-04 05:12] ppv94 opened #1078 "get latest captured image from gallery in react-native (IOS)?"
After capturing the image, I am triggering the CameraRoll.getPhotos method. In android, I am able to get the latest captured image in android, but in IOS I am getting the last image in the gallery but not the latest captured image.
### This is my camera roll method.

Get_PhotosIos() {
     CameraRoll.getPhotos({
         first: 1,
         groupTypes: 'All',
         assetType: 'All'
     })

[2019-07-04 15:05] jeremyscatigna commented on #929
Would love to help! 🙌What could I do ?

[2019-07-08 15:25] ecreeth commented on #1048
@shau-kote you can close this now! Thanks! :100:

[2019-07-08 15:28] ecreeth commented on #1077
@jaybabak works now! The problem happens when you change a new version, but it does not last long

[2019-07-08 15:34] ecreeth commented on #799
@hramos I think the [upgrade-helper](https://github.com/react-native-community/upgrade-helper) solves part of this problem

[2019-07-08 16:35] jaybabak commented on #1077
Yay :) Closing issue.

[2019-07-08 16:35] #1077 closed

[2019-07-09 19:11] moritzmhmk opened #1089 "Update PushNotificationIOS documentation to use Podfile (RN v60+)"
Manually linking the PushNotificationIOS library is no longer required!

Simply add

``pod 'React-RCTPushNotification', :path => '../node_modules/react-native/Libraries/PushNotificationIOS'``

to ``./ios/Podfile``

Then run ``cd ios && pod install && cd ..`` to update the Pods.

Then the usual ``react-native run-ios`` :)

[2019-07-10 13:12] ecreeth commented on #4
@814k31 you can close this issue, watchman is already mentioned!

[2019-07-10 13:18] ecreeth commented on #592
@nicostuhlfauth I think you can close this issue

[2019-07-10 13:19] #4 closed

[2019-07-10 17:46] #592 closed

[2019-07-12 03:05] chakrihacker opened #1093 "documentation inconsistency stylesheet absoluteFill"
What's the difference between absoluteFill
https://github.com/facebook/react-native-website/blob/master/docs/stylesheet.md#L161 and absoluteFillObject https://github.com/facebook/react-native-website/blob/master/docs/stylesheet.md#L177

Can we remove absoluteFillObject from stylesheet??

[2019-07-12 06:43] #923 closed

[2019-07-12 07:25] mjmasn opened #1096 "Improved upgrading guide has disappeared in 0.60.0 docs"
https://facebook.github.io/react-native/docs/0.59/upgrading
https://facebook.github.io/react-native/docs/upgrading
https://facebook.github.io/react-native/docs/next/upgrading

0.59 version mentions the new upgrade helper, but the change doesn't seem to have been carried over to the 0.60 docs.

[2019-07-12 18:49] Jeanmsilva89 commented on #33
I noticed that the Assets in the docs directory is not versioned. I think we should version the images as well. I'm happy to submit a PR for it if this is desired. Thanks!

[2019-07-13 02:59] mikeaustin commented on #929
What I don't understand is how the core method of registering and running an app is not documented? AppRegistry.runApplication() has 0 documentation in https://facebook.github.io/react-native/docs/appregistry#runapplication. I Googled to find out what appParameters are supported, but actually didn't find much. Is there not a transition period where the docs are not empty?

[2019-07-13 12:10] orta commented on #929
This sounds like a great opportunity for you to try and contribute to the docs @mikeaustin (/cc @jeremyscatigna  also?) - looks like these are [the params](https://github.com/facebook/react-native/blob/master/Libraries/ReactNative/AppRegistry.js#L36-L41) and here's [the function](https://github.com/facebook/react-native/blob/master/Libraries/ReactNative/AppRegistry.js#L81)

[2019-07-14 15:39] ecreeth commented on #929
@cpojer Please update the list above with the PRs that were merged. 📦 💯 To know better what we are missing

[2019-07-15 10:21] nabati opened #1105 "Add warning about React.memo and increasing memory usage?"
I'm wondering if we should add a warning under the performance section about using React.memo and/or useMemo.

As far as I can see, there's no limit to how many memoized variants can be saved in the cache. If your application is used for many hours at a time, and your memoized components/functions are called with many different props/arguments during this time, this could lead to the memory consum

[2019-07-15 12:50] nabati commented on #1105
This was based in an incorrect assumption.

https://codesandbox.io/s/react-hooks-usestate-c157c

[2019-07-15 12:50] #1105 closed

[2019-07-15 14:13] niedem opened #1106 "Communication-android incomplete or wrong"
The page about communication between android and react native (https://facebook.github.io/react-native/docs/communication-android) is incorrect or incomplete, even after fully copying it into a blank project it does not seem to work.

React native version: 0.60.3

[2019-07-16 07:58] akshaygore06 opened #1112 "Update README for npm and pod install instruction"
Need to add the instruction to install the node modules and pods in the readme file.
[Old issue](https://github.com/facebook/react-native-website/issues/676)

[2019-07-17 07:34] grahammendick opened #1116 "Level the playing field for navigation libraries"
### Introduction
The aim is to move towards some new text for the ["Navigating Between Screens” page](https://facebook.github.io/react-native/docs/navigation) that’s fair to all navigation libraries, both old and new.

### The Core of It
The first two promises on the front page of the React Native website are:

- The apps you are building with React Native aren't mobile web apps because React Nati

[2019-07-17 12:12] #1048 closed

[2019-07-18 01:30] BernabeFelix opened #1122 "Anchor to sendIntent prop in linking API doesn't work"
<img width="1252" alt="Screen Shot 2019-07-17 at 8 27 23 PM" src="https://user-images.githubusercontent.com/7790491/61422492-9270ad80-a8d1-11e9-94cc-26ebfe71598d.png">

When clicking on sendIntent, the page should take you to that prop's documentation but it doesn't

[2019-07-18 11:01] #1122 closed

[2019-07-19 10:26] idindrakusuma commented on #997
I think `react-native-website` already use Circle CI for Continous Integration. So, we don't need to add `travis.yml`.

[2019-07-19 10:28] rickhanlonii commented on #997
Hey @abhinavsagar, we're using Circle for CI here. Is there a reason we should have a travis.yml if we're not using it?

Going to close but I'm happy to keep the discussion open!

[2019-07-19 10:28] #997 closed

[2019-07-19 15:34] ecreeth opened #1131 "use [snack.io][WEB SUPPORT] instead of react-native-web-player"
As shown in the following image, snack.io now has web support.

The reason for this change is that the examples in the `snack` player are more similar to what they would look like on a real device.

![image](https://user-images.githubusercontent.com/20761166/61547097-b1c62280-aa18-11e9-89f0-7e901eb05297.png)

cc @hramos

[2019-07-19 16:35] kiranjd commented on #1078
Please post issues related to react-native on [react-native](https://github.com/facebook/react-native) repository. Before you post an issue, consider posting it on StackOverflow.

[2019-07-20 12:01] corjohnson commented on #1076
I had this same issue! I tried it multiple times, but eventually found a stack overflow answer

[2019-07-24 16:28] hramos commented on #1131
This seems fine to me. Are all existing uses of the react-native-web-player well supported when switched to use the Snack Web player?

[2019-07-24 18:42] ecreeth commented on #1131
I'm not 100% sure, I've tried all the examples in the "The Basics" section and they all work. Maybe @brentvatne can clarify this for us.

[2019-07-24 21:39] brentvatne commented on #1131
yeah they should work fine!

@ecreeth - can you open a PR for this so we can test it out with the automatically deployed netlify preview? (eg: https://github.com/facebook/react-native-website/pull/1142#issuecomment-514781241)

[2019-07-24 21:51] ecreeth commented on #1131
Of course!! :100: thanks for the clarification

[2019-07-25 02:39] ecreeth commented on #1131
the PR was created. I have noticed that the web player option does not appear. Any ideas
![imagen](https://user-images.githubusercontent.com/20761166/61841721-a84b1900-ae63-11e9-9db5-c465ad79cc13.png)

[2019-07-25 19:14] tcdavis commented on #1131
@ecreeth I believe this needs to be bumped to 33.0.0

[2019-07-25 20:53] ecreeth commented on #1131
@brentvatne it seems that the snack Embed Preview does not have the option of the web player
Thank you @tcdavis, once you sent the message I thought that could be the problem
![image](https://user-images.githubusercontent.com/20761166/61907761-20fdb400-aefc-11e9-9e58-e5af8d956daf.png)

[2019-07-25 23:17] tcdavis commented on #1131
@ecreeth Sorry about that.  Embeds should have the web preview now

[2019-07-26 14:11] RONAKDHOLARIYA opened #1147 "Fsevent ios"
If fsevent require for ios bundle so why you not mention at your documentation. It west time for to many beginners 0.54 version has not set up issue with so why it add upper version any clearyfication of it and when install it so disturb android bundle so bad. I hate this stuff. Please resolve asap.

[2019-07-28 11:05] o-t-w opened #1149 "Document which CSS features are not supported"
It would be incredibly helpful to have a list of the CSS properties that are not supported for native. I have read that you don't support CSS grid but have been unable to find out what else is missing.

[2019-07-29 01:39] sunnylqm commented on #1149
Are these docs what you are asking?

https://facebook.github.io/react-native/docs/layout-props
https://facebook.github.io/react-native/docs/view-style-props
https://facebook.github.io/react-native/docs/image-style-props
https://facebook.github.io/react-native/docs/text-style-props
https://facebook.github.io/react-native/docs/transforms
https://facebook.github.io/react-native/docs/shadow-props

App

[2019-07-29 01:43] sunnylqm commented on #1065
@format https://prettier.io/docs/en/options.html#require-pragma
@flow https://flow.org/en/docs/usage/#toc-prepare-your-code-for-flow

[2019-07-29 10:01] giacomocerquone opened #1151 "Add in docs that "location" is now an extracted module"
We should add in this page: https://facebook.github.io/react-native/docs/geolocation
that the module is extracted here (and so it's not global anymore): https://github.com/react-native-community/react-native-geolocation

If someone gives me the ok, I'll prepare the PR

[2019-07-30 11:31] abumostafa opened #1154 "[Docs] Internal URLs are broken"
* Go to https://facebook.github.io/react-native/docs/webview#props or https://facebook.github.io/react-native/docs/webview#methods
* Click on any prop ex. `source`
* You will get 404 `https://facebook.github.io/react-native/docs/webview.md#source`

The correct URL is `https://facebook.github.io/react-native/docs/webview#source`

[2019-07-30 17:25] rachelnabors opened #1156 "Add dev.to to footer"
And any other communities you know.

[2019-07-31 12:03] abhinavsagar commented on #1151
Go for it.

[2019-07-31 16:22] giacomocerquone commented on #1151
@abhinavsagar sorry but I can't find the geolocation md file inside the docs folder but I can't find it under versioned_docs.
What should I do? As you see under 0.60 the geolocation api is still there: https://facebook.github.io/react-native/docs/geolocation

[2019-08-03 06:05] aflahkp opened #1166 "Share not working on ios without a url"

[2019-08-03 06:05] #1166 closed

[2019-08-05 01:39] realPrimoh commented on #1056
Hm... it should just be {\n} for a new line.

[2019-08-05 13:12] scriptist opened #1168 "Device in header clips while rotating"
![Screenshot 2019-08-05 at 14 06 07](https://user-images.githubusercontent.com/1892776/62467123-e4974700-b78a-11e9-918d-1095bba80190.png)

[2019-08-05 13:16] scriptist commented on #1168
Only happens when the website is loaded in the background.

[2019-08-06 08:56] #1168 closed

[2019-08-07 13:00] #1131 closed

[2019-08-16 10:27] twelve17 opened #1188 "Add "space-evenly" as a valid value to "justifyContent""
Hello,

It looks like support for "space-evenly" was added here: https://github.com/facebook/yoga/pull/658

Though it seems like the docs do not mention it here: https://facebook.github.io/react-native/docs/flexbox

<img width="808" alt="Screenshot 2019-08-16 at 11 25 20" src="https://user-images.githubusercontent.com/788325/63161762-bdf1cf80-c018-11e9-96f3-6dc82c4b67a9.png">

Cheers

[2019-08-18 14:49] ecreeth commented on #1188
I have already sent a pull request in #1115. Thanks for notifying!

[2019-08-18 22:14] BatDroid commented on #929
I'm really interested in contributing to this repo. i've started working on `SectionList` but as a starter i have couple of questions that i would really appreciate if someone could help me with.
1. is it good if i re-order the props alphabetically?
2. `renderItem` is Optional in codebase. The reason is the functionality of rendering per item behaviour that if user use it then the `renderItem` wil

[2019-08-19 03:54] manojdp73 opened #1190 "Facing issue with react-native bundle build"
![Issue_with_react_native_bundle_build](https://user-images.githubusercontent.com/54257237/63238221-fbe23400-c262-11e9-828f-b7e1fa519a03.PNG)
Hi ,
Pls help me with the issue. Facing issue during react-native bundle build
System:
    OS: Windows 10
    CPU: (4) x64 Intel(R) Core(TM) i5-4210U CPU @ 1.70GHz
    Memory: 5.47 GB / 7.91 GB
  Binaries:
    Node: 10.16.0 - E:\Manoj\nodejs\node.EXE
    npm

[2019-08-20 14:43] edgarclerigo opened #1194 "[URGENT!!!!] iOS Integration with existing apps is not correct !"
Here:

https://facebook.github.io/react-native/docs/integration-with-existing-apps

Following those steps will lead you to a few errors, which might lead developers to lost a lot of time trying to find solutions for this ! Please update this page !

For example, the section

`Configuring CocoaPods dependencies`

On the Podfile, this part is incorrect

[code]

If i create a new react-project using

[2019-08-22 11:33] keshavkaul commented on #929
@cpojer Can someone review this PR that changes the recommended way to setup a new react native library? The currently recommended way is to use `react-native-create-library` package. But this package is not being maintained. The PR recommends using `create-react-native-module` instead.

https://github.com/facebook/react-native-website/pull/1118

[2019-08-26 08:32] sgup commented on #1089
This page should be updated: https://facebook.github.io/react-native/docs/pushnotificationios

[2019-08-28 06:44] mjmasn commented on #1096
@charpeni please reopen this issue, it has nothing to do with the linked PR

[2019-08-28 12:45] mjmasn commented on #1096
Thanks @charpeni!

In terms of getting this fixed, I guess the simple fix is copying the v59 version into the v60 version of the file, but the root cause seems like more of a process issue, in that anything added to the docs in a particular version should be copied to all newer versions.

I don't have evidence but I'm pretty sure this issue has happened a few times in the past, where documentation

[2019-08-30 21:52] ecreeth commented on #1188
You can close this now! PR **merged** in #1115

[2019-08-30 22:37] #1188 closed

[2019-09-01 02:36] M1seRy commented on #1190
Hi, you can try report your case in react native issues page => https://github.com/facebook/react-native/issues

[2019-09-03 10:46] charpeni opened #1212 "Missing libraries for React in Troubleshooting should reflect Cocoapods changes"
The [Missing libraries for React](https://facebook.github.io/react-native/docs/troubleshooting#missing-libraries-for-react) is still mentioning `.xcodeproj`, and `If you are using CocoaPods` doesn't make sense anymore.

Also, default pods are outdated.

[2019-09-03 15:01] alexfinnarn opened #1216 "Height And Width Flex Playground Not Working"
<img width="830" alt="Screen Shot 2019-09-03 at 10 59 49 AM" src="https://user-images.githubusercontent.com/3640707/64184825-11965280-ce3a-11e9-9302-e695d837e3d0.png">

There appears to be some faulty Markdown causing an issue with rendering. Oddly, I swear this worked for me a few days ago and that document says it hasn't been updated in 28 days.

[2019-09-03 15:04] alexfinnarn commented on #1216
Not sure if the four tick marks means something special like a directive in Docosaurus, but usually code blocks are three ticks.

[2019-09-04 01:10] daihovey commented on #273
Any update to this issue?

[2019-09-04 07:31] charpeni commented on #1216
This is working fine on my computer, at least. Can you try in Guest or Private browsing mode?

[2019-09-04 07:33] charpeni commented on #1190
As said ^

[2019-09-04 07:33] #1190 closed

[2019-09-04 07:48] charpeni commented on #1093
Description of both has been improved.

[2019-09-04 07:48] #1093 closed

[2019-09-04 10:07] jmeistrich opened #1230 "Cannot deep link to CLI sections"
It's not possible to deep link into a section on the React Native CLI Quickstart side of the page since those elements are hidden by default.

For example:
https://facebook.github.io/react-native/docs/getting-started#node-watchman-jdk

[2019-09-04 17:32] CodeLuca opened #1237 "Header Search Margin"
![image](https://user-images.githubusercontent.com/2649879/64277434-3ece2800-cf42-11e9-81b1-79386262fa65.png)
![image](https://user-images.githubusercontent.com/2649879/64277457-48f02680-cf42-11e9-9980-f84520f7409b.png)

As you can see there lacks equal margin around the search bar on the react native docs. This is an absolutely site-breaking feature that must be fixed asap. please mark as urgent.

[2019-09-04 17:37] charpeni commented on #1237
Hey @CodeLuca,

Thanks for reaching out.

I'm not sure I follow, what do you mean by `lacks equal margin` and how that's a site-breaking feature?

[2019-09-04 17:40] CodeLuca commented on #1237
Hey there @charpeni,
So if you look on the right side of the search bar, you can see when you hover over the "GitHub" link that the background of the "GitHub" link goes to a brighter color. The issue is, this background goes right upto the edge of the search bar. The "Blog" link however, when hovered over, does not go right to the edge of the search bar. Overall this creates inconsistency and thus

[2019-09-04 17:44] charpeni commented on #1237
Oh I see! Thanks for taking the time to fill an issue for this, I totally understand that it could be hurting to see this.

I wouldn't consider this urgent nor site-breaking feature, but I do understand the need to fix this.

Pull requests are open in the meantime, otherwise we'll tackle this by priority.

[2019-09-04 17:46] CodeLuca commented on #1237
@charpeni just to be clear I'm trolling. obvs love the work you guys are doing tho <3

[2019-09-04 21:54] alexfinnarn commented on #1216
I use the Brave browser, but in private mode still the same thing for me. I don't have Chrome installed so I can't say how that looks, but I have had issues rendering things with Chromium-based browsers that aren't Chrome before.

In Safari, the preview doesn't even show up for me.

<img width="795" alt="Screen Shot 2019-09-04 at 5 51 04 PM" src="https://user-images.githubusercontent.com/3640707/6

[2019-09-05 12:17] raajnadar commented on #1154
I tried the steps you mentioned but I couldn't reproduce the issue.

[2019-09-05 12:29] raajnadar commented on #302
This issue can be closed right??

[2019-09-05 19:20] #302 closed

[2019-09-08 15:55] chandanSigncatch opened #1249 "Animation Documentation seems to have a Typo error on its first example"
https://facebook.github.io/react-native/docs/animations#animated-api
fadeAdnim should be fadeAdmin on Animated Api example. Added a screenshot

<img width="635" alt="Screenshot 2019-09-08 at 9 22 56 PM" src="https://user-images.githubusercontent.com/52560427/64490853-0e0e2b80-d27f-11e9-94f2-08dac19a16ba.png">

[2019-09-09 11:11] pureinx commented on #1249
See pull #1241

[2019-09-10 14:00] LadyGaga1208 commented on #1212
Hi, my name is Lady Gaga.
Nice to meet you !

[2019-09-10 14:01] LadyGaga1208 commented on #1156
Hello
Nice to meet you !

[2019-09-11 19:43] ajfick opened #1260 "Document common JS functions that are unavailable in React-Native"
There are a few pretty common functions or features of Javascript in the browser that are not available in React-Native, or not available on specific platforms. For example the `Intl` class is not supported on the Android platform, and functions like `btoa()` and `atob()` for base64 encoding are not available in React-Native.

I believe it would be useful to point these out, and perhaps provide ex

[2019-09-13 10:49] imran1992 commented on #1047
I am also stuck here!

[2019-09-13 20:10] charpeni commented on #1249
Fixed, thanks for reporting this!

[2019-09-13 20:10] #1249 closed

[2019-09-16 19:27] rachelnabors opened #1272 "React Native Docs Refresh plan through 2019"
2019 React Native Docs Refresh

The docs site has grown organically since its conception, and because of this, has grown uneven in quality and quantity of content across different topics. Realigning the docs with what today’s learners need will require a bit of analysis to make sure our best efforts are put into the most important materials that learners need the most!

Over the past two months, I

[2019-09-17 20:59] ecreeth commented on #1071
I'm going to close this, because a better issue has been sent.

[2019-09-17 20:59] #1071 closed

[2019-09-18 20:39] Ashoat commented on #1058
`NSAllowsArbitraryLoads ` is new in the template `Info.plist` (as of https://github.com/facebook/react-native/pull/19643). I do think it would be helpful to update the referenced documentation. I'm guessing nobody noticed it before.

[2019-09-20 00:10] brodybits opened #1279 "TV documentation fixes needed"
__updated:__

On **Building For TV Devices** web page:

* ~~an internal Android tab seems to have no information~~
* it looks like some info _still_ needs to be updated now that Apple TV support was moved into the fork
* ~~The internal page URL and title are not consistent (see below)~~

Out of tree page:

* clarify or revert the changes from PR #1250 since the tvOS support is a fork and not a sep

[2019-09-20 10:49] troublediehard commented on #1047
Following works for me
[code]

[2019-09-22 06:19] Navidhp opened #1281 "Update document native ui component android"
hi , this issue about relayout (re-render native view) native ui component android ,there is no writing about this topic on document and react native developer losse time to find this please add to document or recommend how to usage

[code]
i don't know this method is safe to use but it worked , please suggest this method to use or recommend better method for relayout (re-render native view)
Thank

[2019-09-23 08:42] mjmasn commented on #1096
Fixed in https://github.com/facebook/react-native-website/pull/1161

[2019-09-23 08:42] #1096 closed

[2019-09-23 11:40] RobinCsl commented on #1058
@Ashoat Do you know who to tag to move that issue forward? I think I saw on Twitter that they are planning to revamp the security part of the docs, so maybe that's going to be taken care of too?

[2019-09-23 13:50] Ashoat commented on #1058
If you want to make this change it should be easy to put up a PR!

[2019-09-25 10:57] detroit007 opened #1286 "react-native run-android"
When I run this command "react-native run -android" the error showed up:
Command `run` unrecognized. Make sure that you have run `npm install` and that you are inside a react-native project.

the solution it says "npm install" so I follow the instruction and it showed the error as well:

npm WARN hami No description
npm WARN hami No repository field.
npm WARN hami No license field.

npm install :

[2019-09-25 14:55] peterkuiper opened #1288 "[docs] Typo in Native UI Components guide (iOS)"
`#import "RCTConvert+Mapkit.m"` should be `#import "RCTConvert+Mapkit.h"`

https://github.com/facebook/react-native-website/blob/10cb84e903d7051a3635f11b45fdcc5cca452c63/docs/native-components-ios.md#L144

[2019-09-25 22:51] AbelTesfaye opened #1291 "Outdated page in Android component docs"
Hello,

There's a slightly outdated page I recently encountered: https://facebook.github.io/react-native/docs/native-components-android

Can I fix it and send a PR ( for Hacktoberfest ) ?

[2019-09-27 09:00] tberghuis opened #1297 "List the default value of each style props"
The page https://facebook.github.io/react-native/docs/view-style-props will tell me the list of style props, each props type and if it's required but not what the default value is. Is there a way to find out what the default values are?

[2019-09-27 10:50] GreatAuk opened #1298 "Getting Started Width Typescript"
[React Native official doc](https://facebook.github.io/react-native/docs/0.60/typescript):
![image](https://user-images.githubusercontent.com/20253809/65763730-9da84b00-e156-11e9-80a6-dd63364f1a7a.png)
[react-native-template-typescript doc](https://github.com/react-native-community/react-native-template-typescript):
![image](https://user-images.githubusercontent.com/20253809/65763810-c7617200-e156

[2019-10-01 13:40] rmarquois opened #1310 "Integration with Existing Apps : update guide for iOS when using custom configuration"
Hi,

I'm working on React Native integration in an existing iOS app and until this day I was not be able to open the Developer Menu or reload app from simulator.

Xcode project has custom configuration and thats why Developer Menu was not enabled. Thanks to [this post](https://stackoverflow.com/a/37054623), I have learned this :

As advised, I simply added `project 'MyProject', 'MyCustomConfig' =>

[2019-10-01 18:11] gablabelle opened #1313 "The react-native version number is wrong in the react-native website header. It shows 0.60 instead of 0.61."
Hello,

The react-native version number is wrong in web site header at https://facebook.github.io/react-native/. It shows **0.60** instead of **0.61**.

<img width="1312" alt="Screen Shot 2019-10-01 at 2 07 53 PM" src="https://user-images.githubusercontent.com/1565793/65988036-11976b80-e455-11e9-8532-9b6e337a88ad.png">

[2019-10-01 18:15] gablabelle commented on #1313
https://github.com/facebook/react-native-website/pull/1296

[2019-10-02 15:42] betoharres opened #1315 "Add useWindowDimensions section"
Hello,
I couldn't find a single search result for `useWindowDimension` mentioned by Dan in the last blog post about 0.61 release. Though, through debugging, I found that `useWindowDimwnsions` returns this object:
[code]

Let me know if you guys would like me to do a PR.
Thanks

[2019-10-07 17:00] #1058 closed

[2019-10-07 21:07] ecreeth commented on #1272
### Reducing content size
I think it would be great to delete the old documentation

[2019-10-08 13:16] raajnadar commented on #1286
`react-native run-android` this is the right cmd (No space)

[2019-10-08 14:19] detroit007 commented on #1286
@raajnadar Thanks!

[2019-10-08 14:19] #1286 closed

[2019-10-08 16:30] blakek opened #1329 "PushNotificationIOS Podfile example is incorrect"
At one time, the file showed the correct information. However, it was overwritten by PR #1214 and is now incorrect.

A PR is coming shortly that reverts the change and adds syntax highlighting to the example.

[2019-10-08 16:58] ecreeth commented on #1045
I think it would be good to create a section called **Deprecated Components** where it is explained why it was decided to move these components and where they can find them.

or a sub-category

[2019-10-08 18:19] ecreeth commented on #1313
Fixed in #1309

[2019-10-08 18:21] ecreeth commented on #7
This ws fixed in #1174!

[2019-10-08 18:23] #1313 closed

[2019-10-08 21:23] rickhanlonii commented on #1045
That may be useful, but we still would want to create individual pages for the old URLs so when people land there they can go to the right place

[2019-10-09 09:31] FDiskas opened #1331 "Missing typescript type definition for StyleSheet.compose()"
https://facebook.github.io/react-native/docs/stylesheet#compose

[2019-10-11 16:37] #1288 closed

[2019-10-11 16:38] #400 closed

[2019-10-14 19:27] rickhanlonii opened #1338 "Lint docs for insensitive and inconsiderate language"
## Overview

**Update: All of the docs have been claimed 🚧🎉**

Now that we have landed the lint process and fixed the lint issues in the `docs/` directory, we're looking to also lint all of the instances of insensitive and inconsiderate language in the `versioned_docs` directory (i.e. the docs for old versions of React Native.

## How
If you want to lint one of these directories, follow these step

[2019-10-14 20:51] bolah2009 commented on #1338
I am working on `version-0.61`.

[2019-10-14 21:06] jrr opened #1340 "Document debug vs. release behaviors and how to individually control them"
There are several effects implied by `--configuration Debug` vs `--configuration Release`:
- How the JavaScript is compiled (minification, etc.)
- Whether a development server is in use, vs. including the javascript in the application
- How the _native code_ is compiled. (debug symbols, etc.)
- ...?

When I'm investigating a new release-only problem, I want to individually control each of these as

[2019-10-14 21:51] thackley commented on #1338
I'll start on `version-0.5`

[2019-10-14 22:26] carolstran commented on #1338
I can take `version-0.6` 🙋

[2019-10-14 22:30] anselb commented on #1338
I can work on `version-0.59`

[2019-10-14 22:37] rickhanlonii commented on #1338
Heads up @thackle, 0.5 will have the most issues (there are 179) because it's the initial docs so it has all of the files. All of the versions after that only include docs that are different the the previous version

If this is more than you signed up for then feel free to select another version!

[2019-10-14 23:43] thackley commented on #1338
@rickhanlonii Thanks for the heads up!

Only thing left to do is modify `pop` in navigator.md but since that's not in the current `docs/` directory, thoughts on what to do?

[2019-10-14 23:56] medeirosjoaquim commented on #1338
I'll  work on version-0.59  !  :)

[2019-10-15 00:57] medeirosjoaquim commented on #1338
I also made a PR for version-015!

[2019-10-15 05:54] jonodavis commented on #1338
I will work on version 0.40

[2019-10-15 09:45] rickhanlonii commented on #1338
@thackley you could also change any instances that reference the method to \`pop\`, and any instances that reference the concept to "Get and remove the late item"

Examples:
And change

To

Change

To:

[2019-10-15 10:04] lahin31 commented on #1338
I will work on version 0.50

[2019-10-15 10:06] carolstran commented on #1338
I can pick up `version-0.7` now 🍬

[2019-10-15 10:58] lahin31 commented on #1338
Hi Ricky,
I found POP is a lint error it suggested to change Pop to Parent. But Pop is a Facebook's own open source project.

[2019-10-15 11:20] hatwell commented on #1338
I can take version-0.58 :)

[2019-10-15 12:56] rachelnabors commented on #1272
@ecreeth Which ones in particular?

[2019-10-15 13:03] mateosilguero commented on #1338
I want to work to 0.57 ! :)

[2019-10-15 13:15] rickhanlonii commented on #1338
@lahin31 for this instance I changed pop to \`pop\`

[2019-10-15 13:58] salvariable commented on #1338
I'll take version 0.56 💃

[2019-10-15 14:00] yakovleva-tanya commented on #1338
I'd like to work on 0.55 :)

[2019-10-15 14:08] eduardocappellotto commented on #1338
i'd like to work on 0.54

[2019-10-15 14:12] nitaking commented on #1338
I'll take version 0.53 😎

[2019-10-15 14:18] rickhanlonii commented on #1338
@nitaking could you pick another version?

[2019-10-15 15:12] lahin31 commented on #1338
@rickhanlonii ok got it. I am working on the 0.50 then.

[2019-10-15 15:35] mats-codes commented on #1338
Hi, I'd love to work on

0.53

[2019-10-15 15:42] dibosh commented on #1338
Taking `version-0.43`

[2019-10-15 15:44] ecreeth commented on #1272
I'm not sure which versions are currently obsolete in React Native. I can see that in the upgrade helper it only supports versions greater than **0.23.1**

[2019-10-15 15:59] salvariable commented on #1338
Taking 0.51 as well

[2019-10-15 16:55] mats-codes commented on #1338
I'll go for 0.52 as well :)

[2019-10-15 17:52] rickhanlonii commented on #1338
Hey all!

Great work so far!

One note on ignoring rules: I've noticed that I worded this poorly in the original description and I didn't specify that you'll need to provide the rule name you're ignoring.

So you can ignore with:

[code]

Where `{rule name}` is the name of the rule you want to ignore. So if you want to ignore the 'host-hostess' rule on a line, you would add this to the line above

[2019-10-15 20:26] salvariable commented on #1338
Working on 0.47

[2019-10-15 20:36] thackley commented on #1338
i'll also take `version-0.8` 😀

[2019-10-15 21:01] salvariable commented on #1338
Sorry, version 0.9 is taken

[2019-10-15 21:28] kaueDM opened #1358 "Right sidebar breaking when end of the page is reached"
[code]

<img width="1440" alt="snap" src="https://user-images.githubusercontent.com/20171863/66871046-332a4400-ef79-11e9-86d0-edf6db3b5af9.png">

[2019-10-15 22:48] sasurau4 commented on #1338
I'll take `website/versioned_docs/version-0.49`

[2019-10-16 00:11] Naturalclar commented on #1338
Hello! I'd like to work on `website/versioned_docs/version-0.48`

[2019-10-16 01:26] sogafish commented on #1338
I will take version-0.47!

[2019-10-16 01:26] shukubota commented on #1338
I will take version-0.46

[2019-10-16 01:29] takutakutakujiro commented on #1338
I will take version-0.42!

[2019-10-16 01:31] salvariable commented on #1338
0.47 is already in process

[2019-10-16 01:36] sogafish commented on #1338
oh..
i take version-0.45

[2019-10-16 06:25] dannypike opened #1368 "Learn the Basics example "Hello World" window is blank"
I just tried reading the introduction ("Learn the Basics") and I was presented with a [blank window](http://prntscr.com/pjwgqa) for the Hello World example.

I am using Firefox Quantum 69.0.3 (64-bit) on Windows 10 1809 (build 17763.737)

[2019-10-16 06:29] dannypike commented on #1368
More info:

1. The [root](http://prntscr.com/pjwiqe) div is empty when I inspect it;
1. It works OK on Chrome

[2019-10-16 10:40] rickhanlonii commented on #1338
Hey all,

Great work! I'm amazed so many people are interested in helping out here, thank you all so much!

One note, to make it easier to merge your PRs: If you enable this setting then I can fix any minor issues (like merge conflicts) and merge your PR right away:

![image](https://user-images.githubusercontent.com/2440089/66912004-9d8ac500-f009-11e9-8a6c-806aa5d52cc0.png)

[2019-10-16 10:46] elharony commented on #1368
To save the project maintainer some time, I've tested it on the following browsers, and it works fine:
- `Brave` - _Version 0.69.135 Chromium: 77.0.3865.120 (Official Build) (64-bit)_
- `Safari` - _IOS 13.1.2_

Does it mean that it works on all major browsers, except `Firefox Quantum`? 🤔

Btw, do you see any errors in your `Console`?

[2019-10-16 10:48] YutamaKotaro commented on #1338
I will take version-0.41!

[2019-10-16 10:55] elharony commented on #1358
I see!
Give me a few minutes, and I will fix it 👍

[2019-10-16 11:50] elharony commented on #1358
Noticed.
I will try to fix it today 🙏

[2019-10-16 11:57] nottledim opened #1370 "tiny_log.png not loaded in Image component on Android"
The tutorial page https://facebook.github.io/react-native/docs/using-a-scrollview introduces the use of Image component which refers to the tiny_logo.png image https://facebook.github.io/react-native/img/tiny_logo.png

This image does not display on Android using the Expo app.  An error 'unknown image format' is generated.

Looking at this file it seems it is not a png file at all; it's an "MS Win

[2019-10-16 13:05] leiteszeke commented on #1338
I'll take version-0.39 :D

[2019-10-16 13:18] carolstran commented on #1338
I can take `version-0.10` 🤸‍♀

[2019-10-16 13:51] thackley commented on #1338
I can take `version-0.11`

[2019-10-16 16:16] thackley commented on #1338
i'll also take `version-0.12` and `version-0.14` 🤓

[2019-10-16 17:14] dannypike commented on #1368
Well done, @elharony !

My FF was configured to block cookies from websites that I have not visited already and that broke the tutorial. May be worth considering putting a check in it to see that you are able to use foreign cookies? Anyway, problem is fixed, thank you

[2019-10-16 17:14] #1368 closed

[2019-10-16 18:09] salvariable commented on #1338
Closing that 0.44 gap 💪

[2019-10-16 19:51] salvariable commented on #1338
Will take on 0.17 too

[2019-10-16 23:14] matheusmonte commented on #1338
I can take 0.16

[2019-10-16 23:39] elharony commented on #1368
I think it worth a `Warning/Note`, as I guess it's related to [docusaurus](https://docusaurus.io/) (The documentation tool RN use), and if my assumption is correct, it would be affecting many documentation websites as well.

Hope someone gives us some insights here!

[2019-10-17 00:26] salvariable commented on #1338
Don't be afraid of the twenties... going for 0.27

[2019-10-17 01:09] medeirosjoaquim commented on #1338
Hi, Im doing version 0.30 :)

[2019-10-17 04:12] mats-codes commented on #1338
I'll take 0.37 as well.

[2019-10-17 10:53] walaura commented on #1338
hi! can I take `0.33`?

[2019-10-17 10:58] mehtavishwa30 commented on #1338
Hello! I can take `version-0.18`! ✨

[2019-10-17 11:06] matthew-was commented on #1338
Hi, I can take `version-0.19`

[2019-10-17 11:17] matthew-was commented on #1338
changes to `version-0.20` are similar to `0.19` so I'll pick that up as well

[2019-10-17 11:25] bolah2009 commented on #1338
Can I do 34, 35 and 36? I submitted PR for 38 now.

[2019-10-17 11:30] rickhanlonii commented on #1338
@matthew-was @bolah2009 sounds good! Please remember to put the different versions in different PRs branched from master so it's easier for us to review/merge 👌

[2019-10-17 11:34] hatwell commented on #1338
I can take 32 now :)

[2019-10-17 11:45] kirsty-simmonds commented on #1338
I would like website/versioned_docs/version-0.21 🐽

[2019-10-17 12:08] tchayen commented on #1338
I can take `version-0.26`

[2019-10-17 12:19] kirsty-simmonds commented on #1338
May I please have `website/versioned_docs/version-0.24` 🐽🐽

[2019-10-17 12:29] rickhanlonii commented on #1338
Saving 0.22 for @isabelacmor 👯‍♀️

[2019-10-17 13:35] walaura commented on #1338
Can I do `0.31` next? I'm hooked!

[2019-10-17 13:44] mesaugat commented on #1338
Can I take 0.25? I see that it is not taken.

[2019-10-17 13:47] walaura commented on #1338
`0.23` pls?